

<form (ngSubmit)="createProduct()" #createproduct="ngForm">
<!-- <div class="form-group" > -->

<div id = "form" >
<mat-form-field>  
  <input matInput placeholder="Product's name" name="name" id="name" hintLabel="Prdouct's name " [(ngModel)]="formInput.name"> 
  </mat-form-field>
  
  <div >     
  <mat-form-field>
    <textarea matInput placeholder="Products description" name="description" id="description" [(ngModel)]="formInput.description"></textarea>
  </mat-form-field>
  </div>

  <div>
  <mat-form-field>
    <input matInput placeholder="Price" type="double" name="price" id="price" class="example-right-align" [(ngModel)]="formInput.price">
    <span matPrefix>$&nbsp;</span>
  </mat-form-field>
  </div>


  <div>
      <div>
  <mat-form-field>
    <mat-select matInput placeholder="Product is up for" name="acquiringType" id="acquiringType" [(ngModel)]="formInput.acquiringType">
      <mat-option value="rent"  name="rent">rent</mat-option>
      <mat-option value="sell"  name="sell" >sell</mat-option>
      <mat-option value="rent/sell"  name="rent/sell" >rent/sell</mat-option>

    </mat-select>
  </mat-form-field>
</div>
</div>

<div>

  <mat-form-field>
     <input matInput placeholder="rent period if exists" type="number" name="rentPeriod" id="rentPeriod" [(ngModel)]="formInput.rentPeriod" class="example-right-align">
  </mat-form-field>
</div>

 <div>
      <mat-form-field>
       <input matInput placeholder="image URL" name="imageURL" id="imageURL" hintLabel="Image URL " [(ngModel)]="formInput.imageURL"> 
       </mat-form-field>
 </div>

 


</div>



<div  class="form-group">
    <div id="pic" >
  <form action="/action_page.php">
    <input type="file" name="pic" id="pic" [(ngModel)]="formInput.pic"  accept="image/*" capture>
  </form>    
</div>
<!-- <div><img image src="https://vignette.wikia.nocookie.net/spongebob/images/a/ac/Spongebobwithglasses.jpeg/revision/latest?cb=20121014113150" alt="Product's Picture" id="image"/> </div> -->
<div>
  <img image src= {{formInput.imageURL}} alt="Product's Picture" id="image"/> 
</div>
</div>

<div> 
    <!-- <button mat-button class="md-raised md-primary" id="submit" type="submit" style="width:15%; background:#3f51b5; color:white" (click)="createProduct()">Create Product</button> -->
    <button mat-button id="submit" type="submit" (ngSubmit)="createProduct()" >Create Product</button>

  </div>
<!-- </div> -->

</form>









<!-- <div>
  <div class="subsection" data-filter="images">
<p>If you’d like, you can <button type="button" 
  class="btn_link"
   onclick="TS.client.ui.files.$upload.trigger('click');">upload a new image</button>.</p>
  </div>   -->
      