/* .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  } */
  .mat-form-field{
    width:700px !important;
  }
  body {
    position: relative;
}

#form {     
    width: 700px;          
    height: 100px;         
    position: absolute;
    top: 10%;
    left: 20%;
    margin-top: -50px;     
    margin-left: -150px;     
}

#submit {     
  /* width: 70px;           */
  height: 40px;         
  position: absolute;
  bottom: 20%;
  left: 50%;
  margin-bottom: -50px;     
  margin-left: -100px;     
}
#image {                   
  position: absolute;
  bottom: 35%;
  left: 60%;
  margin-bottom: -10px;     
  margin-left: -450px;  
      
}

/* label {
  display: inline-block;
  width: 140px;
  text-align: right;
}​ */

  /* .ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; 
  }
  
  .ng-invalid:not(form)  {
    border-left: 5px solid #a94442; 
  } */
  