<div class="row text-center">
  <div class="col-md-4">
    <div class="btn-group">
      <div
        class="btn btn-primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        {{ 'SCHEDULING.CALENDAR.PREVIOUS' | translate }}
      </div>
      <div
        class="btn btn-outline-secondary"
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        {{ 'SCHEDULING.CALENDAR.TODAY' | translate }}
      </div>
      <div
        class="btn btn-primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        {{ 'SCHEDULING.CALENDAR.NEXT' | translate }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <h3>{{ 'SCHEDULING.CALENDAR.' + (viewDate | date:'MMM').toUpperCase() | translate }} {{viewDate | date: 'yyyy' }}</h3>
  </div>
  <div class="col-md-4">
    <div>
      <div class="btn-group">
        <div
          class="btn btn-primary"
          (click)="viewChange.emit('month')"
          [class.active]="view === 'month'">
          {{ 'SCHEDULING.CALENDAR.MONTH' | translate }}
        </div>
        <div
          class="btn btn-primary"
          (click)="viewChange.emit('week')"
          [class.active]="view === 'week'">
          {{ 'SCHEDULING.CALENDAR.WEEK' | translate }}
        </div>
        <div
          class="btn btn-primary"
          (click)="viewChange.emit('day')"
          [class.active]="view === 'day'">
          {{ 'SCHEDULING.CALENDAR.DAY' | translate }}
        </div>
      </div>
    </div>
  </div>
</div>
<br>