<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>Study Plans</h2>
        <ul class="breadcrumb p-l-0 p-b-0 ">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">
              <i class="zmdi zmdi-home"></i>sQuare</a>
          </li>
          <li class="breadcrumb-item">
            <i class="zmdi zmdi-graduation-cap">
            </i> Study Plans</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="body">
        <div *ngIf="type === 'personal' && !currIsChild">
          <a class="btn btn-primary" routerLink="/study-plan-edit/create/new/{{username}}" color="primary" style="float: right;">Create A New Study Plan</a>
          <br />
          <br />
          <br />
        </div>
        <mat-paginator *ngIf="type === 'published'" [length]="numberOfElements" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="getStudyPlans($event)"></mat-paginator>
        <div class="row">
          <div class="card col-3" *ngFor="let plan of studyPlans; let index = index">
            <div class="header">
              <h2>
                <span class="badge badge-info float-right" *ngIf="plan.assigned === true && type==='personal'">Assigned</span>
                <strong>{{plan.title}}</strong>
                <br/> {{plan.creator}}
              </h2>
            </div>
            <div class="body">
              <p>
                <a class="btn btn-primary" routerLink="/study-plan/{{type}}/{{plan._id}}/{{username}}">View</a>
                <button class="btn btn-primary" (click)="studyPlans.splice(index,1); delete(plan)" color="primary" *ngIf="!currIsChild">Delete</button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>