<div class="publishedPLans-container">
  <mat-card>
    <div *ngIf="type === 'personal' && !currIsChild">
      <a mat-raised-button routerLink="/study-plan-edit/create/{{username}}/new" color="primary" style="float: right;">Create A New Study Plan</a>
      <br /><br /><br />
    </div>
    <mat-paginator *ngIf="type === 'published'" [length]="numberOfElements" 
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      (page)="getStudyPlans($event)"
      ></mat-paginator>
    <div class="row">
      <mat-card *ngFor="let plan of studyPlans" class="col-3">
        <mat-card-title>{{plan.title}}</mat-card-title>
        <mat-card-subtitle>{{plan.creator}}</mat-card-subtitle>
        <mat-card-actions>
          <a mat-raised-button routerLink="/study-plan/{{type}}/{{plan._id}}/{{username}}">View</a>
          <button mat-raised-button (click)="delete(username,plan)" color="primary" *ngIf="!currIsChild">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-card>
</div>