<div class="row text-center">
  <div class="col-md-4">
      <button
        mat-raised-button
        color="primary"
        mwlCalendarPreviousView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        Previous
      </button>
      <mat-divider [vertical]="true"></mat-divider>
      <button
        mat-raised-button
        mwlCalendarToday
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        Today
      </button>
      <mat-divider [vertical]="true"></mat-divider>
      <button
        mat-raised-button
        color="primary"
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        (viewDateChange)="viewDateChange.next(viewDate)">
        Next
      </button>
  </div>
  <div class="col-md-4">
    <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
  </div>
  <div class="col-md-4">
    <div>
      <button
        mat-raised-button
        color="primary"
        (click)="viewChange.emit('month')"
        [class.active]="view === 'month'">
        Month
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="viewChange.emit('week')"
        [class.active]="view === 'week'">
        Week
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="viewChange.emit('day')"
        [class.active]="view === 'day'">
        Day
      </button>
    </div>
  </div>
</div>
<br>