<div class="container-fluid" *ngIf="reqs && reqs.length > 0">
  <div class="row">
    <div class="card col-auto">
      <div class="container-fluid">
        <div class="card col-md-4 clickable" *ngFor="let req of reqs" (click)="viewReq(req)">

          <div class="header">
            <h2>
              <strong>
                {{req.studyPlan.title}}
              </strong>
            </h2>
          </div>

          <div class="body" style="margin-left: 5%">
              <span style="font-size: 15px">Request type: {{req.requestType}} </span>
              <br />
              <span style="font-size: 15px">Created by: {{req.studyPlan.creator}} </span>
              <br />
              <span style="font-size: 15px">Created on: {{req.createdOn | date:'dd MMM yyyy'}} </span>
          </div>
          
        </div>
      </div>
    </div>
    <div class="card col-auto">
      <div class="header">
        <h2>
          <strong>{{ studyPlan.title }}</strong>
        </h2>
      </div>
      <div class="card page-calendar col-auto">
        <div class="row">

          <div class="col-md-12 col-lg-4 col-xl-4">
            <div class="body">
              <button class="btn btn-default hidden-lg-up m-t-0 float-right" data-toggle="collapse" data-target="#open-events" aria-expanded="false"
                aria-controls="collapseExample">
                <i class="zmdi zmdi-chevron-down"></i>
              </button>
              <div class="collapse-xs collapse-sm collapse" id="open-events">
                <br />
                <br />
                <hr />
                <div class="event-name b-primary row clickable" *ngFor="let event of events; let index = index" (click)="viewDate = event.start;">
                  <div class="col-2 text-center">
                    <h4>{{ event.start | date:'dd' }}
                      <span>{{ 'SCHEDULING.CALENDAR.' + (event.start | date:'MMM').toUpperCase() | translate }}</span>
                      <span>{{ event.start | date:'yyyy' }}</span>
                    </h4>
                  </div>
                  <div class="col-10">
                    <h6>{{ event.title }}</h6>
                    <p>{{ event.meta && event.meta.description ? event.meta.description : 'SCHEDULING.SCHEDULE.NO_DESCRIPTION_TAG'
                      | translate }}</p>
                    <address>
                      <i class="zmdi zmdi-pin"></i>
                      Mars
                    </address>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="col-md-12 col-lg-8 col-xl-8">
            <div class="body">
              <div class="row text-center">
                <div class="col-md-4">
                  <div class="btn-group">
                    <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="headerChange()">
                      {{ 'SCHEDULING.CALENDAR.PREVIOUS' | translate }}
                    </div>
                    <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="headerChange()">
                      {{ 'SCHEDULING.CALENDAR.TODAY' | translate }}
                    </div>
                    <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="headerChange()">
                      {{ 'SCHEDULING.CALENDAR.NEXT' | translate }}
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <h3>{{ 'SCHEDULING.CALENDAR.' + (viewDate | date:'MMM').toUpperCase() | translate }} {{viewDate | date: 'yyyy'
                    }}
                  </h3>
                </div>
                <div class="col-md-4">
                  <div>
                    <div class="btn-group">
                      <div class="btn btn-primary" (click)="headerChange().emit('month')" [class.active]="view === 'month'">
                        {{ 'SCHEDULING.CALENDAR.MONTH' | translate }}
                      </div>
                      <div class="btn btn-primary" (click)="headerChange().emit('week')" [class.active]="view === 'week'">
                        {{ 'SCHEDULING.CALENDAR.WEEK' | translate }}
                      </div>
                      <div class="btn btn-primary" (click)="headerChange().emit('day')" [class.active]="view === 'day'">
                        {{ 'SCHEDULING.CALENDAR.DAY' | translate }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div [ngSwitch]="view">
                <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                  (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-month-view>

                <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
                  (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-week-view>

                <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
                  (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
                </mwl-calendar-day-view>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!-- <hr/> -->
      <div class="card">
        <div class="header">
          <h2>
            <strong>{{ 'SCHEDULING.STUDYPLAN.DESCRIPTION' | translate }}</strong>
          </h2>
        </div>
        <div class="body">
          <div class="ql-editor preview" [innerHTML]="description"></div>
        </div>
        <hr />
        <div class="row justify-content-around">
          <button class="btn btn-primary" (click)="respondStudyPlanPublishReqs('approved', selectedReq._id, selectedReq.studyPlan)">Approve</button>
          <button class="btn btn-primary" (click)="respondStudyPlanPublishReqs('disapproved', selectedReq._id, selectedReq.studyPlan)">Reject</button>
        </div>
      </div>
    </div>
  </div>
</div>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">