<form #updateDetails="ngForm" [ngSwitch]="this.toggleEditForm">
  <div class="modal-body">
    <!-- Title -->
    <h2 class="title" id="largeModalLabel" style="word-break: break-all;">{{data.product.name}}</h2>

    <!-- Body -->
    <div class="row" width="100%">
      <!-- Image -->
      <div class="image col-lg-4 col-md-4 col-sm-4 col-12" style="max-width: 50vw; max-height: 50vh; min-width: 30vw; min-height: 30vh">
        <img src={{data.product.image}} onerror="this.src='assets/images/market-view/product.jpg'" alt="img" style="vertical-align:center"
          class="rounded img-raised">
      </div>

      <div class="col-lg-7 col-md-7 col-sm-7 col-12">

        <!-- Price -->
        <p *ngSwitchCase="false" style="font-size:20px; color: #3f51b5">{{data.product.price}}
          <span style="font-size: 15px; color: #3f51b5"> EGP</span>
          <button mat-icon-button *ngIf="data.product.seller == data.curUser" (click)="this.editPrice()">
            <mat-icon>edit</mat-icon>
          </button>  
        </p>
        <!-- Edit Data -->
        <div *ngSwitchCase="true" class="input-group" style="width: 40%">
          <span class="input-group-addon">
            <i class="zmdi zmdi-money"></i>
          </span>
          <input type="number" name="price" id="price" [(ngModel)]="formInput.price" class="form-control money-dollar">
          <button mat-icon-button *ngIf="data.product.seller == data.curUser" (click)="this.editPrice()">
            <mat-icon>edit</mat-icon>
          </button>  
        </div>

        <li>
          <span style="font-weight: bold">Product Information:</span>
        </li>
        <div style="word-wrap: break-word;">
          {{data.product.description}}
        </div>
        <li>
          <span style="font-weight: bold">Created At: </span> {{data.product.createdAt | date }}
        </li>

        <li>
          <span style="font-weight: bold">For {{data.product.acquiringType}}</span>
          <span *ngIf="data.product.rentPeriod">: {{data.product.rentPeriod}} days</span>
        </li>

        <li>
          <span style="font-weight: bold">Sold by: </span>
          <a routerLink="profile/{{data.product.seller}}">{{data.product.seller}}</a>
        </li>

        <li>
          <span style="font-weight: bold">Shipping to: </span>
        </li>

      </div>
    </div>
  </div>

  <!-- Button -->
  <div style="max-height: 20%; text-align: right">
    <button *ngIf="data.product.seller !== data.curUser" class="btn btn-default btn-simple btn-round waves-effect" style="width:50%;">Acquire</button>
    <button *ngIf="data.product.seller == data.curUser || data.isAdmin" class="btn btn-danger btn-simple btn-round waves-effect"
      style="width: 50%;">Delete</button>
  </div>

</form>