<form #updateDetails="ngForm" [ngSwitch]="this.toggleEditForm">
  <div class="modal-body">
    <!-- Title -->
    <div class="row">
      <div class="col">
        <h2 class="title" id="largeModalLabel" style="word-break: break-all;">{{data.product.name}}</h2>
      </div>
      <div class="col-2" *ngIf="this.user && (this.user.username==this.product.seller || this.user.isAdmin)">
        <button (click)="this.deleteProduct()" class="btn btn-danger btn-round btn-icon hidden-sm-down float-right m-l-10" type="button">
          <i class="zmdi zmdi-delete"></i>
        </button>
      </div>
    </div>
    <!-- Body -->
    <div class="row" width="100%">
      <!-- Image -->
      <div class="image col-lg-4 col-md-4 col-sm-12 col-12" >
        <img src={{data.product.image}} onerror="this.src='assets/images/market-view/product.jpg'" alt="img" style="vertical-align:center"
          class="rounded img-raised" style="max-width:350px; max-height: 450px; min-width: 200px; min-height: 300px">
      </div>

      <div class="col-lg-7 col-md-7 col-sm-12 col-12">

        <!-- Price -->
        <p *ngSwitchCase="false" style="font-size:20px; color: #3f51b5">{{data.product.price}}
          <span style="font-size: 15px; color: #3f51b5"> {{ 'MARKET.PROD_DETAIL.EGP' | translate }}</span>
          <button mat-icon-button *ngIf="data.product.seller == data.curUser" (click)="this.editPrice()">
            <mat-icon>edit</mat-icon>
          </button>
        </p>
        <!-- Edit Data -->
        <div *ngSwitchCase="true" class="input-group" style="width: 40%">
          <span class="input-group-addon">
            <i class="zmdi zmdi-money"></i>
          </span>
          <input type="number" name="price" id="price" [(ngModel)]="formInput.price" class="form-control money-dollar">
          <button mat-icon-button *ngIf="data.product.seller == data.curUser" (click)="this.editPrice()">
            <mat-icon>edit</mat-icon>
          </button>
        </div>

        <li>
          <span style="font-weight: bold">{{ 'MARKET.PROD_DETAIL.PROD_INFO' | translate }}</span>
        </li>
        <div style="word-wrap: break-word;">
          {{data.product.description}}
        </div>

        <li>
          <span *ngIf="data.product.acquiringType === 'rent'" style="font-weight: bold">{{'MARKET.PROD_DETAIL.ACQTYPERENT' | translate}}</span>
          <span *ngIf="data.product.acquiringType === 'sell'" style="font-weight: bold">{{'MARKET.PROD_DETAIL.ACQTYPESELL' | translate}}</span>
          <span *ngIf="data.product.acquiringType === 'rent/sell'" style="font-weight: bold">{{'MARKET.PROD_DETAIL.ACQTYPEBOTH' | translate}}</span>
          <span *ngIf="data.product.rentPeriod" style="font-weight: bold">{{'MARKET.PROD_DETAIL.DAYS' | translate: {days: data.product.rentPeriod} }}</span>
        </li>

        <li>
          <span style="font-weight: bold">{{ 'MARKET.PROD_DETAIL.SOLD' | translate }}</span>
          <a routerLink="profile/{{data.product.seller}}">{{data.product.seller}}</a>
        </li>
        <small class="date text-muted col-6">{{ 'MARKET.PROD_DETAIL.CREATED_AT' | translate: {date: data.product.createdAt | date} }}</small>
      </div>
    </div>

    <!-- Button -->
    <div *ngIf="data.product.seller !== data.curUser" style="max-height: 20%; text-align: right">
      <button class="btn btn-default btn-simple btn-round waves-effect" style="width:50%;">{{ 'MARKET.PROD_DETAIL.ACQUIRE' | translate }}</button>
    </div>

  </div>
</form>