/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import "~css-star-rating/scss/star-rating";
.meta-input {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
}

.vertical-center {
    min-height: 95%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 94vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.center {
    margin: auto!important;
}