/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import 'https://cdn.quilljs.com/1.3.6/quill.core.css';
.main-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.component-container{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}