
@import "../../../assets/css/blog.css";
.bg {
    /* The image used */
    background-image: url("../../../assets/images/imageedit_17_5178569633.png");
    width:100%;
    /* Center and scale the image nicely */
    background-repeat: repeat;
    
}