<h1 mat-dialog-title style="font-size: 35px; font-weight: bold">{{data.product.name}}</h1>
<div class="container">
  <div class="row" style="height:300px">
    <mat-card class="col-3 mat-elevation-z0">
      <img mat-card-image src="https://scontent.fcai2-1.fna.fbcdn.net/v/t1.0-9/14485131_10210320173537680_4408570680648711511_n.jpg?_nc_cat=0&oh=66cc033ec0f55ef103dcb73cdc6fd38c&oe=5B6D61BA" alt="Photo of a Shiba Inu" style="height:300px ">
    </mat-card>
    <mat-card class="col-6 mat-elevation-z0">
      <p style="font-size:20px; color: #3f51b5">{{data.product.price}}
        <span style="font-size: 15px; color: #3f51b5"> EGP</span>
      </p>
      <li>
        <span style="font-weight: bold">Product Information:</span>
      </li>
      <p>{{data.product.description}}</p>
      <li>
        <span style="font-weight: bold">Created At:</span>
      </li>
      <span>{{data.product.createdAt}}</span>
    </mat-card>
    <mat-card class="col mat-elevation-z0">
      <li>
        <span style="font-weight: bold">For {{data.product.acquiringType}}:</span>
        <span *ngIf="data.product.rentPeriod"> {{data.product.rentPeriod}} days</span>
      </li>

      <li>
        <span style="font-weight: bold">Sold by: </span>
        <a routerLink="market">{{data.product.seller}}</a>
      </li>
      <li>
          <span style="font-weight: bold">Shipping to: </span>
        </li>
        <mat-card-actions>
            <button mat-button class="md-raised md-primary" style="width:100%; background:#3f51b5; color:white">Acquire</button>   
          </mat-card-actions>

    </mat-card>
  </div>
</div>