      <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">{{ 'MESSAGING.DIALOG.NEW_MSG' | translate }}</h4>
            </div>
            <div class="modal-body"> 
                <div class="form-group form-float">
                    <input #receiver type="text" placeholder="{{ 'MESSAGING.DIALOG.TO' | translate }}" class="form-control" [(ngModel)]="Receiver">
                </div>
                <div class="form-group form-float">
                    <textarea #body class="form-control" placeholder="{{ 'MESSAGING.DIALOG.TYPE_MSG' | translate }}" style="height:350px;" [(ngModel)]="Body"></textarea>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-round waves-effect" (click)="send(); Receiver=''; Body=''; receiver.value=''; body.value=''">{{ 'MESSAGING.MESSAGING.SEND_MSG' | translate }}</button>
              <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">{{ 'MESSAGING.MESSAGING.CANCEL' | translate }}</button>
            </div>
          </div>