      <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">New Message</h4>
            </div>
            <div class="modal-body"> 
                <div class="form-group form-float">
                    <input #receiver type="text" placeholder="To:" class="form-control" [(ngModel)]="Receiver">
                </div>
                <div class="form-group form-float">
                    <textarea #body class="form-control" placeholder="Enter Your Message Here" style="height:350px;" [(ngModel)]="Body"></textarea>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary btn-round waves-effect" (click)="send(); Receiver=''; Body=''; receiver.value=''; body.value=''">SEND</button>
              <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">CANCEL</button>
            </div>
          </div>