#edit {
    margin-right: 3%;
    float: right;
    width: 30px;
    height: 30px;
    color: white;
}
#delete {
    margin-right: 1%;
    float: right;
    color: white;
    width: 30px;
    height: 30px;
}
.mat-icon {
    font-size: 150%;
}
.psych {
    width:32%;
    margin-left:1%;
    margin-top: 20px;
    top: 20px;
    bottom: 20px;
    padding-bottom:0px;
    padding-left:0px;
    padding-right:0px;
}
.info {
    margin-right:3%;
    margin-left:3%;
    padding-right:5%;
    padding-left:5%;
}
.mat-card-footer {
    background: #99D5C9;
    height:42px ;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 0 !important;
    padding: 0px 0px 0px !important;
    margin-top: 10%;
}
.row {
    padding: 2%;
}
.chips {
    height:50px;
}
@media (max-width: 800px) {
    .psych {
        width: 45%;
    }
    .chips {
        height:80px;
    }
}
@media (max-width: 1000px) {
    .chips {
        height:80px;
    }
}
@media (max-width: 600px) {
    .psych {
        width: 100%;
    }
}
