<div align = "center">
<mat-card style="width: 98%; top:10px; padding: 5%">
  <div align = "left">
    <div class="row"> 
  
  <span id="header"><mat-icon id="header_icon">face</mat-icon>Verified Psychologists</span>
  </div>
  <br>
  <div align="right">
  <button mat-fab color="primary" style="color:white" align="right"><mat-icon>add</mat-icon></button>
  </div>
  <div class="row" style="min-height:250px">
    <mat-card class="psych" *ngFor="let psych of psychologists; let i = index" style="top:20px">
      <mat-card-title class="info">{{psych.firstName}} {{psych.lastName}}</mat-card-title>
      <mat-card-content class="info">
        <div class="row">
        <mat-icon id="icon">phone</mat-icon>
        <span style="font-weight: bold">Phone</span>
        <span id="contnt">{{psych.phone}}</span>
        </div>
        <div class="row" style="height: 80px">
        <mat-icon id="icon">home</mat-icon>
        <span style="font-weight: bold">Address</span>
        <span id="contnt">{{psych.address}}</span>
        </div>
        <br>
        <div class="row">
        <mat-icon id="icon">mail</mat-icon>
        <span style="font-weight: bold">Email</span>
        <span id="contnt">{{psych.email}}</span>
        </div>
        <div class="row">
        <mat-icon id="icon">date_range</mat-icon>
        <span style="font-weight: bold">Days off</span>
        </div>
        <div class="chips">
        <mat-chip-list>
          <mat-chip *ngFor="let day of psych.daysOff" style="background: #00031e;color:white;">{{day}}</mat-chip>
        </mat-chip-list>
        </div>
        <br>
      <div class="row">
          <mat-icon id="icon">money</mat-icon>
        <span style="font-weight: bold">Maximum Price Range:</span>
        <span id="contnt">{{psych.priceRange}}</span>
      </div>
    </mat-card-content>
      <mat-card-footer id="footer" style="padding-bottom:5px">
          <button mat-icon-button id="delete" align="right" (click)="deletePsychologist(i)"> <mat-icon>close</mat-icon></button>
          <mat-form-field>
              <input matInput placeholder="idd" type="number" name="idd" id="idd" [(ngModel)]="formInput.idd"  class="example-right-align">       
            </mat-form-field>
          <button mat-icon-button id="edit" align="right" (click)="this.goToEdite()"> <mat-icon>Edite</mat-icon></button>
      </mat-card-footer>
      





    </mat-card>
  </div> </div>
</mat-card>
</div>
