<div *ngIf="user">
  <textarea id="msg" class="form-control" placeholder="Type your message!" style="height:350px;" [(ngModel)]="msg.body"></textarea>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-round waves-effect" (click)="contact_us()">{{ 'LANDING.SEND' | translate }}</button>
    <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">{{ 'LANDING.CANCEL' | translate }}</button>
  </div>
</div>

<div *ngIf="visitor">
  <input id="from" type="text" placeholder="{{ 'LANDING.PROVIDE_EMAIL' | translate }}" class="form-control" [(ngModel)]="msg.sender">
  <textarea id="msg" class="form-control" placeholder="{{ 'LANDING.TYPE_MSG' | translate }}" style="height:350px;" [(ngModel)]="msg.body"></textarea>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-round waves-effect" (click)="contact_us()">{{ 'LANDING.SEND' | translate }}</button>
    <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">{{ 'LANDING.CANCEL' | translate }}</button>
  </div>
</div>
