.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
  }
  
  .mat-table {
    overflow: auto;
    max-height: 500px;
  }

  .demo-tab-group {
    border: 1px solid #e8e8e8;
  }
  
  .demo-tab-content {
    padding: 16px;
  }


   
.btn {
    background-color: royalblue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: orange; 
}
