 <div id="div" *ngIf="div">
    <label>
      Messaging is only permitted for users above the age of 13. Sorry!
    </label>
  </div>
  
  <div *ngIf="!div">
      <br/>
      <button mat-raised-button color="primary" class="btn" (click)="openDialog()">COMPOSE</button>
      <br/>
      <br/>
  </div>

  <div style="float:right; margin-left:200px;">
      <mat-list role="list" class="list" *ngFor="let contact of contacts">
          <mat-list-item role="listitem"> {{contact._id}} </mat-list-item>
      </mat-list>
  </div>

  <div *ngIf="!div">
  <mat-tab-group>
      <mat-tab label="Inbox">
          <div style="max-width:800px; padding-left: 6%;" *ngFor="let message of inbox">
          <mat-card>
              <mat-card-header>
                <div mat-card-avatar><mat-icon>face</mat-icon></div>
                <mat-card-title class="text"> {{message.sender}} </mat-card-title>
                <div style="text-align: right; margin-left: 75%;">
                    <mat-card-subtitle> {{message.sentAt|date}} </mat-card-subtitle>
                </div>
              </mat-card-header>
              <mat-card-content>
                <p>
                    {{message.body}}
                </p>
              </mat-card-content>
              <mat-card-footer style="text-align: right;">
                  <button mat-icon-button class="replybtn" (click)="openReplyDialog(message.sender)"><mat-icon>reply</mat-icon></button>
                  <button mat-icon-button class="forwardbtn" (click)="openForwardDialog(message)"><mat-icon>forward</mat-icon></button>
                  <button mat-icon-button class="iconbtn" (click)="deleteMessage(message)"><mat-icon>delete</mat-icon></button>
                  <button mat-icon-button class="iconbtn" (click)="block(message)"><mat-icon>block</mat-icon></button>
              </mat-card-footer>
          </mat-card>
          <br/>
          </div>
      </mat-tab>


      <mat-tab label="Sent">
            <div style="max-width:800px; padding-left: 6%;" *ngFor="let msg of sent">
                <mat-card>
                    <mat-card-header>
                      <div mat-card-avatar><mat-icon>face</mat-icon></div>
                      <mat-card-title class="text"> {{msg.recipient}} </mat-card-title>
                      <div style="text-align: right; margin-left: 75%;">
                          <mat-card-subtitle> {{msg.sentAt|date}} </mat-card-subtitle>
                      </div>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                          {{msg.body}}
                      </p>
                    </mat-card-content>
                    <mat-card-footer style="text-align: right;">
                        <button mat-icon-button class="replybtn" (click)="openReplyDialog(msg.recipient)"><mat-icon>reply</mat-icon></button>
                        <button mat-icon-button class="forwardbtn" (click)="openForwardDialog(msg)"><mat-icon>forward</mat-icon></button>
                        <button mat-icon-button class="iconbtn" (click)="deleteMessage(msg)"><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button class="iconbtn" (click)="block(msg)"><mat-icon>block</mat-icon></button>
                    </mat-card-footer>
                </mat-card>
                <br/>
            </div>
      </mat-tab>
    </mat-tab-group>
    </div>