<section class="content">
  <!-- Navigation -->
  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Start Bootstrap</a>
      <a class="btn btn-primary" href="#">Sign In</a>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </header>

  <!-- ADD SOMETHING LIKE, WHAT DO WE OFFER? here-->

  <!-- Image Showcases -->
  <section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/images/landing/study.jpeg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Enhance your learning experience</h2>
          <p class="lead mb-0">Whether you are a home-schooled stuent, or a typical student, we got your back, with educational resources, study
            plans, and more.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/images/landing/activity.jpeg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Enjoy some extracurricular time</h2>
          <p class="lead mb-0">Want to learn photography? Or maybe attend a little session on pre-medieval alchemy? How about some Yoga then?
            Check out the activities offered on our website.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('assets/images/landing/teacher.jpeg');"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Connect with Teachers and Parents</h2>
          <p class="lead mb-0">Look for parents and teachers in your area and get in touch with them. Have them recommend content to you and your
            children.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img" style="background-image: url('assets/images/landing/notall.jpg');"></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>That's not all...</h2>
          <p class="lead mb-0">We have a marketplace full of educational stuff, and an address book of verified psychologists, oh, blah blah blah</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Testimonials -->
  <section class="testimonials text-center bg-light">
    <div class="container">
      <h2 class="mb-5">The Lovely Founders</h2>
      <div class="row">
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/images/landing/testimonials-1.jpg" alt="">
            <h5>Nada Donia</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/images/landing/testimonials-2.jpg" alt="">
            <h5>founder #2</h5>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <img class="img-fluid rounded-circle mb-3" src="assets/images/landing/testimonials-3.jpg" alt="">
            <h5>founder #3</h5>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Call to Action -->
  <section class="call-to-action text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">
          <h2 class="mb-4">Ready to get started? Sign up now!</h2>
        </div>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
          <form class="container">
            <div class="form-row" class="container">
              <div class="col-12 col-md-3" class="container" style="max-width: 40%;">
                <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="footer bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
          <ul class="list-inline mb-2">
            <li class="list-inline-item">
              <a href="#">About Us</a>
            </li>
            <li class="list-inline-item">&sdot;</li>
            <li class="list-inline-item">
              <a href="#">Contact Us</a>
            </li>
          </ul>
          <p class="text-muted small mb-4 mb-lg-0">&copy; Nawwar 2018. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fa fa-facebook fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item mr-3">
              <a class="btn btn-primary" (click)="switchLang()">Switch Language</a>
            </li>
            <li class="list-inline-item mr-3">
              <a href="#">
                <i class="fa fa-twitter fa-2x fa-fw"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fa fa-instagram fa-2x fa-fw"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</section>