<div class="container">
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Title" [(ngModel)]="title">
    </mat-form-field> 
    <mat-card-title>{{ title }}</mat-card-title>    
    <app-calendar-header
      [(view)]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="fetchEvents()"
      (viewChange)="fetchEvents()">
    </app-calendar-header>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view
        *ngSwitchCase="'month'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        [activeDayIsOpen]="activeDayIsOpen"
        (dayClicked)="dayClicked($event.day)"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>

      <mwl-calendar-week-view
        *ngSwitchCase="'week'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>

      <mwl-calendar-day-view
        *ngSwitchCase="'day'"
        [viewDate]="viewDate"
        [events]="events"
        [refresh]="refresh"
        (eventClicked)="handleEvent('Clicked', $event.event)"
        (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
  </mat-card>
  <mat-card>
      <div class="row">
        <div class="col-md-9">
          <mat-card-title>Edit events</mat-card-title>
        </div>
        <div class="col-md-3">
          <button
            mat-raised-button
            color="primary"
            style="float: right;"
            (click)="addEvent()">
            Add new
          </button>
        </div>
      </div>
      
      <div class="clearfix"></div>

      <br />
        
        <table class="table table-bordered">
        
          <thead>
            <tr>
              <th>Title</th>
              <th>Primary color</th>
              <th>Secondary color</th>
              <th>Starts at</th>
              <th>Ends at</th>
              <th>Remove</th>
            </tr>
          </thead>
        
          <tbody>
            <tr *ngFor="let event of events; let index = index">
              <td>
                <input
                  type="text"
                  class="form-control"
                  [(ngModel)]="event.title"
                  (keyup)="refresh.next()">
              </td>
              <td>
                <input
                  type="color"
                  [(ngModel)]="event.color.primary"
                  (change)="refresh.next()">
              </td>
              <td>
                <input
                  type="color"
                  [(ngModel)]="event.color.secondary"
                  (change)="refresh.next()">
              </td>
              <td>
                <app-date-time-picker
                  [(ngModel)]="event.start"
                  [time]="event.start | date:'HH:mm'"
                  (ngModelChange)="refresh.next()"
                  placeholder="Choose a date">
                </app-date-time-picker>
              </td>
              <td>
                <app-date-time-picker
                  [(ngModel)]="event.end"
                  [time]="event.end | date:'HH:mm'"
                  (ngModelChange)="refresh.next()"
                  placeholder="Choose a date">
                </app-date-time-picker>
              </td>
              <td>
                <button
                  mat-raised-button
                  color="warn"
                  (click)="events.splice(index, 1); refresh.next()">
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        
        </table>
  </mat-card>
  <mat-card label="Content Description">
    <mat-card-title>Description Editor</mat-card-title>
    <quill-editor class="text-editor" [options]="editorOptions" [(ngModel)]="editorContent" name="editorContent" (change)="onContentChanged($event)"></quill-editor>
  </mat-card>
  <mat-card label="Description Preview">
    <mat-card-title>Description Preview</mat-card-title>
    <div class="ql-editor preview" [innerHTML]="editorOut"></div>
  </mat-card>
  <mat-card>
    <h2 *ngIf="type === 'create'">
      Press the button on the right to finish creation.
      <button
        mat-raised-button
        color="primary"
        style="float: right;"
        (click)="create()">
        Create
      </button>
    </h2>
    <h2 *ngIf="type === 'edit'">
      Press the button on the right to save your changes.
      <button
        mat-raised-button
        color="primary"
        style="float: right;"
        (click)="saveChanges()">
        Save Changes
      </button>
    </h2>
  </mat-card>
</div>
  