mat-paginator {
    position: fixed;
    z-index: 1;
}

.activities-container {
    margin-top: 3%;
}

.creation-Children{
    position: absolute;
}

#creation {
    right: 2%;
    position: fixed;
    z-index: 1;
}