<div class="container-fluid pt-4">
  <div class="row">

    <div class="col-lg-1"></div>

    <div class="col-lg-8 col-md-12">

      <div *ngIf="reqs && reqs.length == 0">
        <div class="not_found text-center pt-5 text-warning">
          <i class="zmdi zmdi-mood-bad zmdi-hc-4x "></i>
          <h4 class="m-b-0">{{ 'ADMIN.VIEW_CONTENT_REQUESTS.NO_REQUESTS_HERE' | translate }}</h4>
        </div>

      </div>
      <form viewRequestsForm="ngForm">
        <div class="row clearfix">
          <div class="card-columns">
            <div class="card request-card" *ngFor="let req of reqs">
              <div class="header">
                <h2>
                  <strong>
                    <a href="profile/{{req.creator}}">
                      <i class="zmdi zmdi-account-o"></i>
                      {{req.creator}}
                    </a>
                  </strong>
                </h2>
                <small>
                  <span class="date text-muted">
                    <i class="zmdi zmdi-calendar"></i>
                    {{req.createdOn | date: 'MM/dd/yyyy' : 'locale' }}
                  </span>
                </small>
              </div>
              <div class="body">
                <div class="header">
                  <div class="file-name">
                    <div class="text-center">
                      <p class="m-b-5">{{req.contentTitle}}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer bg-transparent border-0" align="end">
                <a href="javascript:void(0);">
                  <div class="hover">
                    <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary waves-effect" (click)="approveContentRequest(req._id,req.contentID,req.creator)"
                    data-toggle="tooltip" data-placement="bottom" title="Accept">
                      <i class="zmdi zmdi-check"></i>
                    </button>
                    <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger waves-effect" (click)="disapproveContentRequest(req._id,req.contentID, req.requestType, req.creator)"
                    data-toggle="tooltip" data-placement="bottom" title="Reject">
                      <i class="zmdi zmdi-close"></i>
                    </button>
                    <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary waves-effect" (click)="viewCont(req.contentID)"
                    data-toggle="tooltip" data-placement="bottom" title="View details">
                      <i class="zmdi zmdi-view-module"></i>
                    </button>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-lg-3 col-md-12 right-box" >

      <div class="container">
        <div class="card bg-dark w-80">
          <div class="header text-center">
            <h2>
              <strong>
                {{ 'ADMIN.VIEW_CONTENT_REQUESTS.FILTER_REQUESTS' | translate }}
              </strong>
            </h2>
          </div>
          <div class="body column">
            <div class="container">
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-6 col-md-12">
                    <div class="checkbox">
                      <input id="CBIdea" type="checkbox" (click)="refreshCBs()">
                      <label class="col-white" for="CBIdea">
                        {{ 'ADMIN.VIEW_CONTENT_REQUESTS.IDEA' | translate }}
                      </label>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-12">
                    <div class="checkbox">
                      <input id="CBRes" type="checkbox" (click)="refreshCBs()">
                      <label class="col-white" for="CBRes">
                        {{ 'ADMIN.VIEW_CONTENT_REQUESTS.RESOURCE' | translate }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="container mt-2">
              <div class="col-lg-12">
                <div class="row" *ngIf="res || idea">
                  <div class="col-lg-6 col-md-12">
                    <div class="checkbox">
                      <input id="CBEdit" type="checkbox" (click)="refreshCBs()">
                      <label class="col-white" for="CBEdit">
                        {{ 'ADMIN.VIEW_CONTENT_REQUESTS.EDIT' | translate }}
                      </label>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">

                    <div class="checkbox">
                      <input id="CBCreate" type="checkbox" (click)="refreshCBs()">
                      <label class="col-white" for="CBCreate">
                        {{ 'ADMIN.VIEW_CONTENT_REQUESTS.CREATE' | translate }}
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>