
<div class="con">
  <h1>Sign Up</h1>
    <p>Sign up for your child </p>
    <hr>
  <div>
      <input type="text" #fname [(ngModel)]="Firstname" name= "" placeholder="Enter first name:" required/>
      <input type="text" #lname [(ngModel)]=Lastname name= "" placeholder="Enter last name:" required/>
      <input type="text" #username [(ngModel)]=Username name= "" placeholder="Enter username:" required/>
    <input type="text" [(ngModel)]=Email name= "" placeholder="Enter email:" required/>
    <input type="password" [(ngModel)]=Password name= "" placeholder="Enter password: ***" required/>
    <input type="password" [(ngModel)]=ConfirmPassword name= "" placeholder="Enter password again: ***" required/>
    <input type="text" [(ngModel)]=Birthdate name= "" placeholder="Enter birthdate: MM/DD/YYYY" required/>
    <input type="text" [(ngModel)]=Phone name= "" placeholder="Enter phone:"required/>
    <input type="text" [(ngModel)]=Address name= "" placeholder="Enter address:"/>

    <input type="submit" (click) ="register()" />
  </div>
  </div>


     
<div *ngIf ="Div1">  

    <label>
      Your passwords don't match, please re-insert them!
    </label>
  </div>