body{
	font-family: 'Josefin Sans', sans-serif;
	padding:0;
	margin:0;
}

.con{
	position: absolute;
  margin: auto;
  top: -250px;
  right: 155px;
  bottom: 0;
  left: 0;
  width: 200px;
  height: 200px;
  border-radius: 3px;
}


h1{
	margin-top: 40px;
	margin-left: 16px;
	color: #fa3380;
}
p{
	margin-left: 20px;
	color: deepskyblue;
}

hr{
	width: 159px;
	border-color: #fa3380;

}

form{
	margin-top: 40px;
}

input[type=text]{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	color: #fa3380;
	display: block;
	margin: 15px 0px 0px 10px;
	padding: 10px 10px 10px 10px;
	width: 350px;
	border-radius: 3px;
	border-top: 0px;
	border-bottom: 1px solid deepskyblue;
	border-left: 0px;
	border-right: 0px;
	outline: none;
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus{
	display: block;
	margin: 15px 0px 0px 10px;
	padding: 10px 10px 10px 10px;
	width: 390px;
	border-radius: 3px;
	border-top: 0px;
	border-bottom: 2px solid #fa3380;
	border-left: 0px;
	border-right: 0px;
	outline: none;
	
}


input[type=password]{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	color: deepskyblue;
	display: block;
	margin: 15px 0px 0px 10px;
	padding: 10px 10px 10px 10px;
	width: 350px;
	border-radius: 3px;
	border-top: 0px;
	border-bottom: 2px solid deepskyblue;
	border-left: 0px;
	border-right: 0px;
	outline: none;
	-webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=password]:focus{
	display: block;
	margin: 15px 0px 0px 10px;
	padding: 10px 10px 10px 10px;
	width: 400px;
	border-radius: 3px;
	border-top: 0px;
	border-bottom: 3px solid #fa3380;
	border-left: 0px;
	border-right: 0px;
	outline: none;
	
}

input[type=password]::placeholder {
  color: #fa3380;
}

input[type=text]::placeholder {
  color: deepskyblue;
}


input[type=submit]{
	flex: 1 1 auto;
	width: 371px;
	height: 50px;
	padding: 10px;
	outline: none;
	transition: 0.5s;
  background-size: 200% auto;
  color: white;
 /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
	border-radius: 100px;
	border: 1px solid #fff;
	margin-top: 20px;
	margin-left: 10px;
	background-image: linear-gradient(to right, #fa3380 0%, #a6c1ee 51%, deepskyblue 100%);
  color: #fff;
}

input[type=submit]:hover {
  background-position: right center; /* change the direction of the change here */
}
