<!--
<div class="con">
  <h1>Sign Up</h1>
    <p>Sign up for your child </p>
    <hr>
  <div>
      <input type="text" #fname [(ngModel)]="Firstname" name= "" placeholder="Enter first name:" required/>
      <input type="text" #lname [(ngModel)]=Lastname name= "" placeholder="Enter last name:" required/>
      <input type="text" #username [(ngModel)]=Username name= "" placeholder="Enter username:" required/>
    <input type="text" [(ngModel)]=Email name= "" placeholder="Enter email:" required/>
    <input type="password" [(ngModel)]=Password name= "" placeholder="Enter password: ***" required/>
    <input type="password" [(ngModel)]=ConfirmPassword name= "" placeholder="Enter password again: ***" required/>
    <input type="text" [(ngModel)]=Birthdate name= "" placeholder="Enter birthdate: MM/DD/YYYY" required/>
    <input type="text" [(ngModel)]=Phone name= "" placeholder="Enter phone:"required/>
    <input type="text" [(ngModel)]=Address name= "" placeholder="Enter address:"/>

    <input type="submit" (click) ="register()" />
  </div>
  </div>


     
<div *ngIf ="Div1">  

    <label>
      Your passwords don't match, please re-insert them!
    </label>
  </div>
-->
<section class="content">
<div class="authentication sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
    <div class="container">
      <div class="navbar-translate n_logo">
        <a class="navbar-brand" href="javascript:void(0);" title="" target="_blank">sQuare</a>
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" routerLink="/dashboard">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:void(0);">Search Result</a></li>
          <li class="nav-item">
            <a class="nav-link" title="Follow us on Twitter" href="javascript:void(0);" target="_blank">
              <i class="zmdi zmdi-twitter"></i>
              <span class="d-lg-none d-xl-none m-l-10">Twitter</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" title="Like us on Facebook" href="javascript:void(0);" target="_blank">
              <i class="zmdi zmdi-facebook"></i>
              <span class="d-lg-none d-xl-none m-l-10">Facebook</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" title="Follow us on Instagram" href="javascript:void(0);" target="_blank">
              <i class="zmdi zmdi-instagram"></i>
              <span class="d-lg-none d-xl-none m-l-10">Instagram</span>
            </a>
          </li>
          <li class="nav-item"><a class="nav-link btn btn-white btn-round" routerLink="/authentication/sign-in">SIGN IN</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="page-header">
    <div class="container">
      <div class="col-md-12 content-center">
        <div class="card-plain">
     <!--     <form class="form"> -->
            <div class="header">
              <div class="logo-container expandUp">
                <img src="assets/images/logo.svg" alt="">
              </div>
              <h5>Sign Up For Your Child</h5>
              <span>Register a new membership</span>
            </div>
            <div class="content">
                <div class="input-group">
                    <input type="text" class="form-control" [(ngModel)]="Firstname" placeholder="Enter First Name">
                    <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                  </div>
                  <div class="input-group">
                      <input type="text" class="form-control" [(ngModel)]=Lastname placeholder="Enter Last Name">
                      <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                    </div>
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]=Username placeholder="Enter User Name">
                <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
              </div>
              <div class="input-group">
                <input type="text" class="form-control" [(ngModel)]=Email placeholder="Enter Email">
                <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
              </div>
              <div class="input-group">
                <input type="password" [(ngModel)]=Password placeholder="Password" class="form-control" />
                <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
              </div>
              <div class="input-group">
                <input type="password" [(ngModel)]=ConfirmPassword placeholder="Confirm Password" class="form-control" />
                <span class="input-group-addon"><i class="zmdi zmdi-lock"></i></span>
              </div>
              <div class="input-group">
                  <input type="date" [(ngModel)]=Birthdate placeholder="Birthdate" class="form-control" />
                  <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                </div>
                <div class="input-group">
                    <input type="text" [(ngModel)]=Address placeholder="City"  class="form-control"/>
                    <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                  </div>
                <div class="input-group">
                    <input type="text" [(ngModel)]=Phone placeholder="Phone(s)" class="form-control" />
                    <span class="input-group-addon"><i class="zmdi zmdi-account-circle"></i></span>
                  </div>
                  
            </div>
            <div class="checkbox">
              <input id="terms" type="checkbox">
              <label for="terms">
                I read and agree to the <a href="javascript:void(0);">terms of usage</a>
              </label>
            </div>
            <div class="footer">
              <a routerLink="/dashboard" class="btn btn-primary btn-round btn-lg btn-block waves-effect waves-light" (click) ="register()"  >SUBMIT</a>
              <h5><a class="link" routerLink="/authentication/sign-in">You already have a membership?</a></h5>
            </div>
         <!-- </form>  -->
         <div class="container-fluid">
            <div class="row clearfix js-sweetalert">
             <div class="col-md-12 col-lg-6">
              <div  *ngIf="Div3" class="card">
              <div class="body">
                <p>Your Child Account has been created!</p>
                <button class="btn btn-raised btn-primary waves-effect btn-round" data-type="success">Yaaay!</button>
              </div>
            </div>
          </div>
        </div>
      </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav>
          <ul>
            <li><a href="http://thememakker.com/contact/" target="_blank">Contact Us</a></li>
            <li><a href="http://thememakker.com/about/" target="_blank">About Us</a></li>
            <li><a href="javascript:void(0);">FAQ</a></li>
          </ul>
        </nav>
          <div class="copyright">
          &copy; {{year}},
          <span>Designed by <a href="http://thememakker.com/" target="_blank">ThemeMakker</a></span>
        </div>  
      </div>
    </footer>
  </div>
</div>
</section>