<label>To:</label>
<mat-chip-list> 
  <mat-chip>{{ this.data.replyTo }}</mat-chip>
</mat-chip-list>

<mat-form-field class="example-container">
  <textarea #body class="textarea" matInput [(ngModel)]="Body"></textarea>
</mat-form-field>
<br/>

<button mat-raised-button color="primary" (click)="send(); body.value=''">Send</button>

<button mat-raised-button color="warn" (click)="dialogRef.close()">
  Cancel
</button>

<div id="div2" *ngIf="div2">
    <br/>
    <mat-card>You can't send an empty message.</mat-card>
</div>

<div id="div3" *ngIf="div3">
    <br/>
    <mat-card>Your message has been sent.</mat-card>
</div>


<div id="div4" *ngIf="div4">
  <br/>
  <mat-card>Sorry, you are blocked.</mat-card>
</div>