<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>{{ 'ACTIVITIES.LIST.ACTIVITIES' | translate }}
          <small>{{ 'ACTIVITIES.LIST.ACTIVITIES' | translate }}</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" *ngIf="user.verified" type="button" (click)="showCreateActivityForm()">
                                                                                                                          <!--TODO: redirect to create Page-->
          <i class="zmdi zmdi-plus"></i>
        </button>
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">
              <i class="zmdi zmdi-home"></i>Dashboard</a>
          </li>
          <li class="breadcrumb-item active">{{ 'ACTIVITIES.LIST.ACTIVITIES' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div *ngFor="let activity of detailedActivities" class="col-lg-4 col-md-12">
        <div class="card single_post">
          <div class="header">
            <h2>
              <strong>{{ 'ACTIVITIES.LIST.LATEST_ACTIVITY' | translate }}</strong></h2>
          </div>
          <div class="body">
            <h2 class="m-t-0 m-b-5" style="color: #242424;">
              <small><a style="color: #242424; max-width: 100%" routerLink="/activities/{{activity._id}}">{{activity.name}}</a></small>
            </h2>

              <span class="col-md-9">

                <i class="zmdi zmdi-account col-blue" style="margin-right: 5px;"></i><span style="font-style: italic; color: #959595;">Posted By: {{activity.creator}}</span>
              </span>
              <span class="col-md-5">
                <i class="zmdi zmdi-comment-text col-blue" style="margin-right: 5px;"></i><span style="margin-right: 3px; font-style: italic; color: #959595;">Comments: {{activity.discussion.length}}</span>
              </span>
          </div>
          <div class="body">
            <div class="img-post col-sm-13 m-b-15">
              <div class="activity-image" style.background="url({{activity.image}})" ></div>

            </div>
            <p>{{activity.description}}</p>
            <a routerLink="/activities/{{activity._id}}" title="read more" class="btn btn-round btn-info">{{ 'ACTIVITIES.LIST.READ_MORE' | translate }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!--<mat-paginator [length]="numberOfElements" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="pageEvent = getActivities($event)">-->
  <!--</mat-paginator>-->
  <!--<div id="creation" *ngIf="canCreate">-->
    <!--<a class="btn btn-primary" href="{{createUrl}}">Create Activity</a>-->
  <!--</div>-->
  <!--<div class="activities-container">-->
    <!--<mat-card *ngFor="let activity of activities" class="activity-card">-->
      <!--<a routerLink="/activities/{{activity._id}}">-->
        <!--<h3 id="activities-header">{{ activity.name }}</h3>-->
        <!--<img mat-card-lg-image [src]="activity.image" />-->
      <!--</a>-->
      <!--<p class="time">From: {{ activity.fromDateTime | date:'yyyy-MM-dd HH:mm:ss': 'locale'}}</p>-->
      <!--<p class="time">To: {{ activity.toDateTime | date:'yyyy-MM-dd HH:mm:ss': 'locale'}}</p>-->
      <!--<p class="price">{{ activity.price | currency: 'EGP'}}</p>-->
    <!--</mat-card>-->

  <!--</div>-->

</section>

<div class="modal" id="createModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div>
      <app-activity-create></app-activity-create>
    </div>

    <div class="modal-footer" style="display: none;">
      <button type="button" class="btn btn-default" id="btn11" data-dismiss="modal">{{ 'ACTIITY.LIST.CLOSE' | translate }}</button>
    </div>
  </div>
</div>




<!--....................................................-->


<!--</div>-->
<!--<div class="col-lg-5 col-md-6 col-sm-12">-->
  <!--<button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" *ngIf="canCreate" type="button" (click)="showCreateActivityForm()">-->
    <!--&lt;!&ndash;TODO: redirect to create Page&ndash;&gt;-->
    <!--<i class="zmdi zmdi-plus"></i>-->
  <!--</button>-->
  <!--<ul class="breadcrumb float-md-right">-->
    <!--<li class="breadcrumb-item">-->
      <!--<a routerLink="/dashboard">-->
        <!--<i class="zmdi zmdi-home"></i>Dashboard</a>-->
    <!--</li>-->
    <!--<li class="breadcrumb-item active">Activities</li>-->
  <!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container-fluid">-->
  <!--<div class="row clearfix">-->
    <!--<div *ngFor="let activity of detailedActivities" class="col-lg-4 col-md-12">-->
      <!--<div class="card single_post">-->
        <!--<div class="header">-->
          <!--<h2>-->
            <!--<strong>Latest</strong> Activity</h2>-->
        <!--</div>-->
        <!--<div class="body">-->
          <!--<h2 class="m-t-0 m-b-5" style="color: #242424;">-->
            <!--<small><a style="color: #242424; max-width: 100%" routerLink="/activities/{{activity._id}}">{{activity.name}}</a></small>-->
          <!--</h2>-->

          <!--<span class="col-md-9">-->

                <!--<i class="zmdi zmdi-account col-blue" style="margin-right: 5px;"></i><span style="font-style: italic; color: #959595;">Posted By: {{activity.creator}}</span>-->
              <!--</span>-->
          <!--<span class="col-md-5">-->
                <!--<i class="zmdi zmdi-comment-text col-blue" style="margin-right: 5px;"></i><span style="margin-right: 3px; font-style: italic; color: #959595;">Comments: {{activity.discussion.length}}</span>-->
              <!--</span>-->
        <!--</div>-->
        <!--<div class="body">-->
          <!--<div class="img-post col-sm-13 m-b-15">-->
            <!--<div class="activity-image" style.background="url({{activity.image}})" ></div>-->

          <!--</div>-->
          <!--<p>{{activity.description}}</p>-->
          <!--<a routerLink="/activities/{{activity._id}}" title="read more" class="btn btn-round btn-info">Read More</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->


<!--&lt;!&ndash;<mat-paginator [length]="numberOfElements" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="pageEvent = getActivities($event)">&ndash;&gt;-->
<!--&lt;!&ndash;</mat-paginator>&ndash;&gt;-->
<!--&lt;!&ndash;<div id="creation" *ngIf="canCreate">&ndash;&gt;-->
<!--&lt;!&ndash;<a class="btn btn-primary" href="{{createUrl}}">Create Activity</a>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="activities-container">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-card *ngFor="let activity of activities" class="activity-card">&ndash;&gt;-->
<!--&lt;!&ndash;<a routerLink="/activities/{{activity._id}}">&ndash;&gt;-->
<!--&lt;!&ndash;<h3 id="activities-header">{{ activity.name }}</h3>&ndash;&gt;-->
<!--&lt;!&ndash;<img mat-card-lg-image [src]="activity.image" />&ndash;&gt;-->
<!--&lt;!&ndash;</a>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="time">From: {{ activity.fromDateTime | date:'yyyy-MM-dd HH:mm:ss': 'locale'}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="time">To: {{ activity.toDateTime | date:'yyyy-MM-dd HH:mm:ss': 'locale'}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;<p class="price">{{ activity.price | currency: 'EGP'}}</p>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-card>&ndash;&gt;-->

<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--</section>-->

<!--<div class="modal" id="createModal" tabindex="-1" role="dialog">-->
  <!--<div class="modal-dialog modal-lg" role="document">-->
    <!--<div>-->
      <!--<app-activity-create></app-activity-create>-->
    <!--</div>-->



















