<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div id = "wrapper">
    <div id = "PPDiv">
      <img id = "PP" src= "../../../assets/images/profile-view/defaultPP.png" alt="Profile Picture" style="width:200px;height:200px;">
      <br>
      <label id="ProfileName" >{{Name}}</label>

      <br>
      <label id="Badge" >Badge goes here</label><br>
      <button style="margin-left: 40px">Direct Message</button>
      <div class = "RightSideBtns">
          <button id="btnRequestContributerValidation"  (click)="requestContributerValidation()">Make me a verified contributor</button>
          <button *ngIf = "true">Add as a parent</button>
          <span class="dropdown" *ngIf = "true">
            <button id = "linkAnotherParent" (click)="showChildren()">Link to my child</button>
            <tr *ngFor = "let child of listOfUncommonChildren" id="childrenLinks" class = dropdown-content >
              <td>{{child}}</td>
              <td><button class = "myButton" (click)="addChild(child)"><i class="fa fa-plus"></i></button></td>
            </tr>
          </span> 
          <button *ngIf = "true">Make Independent</button>
          <button *ngIf = "true">Unlink</button>
      </div>
    </div>
    <br>
    <div class="tab">
        <button id = "personalinfobtn" class="tablinks" (click)="openInfo()">About</button>
        <button id="schedbtn" class="tablinks" (click)="openSched()" *ngIf = "true" >Personal Schedule</button>
        <button id="childbtn" class="tablinks" (click)="openChildren()">List of Children</button>
        <button id="plansbtn" class="tablinks" (click)="openPlans()">Study Plans</button>
        <button id ="settingsbtn" class ="tablinks">Edit Info</button>
      </div>



    <div id = "personalinfo" class = "tabcontent" *ngIf = "pInfo">
        <h3>Personal Info:</h3>

        <label>Username: {{Username}}</label> <br>
        <label>Email: {{Email}}</label> <br>
        <label>Birthday: {{Birthday}}</label> <br>
        <label>Age: {{Age}}</label> <br>
        <label>Address: {{Address}}</label> <br>
        <label>Phone: {{Phone}}</label> <br>
    </div>
    <div id = "schedule" class = "tabcontent" *ngIf = "sched">
      <h3>Personal Schedule:</h3>
    </div>
    <div id = "children" class = "tabcontent" *ngIf = "children">
      <h3>Your Children:</h3>
    </div>
    <div id = "studyplans" class = "tabcontent" *ngIf = "plan">
      <h3>Your Study Plans:</h3>
    </div>
</div>

