@import "../../../assets/css/timeline.css";
@import "../../../assets/plugins/sweetalert/sweetalert.css";

#wrapper{
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

#ProfileName {
    font-weight: bold;
    font-size: 20px;
    color: white;
    margin-left: 30px;
}
#Badge {
    font-style: italic;
    font-size: 14px;
    color: white;
    margin-left: 45px;
}

#PPDiv {
    width: 100%;
    height: 320px;
    border: 2px;
    background-image: url('https://www.freewebheaders.com/wordpress/wp-content/gallery/plants-cactus/autumn-leaves-with-blur-colorful-background-header.jpg');
}

#PP{
    margin-left: 10px;
    margin-top: 10px;
}

.RightSideBtns {
    float: right;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}