<div id = "wrapper">
    <div id = "PPDiv">
      <img id = "PP" src= "../../../assets/images/profile-view/defaultPP.png" alt="Profile Picture" style="width:200px;height:200px;">
      <br>
      <label id="ProfileName" >Fulan el Fulany{{Name}}</label> <br> <br>  
    </div>

    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'personalinfo')">About</button>
        <button class="tablinks" onclick="openTab(event, 'personalschedule')">Personal Schedule</button>
        <button class="tablinks" onclick="openTab(event, 'children')">List of Children</button>
        <button class="tablinks" onclick="openTab(event, 'plans')">Study Plans</button>
      </div>      
      <button id="btnRequestContributerValidation" click="">make me Valid Contributer</button>



    <div id = "personalinfo" class="tabcontent">
      <h3>Personal Info:</h3>

      <label>Username: {{Username}}</label> <br> <br>
      <label>Email: {{Email}}</label> <br> <br>
      <label>Birthday: {{Birthday}}</label> <br> <br>
      <label>Age: {{Age}}</label> <br> <br>
      <label>Address: {{Address}}</label> <br> <br>
      <label>Phone: {{Phone}}</label> <br> <br>

    </div>

    <div id="personalschedule" class="tabcontent">
        <h3>Your Personal Schedule:</h3>
    </div>

</div>