<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Our Content
                    <small>Nawwar</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item">
                        <a routerLink="/dashboard">
                            <i class="zmdi zmdi-home"></i> dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/content-list-view">all contents</a>
                    </li>
                    <li *ngIf="content" class="breadcrumb-item active">{{ content.title.length > 10 ? content.title.slice(0,10) +'...' : content.title }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div *ngIf="content" class="card single_post">
                    <div class="body">
                        <h3 class="m-t-0 m-b-5">{{ content.title }}</h3>
                        <ul class="meta">
                            <li>
                                <a href="/profile/{{ content.creator }}">
                                    <i class="zmdi zmdi-account col-blue"></i> Posted By: {{ content.creator }}</a>
                            </li>
                            <li>
                                <a>
                                    <i class="zmdi zmdi-label col-red"></i>{{' ' + content.category }}, {{ content.section }}</a>
                            </li>
                            <li>
                                <a>
                                    <i class="zmdi zmdi-comment-text col-blue"></i> Comments: {{ content.discussion.length }}</a>
                            </li>
                            <li>
                                <a>
                                    <i class="zmdi zmdi-star"></i> Rating:</a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="container">
                            <div class="video-container">
                                <div *ngIf="content.video | safeResourceUrl" class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item" [src]="content.video | safeResourceUrl" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div *ngIf="content.body" class="ql-editor preview" [innerHTML]="content.body | safeHtml"></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="content" class="card">
                    <div class="header">
                        <h2>
                            <strong>Comments</strong> {{ content.discussion.length }}</h2>
                    </div>
                    <div class="body">
                        <ul class="comment-reply list-unstyled">
                            <li class="row">
                                <div class="icon-box col-md-2 col-4">
                                    <img class="img-fluid img-thumbnail" src="assets/images/sm/avatar2.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                    <h5 class="m-b-0">Gigi Hadid </h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text</p>
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">Dec 09 2017</a>
                                        </li>
                                        <li>
                                            <a href="#">Reply</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="row">
                                <div class="icon-box col-md-2 col-4">
                                    <img class="img-fluid img-thumbnail" src="assets/images/sm/avatar3.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                    <h5 class="m-b-0">Christian Louboutin</h5>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scramble</p>
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">Dec 12 2017</a>
                                        </li>
                                        <li>
                                            <a href="#">Reply</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="row">
                                <div class="icon-box col-md-2 col-4">
                                    <img class="img-fluid img-thumbnail" src="assets/images/sm/avatar4.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                    <h5 class="m-b-0">Kendall Jenner</h5>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration in some form, by injected humour</p>
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">Dec 20 2017</a>
                                        </li>
                                        <li>
                                            <a href="#">Reply</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 right-box">
                <div class="card">
                    <div class="body search">
                        <div class="input-group m-b-0">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div *ngIf="content" class="card">
                    <div class="header">
                        <h2>
                            <strong>Tags</strong>
                        </h2>
                    </div>
                    <div class="body widget tag-clouds">
                        <ul class="list-unstyled m-b-0">
                            <li *ngFor="let tag of content.tags">
                                <a href="#" class="tag badge badge-primary">{{ tag }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card">
                    <div class="header">
                        <h2>
                            <strong>Recommended</strong> Content</h2>
                    </div>
                    <div class="body widget popular-post">
                        <ul class="list-unstyled m-b-0">
                            <li class="row">
                                <div class="icon-box col-4">
                                    <img class="img-fluid img-thumbnail" src="assets/images/blog/1.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-box col-8 p-l-0">
                                    <h5 class="m-b-0">
                                        <a href="#">Web Design</a>
                                    </h5>
                                    <small class="author-name">By:
                                        <a href="#">Michael Allenson</a>
                                    </small>
                                    <small class="date">Dec, 05 2017</small>
                                </div>
                            </li>
                            <li class="row">
                                <div class="icon-box col-4">
                                    <img class="img-fluid img-thumbnail" src="assets/images/blog/2.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-box col-8 p-l-0">
                                    <h5 class="m-b-0">
                                        <a href="#">UI UX Design</a>
                                    </h5>
                                    <small class="author-name">By:
                                        <a href="#">Michael Allenson</a>
                                    </small>
                                    <small class="date">Dec, 15 2017</small>
                                </div>
                            </li>
                            <li class="row">
                                <div class="icon-box col-4">
                                    <img class="img-fluid img-thumbnail" src="assets/images/blog/3.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-box col-8 p-l-0">
                                    <h5 class="m-b-0">
                                        <a href="#">Photography</a>
                                    </h5>
                                    <small class="author-name">By:
                                        <a href="#">Michael Allenson</a>
                                    </small>
                                    <small class="date">Dec, 15 2017</small>
                                </div>
                            </li>
                            <li class="row">
                                <div class="icon-box col-4">
                                    <img class="img-fluid img-thumbnail" src="assets/images/blog/4.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-box col-8 p-l-0">
                                    <h5 class="m-b-0">
                                        <a href="#">New Technology</a>
                                    </h5>
                                    <small class="author-name">By:
                                        <a href="#">Michael Allenson</a>
                                    </small>
                                    <small class="date">Dec, 20 2017</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>