<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Our Content
                    <small>Nawwar</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item">
                        <a routerLink="/dashboard">
                            <i class="zmdi zmdi-home"></i> dashboard</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/content-list-view">all contents</a>
                    </li>
                    <li *ngIf="content" class="breadcrumb-item active">{{ content.title.length > 10 ? content.title.slice(0,10) +'...' : content.title }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div *ngIf="content" class="card single_post">
                    <div class="body">
                        <h3 class="m-t-0 m-b-5 mr-auto">{{ content.title }} </h3>
                        <div *ngIf="currentUser && content">
                            <div *ngIf="currentUser.isAdmin || (currentUser.username === content.creator)" class="flex-row">
                                <i title="delete forever" *ngIf="currentUser.isAdmin || (currentUser.username === content.creator)" (click)="deleteContentById(content._id)"
                                    class="material-icons clickable-icon">delete</i>
                                <i title="edit" *ngIf="currentUser.isAdmin || (currentUser.username === content.creator)" (click)="redirectToContentEdit()"
                                    class="material-icons clickable-icon">edit</i>
                                <i title="go back to content creation requests" *ngIf="currentUser.isAdmin && !content.approved" (click)="returnToContentRequests()"
                                    class="material-icons clickable-icon">assignment_late</i>
                            </div>
                        </div>
                        <ul class="meta">
                            <li>
                                <a href="/profile/{{ content.creator }}">
                                    <i class="zmdi zmdi-account col-blue"></i> Posted By: {{ content.creator }}</a>
                            </li>
                            <li>
                                <a>
                                    <i class="zmdi zmdi-label col-red"></i>{{' ' + content.category }}, {{ content.section }}</a>
                            </li>
                            <li>
                                <a>
                                    <i class="zmdi zmdi-comment-text col-blue"></i> Comments: {{ content.discussion.length }}</a>
                            </li>
                            <li>
                                <a>
                                    <i class="zmdi zmdi-star"></i> Rating:</a>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="container">
                            <div class="video-container">
                                <div *ngIf="content.video | safeResourceUrl" class="embed-responsive embed-responsive-16by9">
                                    <div class="embed-responsive-item" id="player"></div>
                                </div>
                            </div>
                            <div *ngIf="content.body" class="ql-editor preview" [innerHTML]="content.body | safeHtml"></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="content" class="card">
                    <div class="header">
                        <h2>
                            <strong>Comments</strong> {{ content.discussion.length }}</h2>
                    </div>
                    <div class="body">
                        <ul class="comment-reply list-unstyled">
                            <li class="row">
                                <div class="icon-box col-md-2 col-4">
                                    <img class="img-fluid img-thumbnail" src="assets/images/sm/avatar2.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                    <h5 class="m-b-0">Gigi Hadid </h5>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                        has been the industry's standard dummy text</p>
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">Dec 09 2017</a>
                                        </li>
                                        <li>
                                            <a href="#">Reply</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="row">
                                <div class="icon-box col-md-2 col-4">
                                    <img class="img-fluid img-thumbnail" src="assets/images/sm/avatar3.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                    <h5 class="m-b-0">Christian Louboutin</h5>
                                    <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scramble</p>
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">Dec 12 2017</a>
                                        </li>
                                        <li>
                                            <a href="#">Reply</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                            <li class="row">
                                <div class="icon-box col-md-2 col-4">
                                    <img class="img-fluid img-thumbnail" src="assets/images/sm/avatar4.jpg" alt="Awesome Image">
                                </div>
                                <div class="text-box col-md-10 col-8 p-l-0 p-r0">
                                    <h5 class="m-b-0">Kendall Jenner</h5>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                        suffered alteration in some form, by injected humour</p>
                                    <ul class="list-inline">
                                        <li>
                                            <a href="#">Dec 20 2017</a>
                                        </li>
                                        <li>
                                            <a href="#">Reply</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 right-box">
                <div *ngIf="content" class="card">
                    <div class="header">
                        <h2>
                            <strong>Recommended</strong> Content</h2>
                    </div>
                    <div class="body widget popular-post">
                        <ul *ngIf="recommendedContent" class="list-unstyled m-b-0">
                            <li *ngFor="let contentItem of recommendedContent" class="row">
                                <div class="icon-box col-4">
                                    <img class="img-fluid img-thumbnail" [src]="contentItem.image" alt="{{ contentItem.title }}">
                                </div>
                                <div class="text-box col-8 p-l-0">
                                    <h5 class="m-b-0">
                                        <a href="/content-view/{{ contentItem._id }}">{{ contentItem.title }}</a>
                                    </h5>
                                    <small class="author-name">By:
                                        <a href="/profile/{{ contentItem.creator }}">{{ contentItem.creator }}</a>
                                    </small>
                                    <small class="date"> {{ contentItem.touchDate | date }}</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="content" class="card">
                    <div class="header">
                        <h2>
                            <strong>Tags</strong>
                        </h2>
                    </div>
                    <div class="body widget tag-clouds">
                        <ul class="list-unstyled m-b-0">
                            <li *ngFor="let tag of content.tags">
                                <a href="#" class="tag badge badge-primary">{{ tag }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>