<section>
<!-- <mat-card class="activity-create">
  <form class="activity-form" (ngSubmit)="createActivity()" #activityForm="ngForm">
    <mat-form-field>
      <input matInput [(ngModel)]="activity.name" name="name" required placeholder="name">
    </mat-form-field>
    <mat-form-field class="meta-input" hintLabel="Enter the link of an image for the activity here.">
      <mat-icon matPrefix>link</mat-icon>
      <input matInput [(ngModel)]="activity.image" name="image" placeholder="Image link goes here">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput [(ngModel)]="activity.description" name="description" placeholder="description"></textarea>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="activity.price" name="price" required type="integer" placeholder="price">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="activity.fromDateN" name="fromDateN" required type="datetime-local" placeholder="from">
    </mat-form-field>
      <mat-form-field>
      <input matInput [(ngModel)]="activity.toDateN" name="toDateN" required type="datetime-local" placeholder="to">
    </mat-form-field>
    <div
      [hidden]="!activity.toDateN || !activity.fromDateN || activity.toDateN > activity.fromDateN"
      class="alert alert-danger">
      From date can't be after to date
    </div>
    <button mat-button type="submit"
    [disabled]="!activityForm.form.valid || activity.toDateN <= activity.fromDateN">Submit</button>
  </form>
</mat-card> -->
<!-- ......................................................... -->
<div class="modal-content">
  <div class="card singel-post"  style="margin : 0px">
    <form class="activity-form" (ngSubmit)="createActivity()" #activityForm="ngForm">
      <div class="header"  >
        <h3 class="text-primary" style="color:primary">Create activity</h3>
        <ul class="header-dropdown">
          <li class="remove">
            <a role="button" (click)="close()" ><i class="zmdi zmdi-close"></i></a>
          </li>
        </ul>
      </div>
      <div align="left">
        <div class="modal-body">
          <fieldset>
            <div class="form-group form-float">
              <input type="text" class="form-control" [(ngModel)]="activity.name" name="name" required placeholder="Name *">
            </div>
            <div class="form-group form-float meta-input">
              <div class="input-group">
          
               <app-image-uploader (ImageUploaded)="uploaded($event)"></app-image-uploader>
          
              </div>
            </div>
            <div class="form-group">
              <div class="form-control">
                <textarea class="form-control no-resize" [(ngModel)]="activity.description" name="description" placeholder="Description..." style="font-size:15px"></textarea>
              </div>
            </div>
            <div class="form-group form-float">
              <input class="form-control" [(ngModel)]="activity.price" name="price" required type="integer" placeholder="Price *">
            </div>
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"> <i class="zmdi zmdi-calendar-note"></i></span>
                  <input class="form-control date" [(ngModel)]="activity.fromDateN" name="fromDateN" required type="datetime-local" placeholder="From *  Ex: 30/07/2016">
                </div>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="input-group">
                  <span class="input-group-addon"> <i class="zmdi zmdi-calendar-note"></i></span>
                  <input class="form-control date" [(ngModel)]="activity.toDateN" name="toDateN" required type="datetime-local" placeholder="To *  Ex: 30/07/2016">
                </div>
              </div>
            </div>
          </fieldset>
          <span> <small> Required fields *</small></span>
          <div align="right">
            <button class="btn btn-primary hidden-sm-down float-right m-l-10" id="btn"
            [disabled]="!activityForm.form.valid || activity.toDateN <= activity.fromDateN" (click)="createActivity()">Submit</button>
          </div>
          <br>
          <br>
          <div
            [hidden]="!activity.toDateN || !activity.fromDateN || activity.toDateN > activity.fromDateN"
            class="alert alert-danger">
            From date can't be after to date
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

</section>
