<section class="content">
  <div class="mr-auto ml-auto">
    <div class=" authentication sidebar-collapse">
      <div class="container">
        <div class="col-md-12 content-center">
          <div class="card-plain cen-wh-content">
            <div class="header">
              <h5>{{ 'AUTH.FORGOT_PASSWORD.FORGOT_PASSWORD' | translate }}</h5>
              <span class="text-muted">{{ 'AUTH.FORGOT_PASSWORD.PROMPT' | translate }}</span>
            </div>
            <div class="content">
              <div class="input-group input-lg">
                <input #Email type="text" [(ngModel)]="this.email" class="form-control" placeholder="{{ 'AUTH.FORGOT_PASSWORD.EMAIL_PLACEHOLDER' | translate }}">
                <span class="input-group-addon">
                  <i class="zmdi zmdi-email"></i>
                </span>
              </div>
            </div>
            <div class="footer">
              <button class="btn btn-primary btn-round btn-lg btn-block waves-effect waves-light" (click)="submit(Email.value)">{{ 'AUTH.FORGOT_PASSWORD.SUBMIT' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>