<section class="content">
  <div class=" authentication sidebar-collapse">
    <div class="container">
      <div class="col-md-12 content-center">
        <div class="card-plain" style="color: white;">
          <div class="header" style="text-align-last: center;">
            <div class="logo-container expandUp">
              <img src="assets/images/logo.svg" alt="">
            </div>
            <h5>{{ 'AUTH.FORGOT_PASSWORD.FORGOT_PASSWORD' | translate }}</h5>
            <span class="text-muted">{{ 'AUTH.FORGOT_PASSWORD.PROMPT' | translate }}</span>
          </div>
          <div class="content">
            <div class="input-group input-lg">
              <input #Email type="text" [(ngModel)]="this.email" class="form-control" placeholder="{{ 'AUTH.FORGOT_PASSWORD.EMAIL_PLACEHOLDER' | translate }}">
              <span class="input-group-addon">
                <i class="zmdi zmdi-email"></i>
              </span>
            </div>
          </div>
          <div class="footer">
            <button class="btn btn-primary btn-round btn-lg btn-block waves-effect waves-light" (click)="submit(Email.value)">{{ 'AUTH.FORGOT_PASSWORD.SUBMIT' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav>

        </nav>
      </div>
    </footer>
  </div>

</section>