@import "../../../assets/css/blog.css";
@import "../../../assets/plugins/sweetalert/sweetalert.css";
.activity-image {
  height: 200px;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
}
