  <div class="block-header">
  <div class="container-fluid">
    <div class="row clearfix">
      <div *ngFor="let activity of activities; let i = index" class="col-lg-4 col-md-12">
        <div class="card single_post">
          <div class="header">
            <h2>
              <strong>{{'ADMIN.ACTIVITIES_MANAGEMENT.LATEST' | translate}}</strong>{{'ADMIN.ACTIVITIES_MANAGEMENT.ACTIVITY' | translate}} </h2>
          </div>
          <div class="body">
            <h2 class="m-t-0 m-b-5" style="color: #242424;">
              <small><a style="color: #242424; max-width: 100%" routerLink="/activities/{{activity._id}}">{{activity.name}}</a></small>
            </h2>

          <span class="col-md-9">

                <i class="zmdi zmdi-account col-blue" style="margin-right: 5px;"></i><span style="font-style: italic; color: #959595;">{{'ADMIN.ACTIVITIES_MANAGEMENT.POSTED_BY' | translate}} {{activity.creator}}</span>
              </span>
            <span class="col-md-5">
                <i class="zmdi zmdi-comment-text col-blue" style="margin-right: 5px;"></i><span style="margin-right: 3px; font-style: italic; color: #959595;">{{'ADMIN.ACTIVITIES_MANAGEMENT.COMMENTS' | translate}} {{activity.discussion.length}}</span>
              </span>
          </div>
          <div class="body">
            <div class="img-post col-sm-13 m-b-15">
              <div class="activity-image" style.background="url({{activity.image}})" ></div>

            </div>
            <p>{{activity.description}}</p>
            <a routerLink="/activities/{{activity._id}}" title="read more" class="btn btn-round btn-info">{{'ADMIN.ACTIVITIES_MANAGEMENT.READ_MORE' | translate}}</a>
            <a align="right" (click)="acceptActivity(i)" title="Accept" class="btn btn-round btn-primary">{{'ADMIN.ACTIVITIES_MANAGEMENT.ACCEPT' | translate}}</a>
            <a align="right" (click)="rejectActivity(i)" title="Reject" class="btn btn-round btn-default">{{'ADMIN.ACTIVITIES_MANAGEMENT.REJECT' | translate}}</a>
          </div>
      </div>
    </div>
  </div>
  <ul *ngIf="totalNumberOfPages > 1" class="pagination pagination-primary">
    <li *ngIf="pageIndex>1" class="page-item">
      <a class="page-link" (click)="getActivities(this.pageIndex - 1)">{{ 'ACTIVITIES.LIST.PREV' | translate }}</a>
    </li>
    <li *ngFor="let pageNumberForPagination of getPaginationRange()" [ngClass]="{'page-item': true,'active': currentPageNumber === pageNumberForPagination}">
      <a class="page-link" (click)="getActivities(pageNumberForPagination)">{{ pageNumberForPagination }}</a>
    </li>
    <li *ngIf="pageIndex<totalNumberOfPages" class="page-item">
      <a class="page-link" (click)="getActivities(this.pageIndex + 1)">{{ 'ACTIVITIES.LIST.NEXT' | translate }}</a>
    </li>
  </ul>
</div>


<!--<mat-paginator [length]="numberOfElements" [pageSize]="pageSize" [pageIndex]="pageIndex" (page)="pageEvent = getActivities($event)">-->
<!--</mat-paginator>-->
<!--<div id="creation" *ngIf="canCreate">-->
<!--<a class="btn btn-primary" href="{{createUrl}}">Create Activity</a>-->
<!--</div>-->
<!--<div class="activities-container">-->
<!--<mat-card *ngFor="let activity of activities" class="activity-card">-->
<!--<a routerLink="/activities/{{activity._id}}">-->
<!--<h3 id="activities-header">{{ activity.name }}</h3>-->
<!--<img mat-card-lg-image [src]="activity.image" />-->
<!--</a>-->
<!--<p class="time">From: {{ activity.fromDateTime | date:'yyyy-MM-dd HH:mm:ss': 'locale'}}</p>-->
<!--<p class="time">To: {{ activity.toDateTime | date:'yyyy-MM-dd HH:mm:ss': 'locale'}}</p>-->
<!--<p class="price">{{ activity.price | currency: 'EGP'}}</p>-->
<!--</mat-card>-->

<!--</div>-->
