<div class="authentication sidebar-collapse">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
    <div class="container">
      <div class="navbar-translate n_logo">
        <a class="navbar-brand" href="javascript:void(0);" title="" target="_blank">sQuare</a>
        <button class="navbar-toggler" type="button">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </button>
      </div>
      <div class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-white btn-round" routerLink="/auth/sign-in">SIGN IN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="page-header">
    <div class="container">
      <div class="col-md-12 content-center">
        <div class="card-plain">
          <form class="form">
            <div class="header">
              <div class="logo-container expandUp">
                <img src="assets/images/logo.svg" alt="">
              </div>
              <h5>Sign Up</h5>
              <span>Register a new membership</span>
            </div>
            <div class="content">
              <div id="personalInfo">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="user.firstName" name="firstName">
                  <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="user.lastName" name="lastName">
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Phone" [(ngModel)]="user.phone" name="phone">
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-smartphone"></i>
                  </span>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Address" [(ngModel)]="user.address" name="address">
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-gps-dot"></i>
                  </span>
                </div>
                <div class="input-group date" data-provide="datepicker">
                  <input type="date" class="form-control" placeholder="Birthdate" [(ngModel)]="user.birthdate" name="birthdate">
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-calendar"></i>
                  </span>
                </div>
                <div class="checkbox">
                  <input id="isTeacher" type="checkbox" [(ngModel)]="user.isTeacher" name="isTeacher">
                  <label for="isTeacher">Are you a teacher?</label>
                </div>
              </div>
              <div id="credentials" hidden>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="User Name" [(ngModel)]="user.username" name="username">
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-account-circle"></i>
                  </span>
                </div>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Email" [(ngModel)]="user.email" name="email">
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-email"></i>
                  </span>
                </div>
                <div class="input-group">
                  <input type="password" placeholder="Password" class="form-control" [(ngModel)]="user.password" name="password" />
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-lock"></i>
                  </span>
                </div>
                <div class="input-group">
                  <input type="password" placeholder="Confirm Password" class="form-control" [(ngModel)]="user.confirmPassword" name="confirmPassword"
                  />
                  <span class="input-group-addon">
                    <i class="zmdi zmdi-lock"></i>
                  </span>
                </div>
                <div class="checkbox">
                  <input id="terms" type="checkbox">
                  <label for="terms">
                    I read and agree to the
                    <a href="javascript:void(0);">terms of usage</a>
                  </label>
                </div>
              </div>
            </div>

            <div class="footer">
              <div class="input-group">
                <input id="prevTab" type="button" class="form-control" value="Previous" (click)="showPersonalInfoTab()" disabled>
                <input id="nextTab" type="button" class="form-control" value="Next" (click)="showCredentialsTab()">
              </div>
              <a class="btn btn-primary btn-round btn-lg btn-block waves-effect waves-light" (click)="signUp()">SIGN UP</a>
              <h5>
                <a class="link" routerLink="/auth/sign-in">You already have a membership?</a>
              </h5>
              <div class="footer input-group">
                <input type="button" class="form-control btn btn-lg btn-facebook" value="Facebook" (click)="this.authService.signUpInWithFacebook()">
                <input type="button" class="form-control btn btn-lg btn-google-plus" value="Google">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav>
          <ul>
            <li>
              <a href="javascript:void(0);" target="_blank">Contact Us</a>
            </li>
            <li>
              <a href="javascript:void(0);" target="_blank">About Us</a>
            </li>
            <li>
              <a href="javascript:void(0);">FAQ</a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
  </div>
</div>