<form>
	<div align="center" class="wrapper">
		<mat-card class="request-form">
        <br>
				<mat-card-header style="width:100%">
					<mat-card-title id="title">
							Edit your information on our address book:
					</mat-card-title>
				</mat-card-header>
			<br><br>
			<div align="left">
				<mat-card-content class="mat-card-content">
				    <mat-form-field>
                        <input matInput name="firstName" placeholder="{{psychologist.firstName}}" id="firstName" [formControl]="firstNameFormControl"
                        [errorStateMatcher]="matcher" [(ngModel)]="formInput.firstName" >
                        <mat-label>First Name</mat-label>
                            <button mat-button *ngIf="formInput.firstName" matSuffix mat-icon-button aria-label="Clear" (click)="formInput.firstName=''">
                                <mat-icon>close</mat-icon>
                            </button>
                    </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="{{psychologist.lastName}}" name="lastName"  id="lastName" [formControl]="lastNameFormControl"
              [errorStateMatcher]="matcher"  [(ngModel)]="formInput.lastName" >
              <mat-label>Last Name</mat-label>
                <button mat-button *ngIf="formInput.lastName" matSuffix mat-icon-button aria-label="Clear" (click)="formInput.lastName=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="{{psychologist.phone}}" name="phone" id="phone" [formControl]="phoneFormControl"
                [(ngModel)]="formInput.phone" >
                <mat-label>Phone Number</mat-label>
                <button mat-button *ngIf="formInput.phone" matSuffix mat-icon-button aria-label="Clear" (click)="formInput.phone=''">
                    <mat-icon>close</mat-icon>
                </button>
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="{{psychologist.address}}" name="address" id="address" [formControl]="addFormControl"
                    [(ngModel)]="formInput.address">
                  <mat-label>Adress</mat-label>
                    <button mat-button *ngIf="formInput.address" matSuffix mat-icon-button aria-label="Clear" (click)="formInput.address=''">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field id="email-input">
                    <input matInput placeholder="{{psychologist.email}}" name="email" id="email" [formControl]="emailFormControl"
                    [errorStateMatcher]="matcher"  [(ngModel)]="formInput.email" >
                    <mat-label>Email</mat-label>
                    <button mat-button *ngIf="formInput.email" matSuffix mat-icon-button aria-label="Clear" (click)="formInput.email=''">
                            <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="emailFormControl.hasError('email')">
                            Please enter a valid email address
                    </mat-error>
                  </mat-form-field>

                    <mat-form-field id="days-off-input">
                        <mat-select placeholder="Days Off:" [formControl]="daysOff" [(ngModel)]="formInput.daysOff" multiple >
                          <mat-option *ngFor="let day of daysOfWeek" [value]="day">{{day}}</mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="{{psychologist.priceRange}}" name="priceRange"  id="psychPriceRange" 
                        [formControl]="priceFormControl" [(ngModel)]="formInput.priceRange" >
                        <mat-label>Maximum price range</mat-label>
                        <button mat-button *ngIf="formInput.priceRange" matSuffix mat-icon-button aria-label="Clear" (click)="formInput.priceRange=''">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
          </mat-card-content>
          <div align="right">
              <mat-card-actions class="mat-card-actions">
                    <button mat-raised-button color="primary" id="btn" (click)="close()" >Cancel</button>
                    <button mat-raised-button color="primary" id="btn" (click)="editPsychologists()" >Edit</button>
              </mat-card-actions>
          </div>
      
            <mat-card-footer class="mat-card-footer">
            </mat-card-footer>

        </div>
    </mat-card>
  </div>
</form>