<form>
	<div align="center" class="wrapper">
		<mat-card class="request-form">
        <br>
				<mat-card-header style="width:100%">
					<mat-card-title id="title">
							Edit your information on our address book:
					</mat-card-title>
				</mat-card-header>
			<br><br>
			<div align="left">
				<mat-card-content class="mat-card-content">
					  <mat-form-field>
                <input matInput name="firstName" placeholder="{{psychologist.firstName}}" id="firstName" [(ngModel)]="formInput.firstName">
                <mat-label>First Name</mat-label>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="{{psychologist.lastName}}" name="lastName" id="lastName"  [(ngModel)]="formInput.lastName">
              <mat-label>Last Name</mat-label>
            </mat-form-field>
            
            <mat-form-field>
                <input matInput placeholder="{{psychologist.phone}}" name="phone" id="phone"  [(ngModel)]="formInput.phone">
                <mat-label>Phone Number</mat-label>
              </mat-form-field>

              <mat-form-field>
                  <input matInput placeholder="{{psychologist.address}}" name="address" id="address"  [(ngModel)]="formInput.address">
                  <mat-label>Adress</mat-label>
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="{{psychologist.email}}" name="email" id="email"  [(ngModel)]="formInput.email">
                    <mat-label>Adress</mat-label>
                  </mat-form-field>

                  <mat-form-field>
                      <mat-select placeholder="Days Off:" [formControl]="daysOff" multiple >
                      <mat-option *ngFor="let day of daysOfWeek" value={{psychologist.daysOff}}>{{day}}</mat-option>
                    </mat-select>
                    <mat-label>Days Off</mat-label>
                    </mat-form-field>

                    <mat-form-field>
                        <input matInput placeholder="{{psychologist.priceRange}}" name="priceRange" id="priceRange"  [(ngModel)]="formInput.priceRange">
                        <mat-label>Maximum price range</mat-label>
                    </mat-form-field>
          </mat-card-content>
          <div align="right">
              <mat-card-actions class="mat-card-actions">
                  <button mat-raised-button color="primary" id="btn" (click)="editPsychologists()" >Edit</button>
              </mat-card-actions>
          </div>
      
            <mat-card-footer class="mat-card-footer">
            </mat-card-footer>

        </div>
    </mat-card>
  </div>
</form>