  <section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
          <app-rating class="float-right" [type]="'studyPlan'" [ratedId]="studyPlan._id" [inputRating]="studyPlan.rating.value" *ngIf="type === 'published'"></app-rating>
        <h2>{{ studyPlan.title }}</h2>
        <ul class="breadcrumb p-l-0 p-b-0 ">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">
              <i class="zmdi zmdi-home"></i>sQuare</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="{{ type === 'personal' ? '/profile/' + profileUsername : '/published-study-plans' }}">
              <i class="{{ type === 'personal' ? 'zmdi zmdi-account-circle' : 'zmdi zmdi-graduation-cap' }}">
              </i>{{ type === 'personal' ? ' ' + profileUsername : ' Study Plans' }}</a>
          </li>
          <li class="breadcrumb-item active">{{ studyPlan.title }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <app-calendar [(events)]="events" [onCreate]="createEvent"></app-calendar>
      <hr/>
      <div class="ql-editor preview" [innerHTML]="editorContent"></div>
      <hr/>
      <div class="button-row">
        <button class="btn btn-primary" (click)="publish()" color="primary" *ngIf="type === 'personal' && !currIsChild">Publish</button>
        <button class="btn btn-primary" (click)="copy()" color="primary" *ngIf="!currIsChild">Copy</button>
        <button class="btn btn-primary" (click)="unAssign()" color="primary" *ngIf="studyPlan.assigned">Unassign</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#assignFunction" color="primary" *ngIf="!currIsChild">Assign</button>
        <button class="btn btn-primary" (click)="edit()" color="primary" *ngIf="(type === 'personal' && !currIsChild) || (type === 'published' && !currIsAdmin)">Edit</button>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="assignFunction" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">Assign</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <span class="reset">
              <input type="text" [(ngModel)]="selectedUser" name="assignFunctionTarget" list="userList">
              <datalist id="userList">
                  <option>{{ profileUsername }}</option>
                  <option  *ngFor="let child of listOfChildren" >{{child}}</option>
              </datalist>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect" (click)="assign()" data-dismiss="modal">Assign</button>
        <button type="button" class="btn btn-simple btn-round waves-effect" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>