      <mat-form-field>
          <input #receiver matInput [(ngModel)]="Receiver" placeholder="To">
      </mat-form-field>
      <br/>
  
      <mat-form-field class="example-container">
          <input #body matInput [(ngModel)]="Body">
      </mat-form-field>
      <br/>
      
      <button mat-raised-button color="primary" (click)="send(); receiver.value=''; body.value=''">Send</button>
      <br/>

      <button mat-button (click)="dialogRef.close()">
        Cancel
      </button>
  

  <div id="div1" *ngIf="div1">
      <br/>
      <br/>
      <mat-card>Please specify a recipient.</mat-card>
  </div>

  <div id="div2" *ngIf="div2">
      <br/>
      <br/>
      <mat-card>You can't send an empty message.</mat-card>
  </div>

  <div id="div3" *ngIf="div3">
      <br/>
      <br/>
      <mat-card>Your message has been sent.</mat-card>
  </div>
