<section class="content blog-page">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12" [style.text-align]="translate.currentLang === 'ara'? 'right': null">
        <h2>{{ 'CONTENT.SHARED.OUR_CONTENT' | translate }}
          <small>{{ 'APP.NAWWAR' | translate }}</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12"  [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
        <a routerLink="/content/edit" class="hidden-sm-down m-l-10">
          <button class="btn btn-primary btn-round btn-icon float-right">
            <i class="zmdi zmdi-plus m-t--10"></i>
          </button>
        </a>
        <ul class="breadcrumb float-md-right" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
          <li class="breadcrumb-item">
            <a>
              <i class="zmdi zmdi-home"></i> {{ 'CONTENT.SHARED.DASHBOARD' | translate }}</a>
          </li>
          <li class="breadcrumb-item all-contents-item">
            <a (click)="changeCategoryAndSection('','')">
              <i class="zmdi zmdi-folder"></i> {{ 'CONTENT.SHARED.CONTENT' | translate }} </a>
          </li>
          <li *ngIf="selectedCategory !== ''" class="breadcrumb-item active">{{ selectedCategory }}</li>
          <li *ngIf="selectedSection !== ''" class="breadcrumb-item active">{{ selectedSection }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <ul *ngIf="currentUser" class="nav nav-tabs" [style.padding]="translate.currentLang === 'ara'? '13px': null" >
      <li class="nav-item">
        <a class="nav-link active content-tab" data-toggle="tab" (click)="changeTab(0)">{{ 'CONTENT.LIST.BROWSE_CONTENT' | translate }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link content-tab" data-toggle="tab" (click)="changeTab(1)">{{ 'CONTENT.LIST.MY_CONTRIBUTIONS' | translate }}</a>
      </li>
    </ul>
    <div class="row">
      <div class="col-lg-8 col-md-12 left-box">
        <div *ngFor="let content of contents" class="card single_post"  [style.text-align]="translate.currentLang === 'ara'? 'right': null">
          <div class="body">
            <h3 *ngIf="content.title" class="m-t-0 m-b-5">
              <a routerLink="/content/view/{{content._id}}">{{ content.title }}</a>
            </h3>
            <ul class="meta">
              <li *ngIf="content.creator">
                <a routerLink="/profile/{{content.creator}}">
                  <i class="zmdi zmdi-account col-blue"></i>{{ 'CONTENT.SHARED.POSTED_BY' | translate: { creator: content.creator } }}</a>
              </li>
              <li *ngIf="content.category && content.section">
                <a>
                  <i class="zmdi zmdi-label col-red"></i> {{ content.category }}, {{ content.section }}</a>
              </li>
            </ul>
          </div>
          <div class="body">
            <div class="img-post m-b-15" *ngIf="content.image">
              <img [src]="content.image" width="100%" height="100%" alt="Awesome Image">
            </div>
            <div *ngIf="content.tags" class="tags-holder">
              <span *ngFor="let tag of getFirstTenTags(content.tags)" class="badge badge-info btn-round">{{tag}}</span>
            </div>
            <div>
              <a routerLink="/content/view/{{content._id}}" title="Watch Now" class="btn btn-round btn-info">{{ 'CONTENT.LIST.WATCH_NOW' | translate }}</a>
            </div>
          </div>
        </div>
        <ul *ngIf="totalNumberOfPages>1" class="pagination pagination-primary">
          <li *ngIf="currentPageNumber>1" class="page-item">
            <a class="page-link" (click)="changePage(this.currentPageNumber - 1)">{{ 'CONTENT.LIST.PREVIOUS' | translate }}</a>
          </li>
          <li *ngFor="let pageNumberForPagination of getPaginationRange()" [ngClass]="{'page-item': true,'active': currentPageNumber === pageNumberForPagination}">
            <a class="page-link" (click)="changePage(pageNumberForPagination)">{{ pageNumberForPagination }}</a>
          </li>
          <li *ngIf="currentPageNumber<totalNumberOfPages" class="page-item">
            <a class="page-link" (click)="changePage(this.currentPageNumber + 1)">{{ 'CONTENT.SHARED.NEXT' | translate }}</a>
          </li>
        </ul>
      </div>

      <div class="col-lg-4 col-md-12 right-box">

        <div *ngIf="selectedTabIndex === 0" class="card">
          <div class="body search" [style.text-align]="translate.currentLang === 'ara'? 'right': null">
            <div class="input-group m-b-0">
              <span class="input-group-addon search-icon" (click)="searchContent()">
                <i class="zmdi zmdi-search"></i>
              </span>
              <input type="text" class="form-control" (keydown.enter)="searchContent()" placeholder="{{ 'CONTENT.LIST.SEARCH' | translate }}" [(ngModel)]="searchQuery">
            </div>
            <div class="current-category">
              <h6>
                {{ 'CONTENT.LIST.CATEGORY_SPECIFIED' | translate: { category: selectedCategory } }}
              </h6>
              <h6>
                {{ 'CONTENT.LIST.SECTION_SPECIFIED' | translate: { section: selectedSection } }}
              </h6>
              <h6>
                {{ 'CONTENT.LIST.SORT_BY_SPECIFIED.' + sortResultsBy.toUpperCase() | translate }}
              </h6>
              <h6>
                {{ 'CONTENT.LIST.LANGUAGE_SPECIFIED.' + contentLanguage.toUpperCase() | translate }}
              </h6>
            </div>
            <div class="sort-by-div">
              <form #f="ngForm">
                <h5>{{ 'CONTENT.LIST.SORT_BY' | translate }}</h5>
                <div class="radio" align="left" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
                  <input type="radio" name="sortByRadioButtonGroup" id="radio1" value="relevance" [(ngModel)]="sortResultsBy">
                  <label for="radio1" style="padding-left:28px">
                    <p [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">{{ 'CONTENT.LIST.RELEVANCE' | translate }}</p>
                  </label>
                </div>
                <div class="radio" align="left" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
                  <input type="radio" name="sortByRadioButtonGroup" id="radio2" value="upload date" [(ngModel)]="sortResultsBy">
                  <label for="radio2" style="padding-left:28px">
                    <p [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null"> {{ 'CONTENT.LIST.UPLOAD_DATE' | translate }}</p>
                  </label>
                </div>
                <div class="radio" align="left" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
                  <input type="radio" name="sortByRadioButtonGroup" id="radio3" value="rating" [(ngModel)]="sortResultsBy">
                  <label for="radio3" style="padding-left:28px">
                    <p [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">{{ 'CONTENT.LIST.RATING' | translate }}</p>
                  </label>
                </div>
                <h5>{{ 'CONTENT.SHARED.LANGUAGE' | translate }}</h5>
                <div class="radio" align="left" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
                  <input type="radio" align="left" name="languageButtonGroup" id="radio4" value="english" [(ngModel)]="contentLanguage">
                  <label for="radio4" style="padding-left:28px">
                    <p [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">{{ 'CONTENT.SHARED.ENGLISH' | translate }}</p>
                  </label>
                </div>
                <div class="radio" align="left" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
                  <input type="radio" name="languageButtonGroup" id="radio5" value="arabic" [(ngModel)]="contentLanguage">
                  <label for="radio5" style="padding-left:28px">
                    <p [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">{{ 'CONTENT.SHARED.ARABIC' | translate }}</p>
                  </label>
                </div>
              </form>
            </div>
          </div>
        </div>

        <div *ngIf="categories" class="card"  [style.text-align]="translate.currentLang === 'ara'? 'right': null">
          <div class="header">
            <h2>
              <strong>{{ 'CONTENT.LIST.CATEGORIES' | translate }}</strong>
            </h2>
          </div>
          <div class="body">
            <div class="row clearfix">
              <div class="col-md-12 col-lg-12">
                <div class="panel-group" id="accordion" role="tablist" [attr.aria-multiselectable]="false">
                  <div class="panel panel-primary all-category-panel">
                    <div class="panel-heading" role="tab" (click)="changeCategoryAndSection('','')">
                      <h4 class="panel-title">
                        <a role="button"> {{ 'CONTENT.LIST.ALL' | translate }} </a>
                      </h4>
                    </div>
                  </div>
                  <div *ngFor="let category of categories" class="panel panel-primary">
                    <div class="panel-heading" role="tab" id="{{ 'heading' + category._id}}">
                      <a class="panel-title" role="button" data-toggle="collapse" data-parent="#accordion" href="{{'#collapse'+ category._id}}"
                        [attr.aria-expanded]="false" [attr.aria-controls]="'collapse' + category._id">
                        <div class="row">
                          <div class="col mr-auto">
                            <h4 class="panel-title">
                              {{ category.name }}
                            </h4>
                          </div>
                          <div>
                            <img [src]="category.iconLink" width="32px" height="32px" style="margin-right:10px;">
                          </div>
                        </div>
                      </a>
                    </div>
                    <div id="{{'collapse' + category._id}}" class="panel-collapse collapse in" role="tabpanel" [attr.aria-labelledby]="'heading' + category._id">
                      <div class="panel-body list-group">
                        <button *ngFor="let section of category.sections" type="button" class="list-group-item section-button" (click)="changeCategoryAndSection(category.name,section.name)">{{ section.name }}
                          <img [src]="section.iconLink" width="32px" height="32px" style="float: right;">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
