<h1><a routerLink="/dashboard">Dashboard</a></h1>
<h1><a routerLink="/content-edit">Content Edit</a></h1>
<h1><a routerLink="/activities/9">Activity</a></h1>
<h1><a routerLink="/auth/login">Login</a></h1>
<h1><a routerLink="/profile">Profile</a></h1>
<h1><a routerLink="/message">Message</a></h1>
<h1><a routerLink="/schedule/0">Schedule</a></h1>
<h1><a routerLink="/study-plan/0">Study Plan</a></h1>
<h1><a routerLink="/psychologist/0">Psychologist</a></h1>
<h1><a routerLink="/market"> Market</a></h1>
<div>
  <h3>View is here</h3>
<router-outlet></router-outlet>
</div>