<section class="content blog-page">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>{{ 'CONTENT.SHARED.OUR_CONTENT' | translate }}
                    <small>{{ 'APP.NAWWAR' | translate }}</small>
                </h2>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">
                <ul class="breadcrumb float-md-right">
                    <li class="breadcrumb-item">
                        <a>
                            <i class="zmdi zmdi-home"></i> {{ 'CONTENT.SHARED.DASHBOARD' | translate }}</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a routerLink="/content/list">{{ 'CONTENT.SHARED.CONTENT' | translate }}</a>
                    </li>
                    <li *ngIf="content" class="breadcrumb-item active">{{ content.title.length > 10 ? content.title.slice(0,10) +'...' : content.title }}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div *ngIf="content" class="card single_post">
                    <div class="body">
                        <h3 class="m-t-0 m-b-5 mr-auto">{{ content.title }} </h3>
                        <div *ngIf="currentUser && content">
                            <div *ngIf="currentUser.isAdmin || (currentUser.username === content.creator)" class="flex-row">
                                <i title="{{ 'CONTENT.VIEW.DELETE_FOREVER' | translate }}" *ngIf="currentUser.isAdmin || (currentUser.username === content.creator)"
                                    (click)="deleteContentById(content._id)" class="material-icons clickable-icon">delete</i>
                                <i title="{{ 'CONTENT.VIEW.EDIT' | translate }}" *ngIf="currentUser.isAdmin || (currentUser.username === content.creator)"
                                    (click)="redirectToContentEdit()" class="material-icons clickable-icon">edit</i>
                                <i title="{{ 'CONTENT.VIEW.ADMIN_GO_BACK' | translate }}" *ngIf="currentUser.isAdmin && !content.approved" (click)="returnToContentRequests()"
                                    class="material-icons clickable-icon">assignment_late</i>
                            </div>
                        </div>
                        <ul class="row meta">
                            <li>
                                <a routerLink="/profile/{{ content.creator }}">
                                    <i class="zmdi zmdi-account col-blue"></i>{{ 'CONTENT.SHARED.POSTED_BY' | translate: { creator: content.creator } }}</a>
                            </li>
                            <li>
                                <a>
                                    <i class="zmdi zmdi-label col-red"></i>{{' ' + content.category }}, {{ content.section }}</a>
                            </li>
                            <li>
                                <a>
                                    <i class="zmdi zmdi-comment-text col-blue"></i> {{ 'CONTENT.VIEW.COMMENTS' | translate: { number: content.discussion.length } }}</a>
                            </li>
                            <li *ngIf="currentUser">
                                <div *ngIf="currentUser.username" class="d-flex">
                                    <i class="zmdi zmdi-star mr-2"></i>
                                    <div class="rating-meta">{{ 'CONTENT.VIEW.RATING' | translate }}</div>
                                    <app-rating class="rating-meta" [type]="'content'" [ratedId]="content._id" [inputRating]="content.rating.value"></app-rating>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="container">
                            <div class="video-container">
                                <div *ngIf="content.video | safeResourceUrl" class="embed-responsive embed-responsive-16by9">
                                    <app-youtube-player [videoId]="content.video | videoIdExtractor" (change)="onPlayerStateChange($event)"></app-youtube-player>
                                </div>
                            </div>
                            <div *ngIf="content.body" class="ql-editor preview" [innerHTML]="content.body | safeHtml"></div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid mb-0" *ngIf="currentUser && content && content.approved">
                    <div class="row clearfix">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="body">
                                    <ul class="cbp_tmtimeline mt-3">
                                        <!--The part responsible for commenting-->
                                        <li id="target">
                                            <time class="cbp_tmtime" datetime="2017-11-04T18:30">
                                                <span class="large mt-4 ">{{ 'CONTENT.VIEW.NOW' | translate }}</span>
                                            </time>
                                            <div class="cbp_tmlabel empty">
                                                <span>
                                                    <div class="form-group  w-80">
                                                        <input type="text" class="form-control" id="inputArea" placeholder="{{'CONTENT.VIEW.' + somePlaceholder | translate }}" #commentInput
                                                            [(ngModel)]="changingComment">
                                                    </div>
                                                </span>
                                                <div align="end">
                                                    <span>
                                                        <button class="btn btn-raised btn-primary waves-effect btn-round col-white" (disabled)="changingComment == ''" (click)="addComment(commentInput.value)">
                                                            {{ ((!isReplying)? 'CONTENT.VIEW.COMMENT_BUTTON' : 'CONTENT.VIEW.REPLY_BUTTON') | translate }}
                                                        </button>
                                                        <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary" data-toggle="tooltip" data-placement="bottom"
                                                            title="Cancel" (click)="cancel()">
                                                            <i class="zmdi zmdi-close zmdi-hc-lg"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </li>
                                        <!--.....................-->
                                        <!--The Part responsible for comments-->
                                        <li *ngFor="let comment of comments; let i = index">
                                            <time class="cbp_tmtime" datetime="2017-11-04T03:45">
                                                <span>{{comment.createdAt*1000 | date:'MM/dd/yyyy HH:mm': 'locale'}}</span>
                                            </time>
                                            <div class="cbp_tmicon bg-info">
                                                <i class="zmdi zmdi-label"></i>
                                            </div>
                                            <div class="cbp_tmlabel">
                                                <div class="row">
                                                    <div class="col-md-6 ">
                                                        <div class="inner-content">
                                                            <h2>
                                                                <a routerLink="profile/{{comment.creator}}">{{comment.creator}}</a>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6" align="end">
                                                        <div class="inner-content">
                                                            <span>
                                                                <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary" *ngIf="comment.replies.length > 0" (click)="showReply(i)"
                                                                    data-toggle="tooltip" data-placement="bottom" title={{(viewedReplies[i])?hideReplies:showReplies}}>
                                                                    <i *ngIf="!viewedReplies[i]" class="zmdi zmdi-triangle-down"></i>
                                                                    <i *ngIf="viewedReplies[i]" class="zmdi zmdi-triangle-up"></i>

                                                                </button>
                                                                <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary" (click)="onReply(comment._id)" data-toggle="tooltip"
                                                                    data-placement="bottom" title="Reply">
                                                                    <i class="zmdi zmdi-mail-reply"></i>
                                                                </button>
                                                                <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger" *ngIf="(comment.creator === currentUser.username || currentUser.isAdmin || currentUser.username === content.creator )"
                                                                    (click)="onDelete(comment._id)" data-toggle="tooltip" data-placement="bottom"
                                                                    title="Delete Comment">
                                                                    <i class="zmdi zmdi-delete "></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="text-muted ml-4">
                                                        <p>{{comment.text}} </p>
                                                    </div>
                                                </div>
                                                <!--the part responsible for replies-->
                                                <div *ngIf="viewedReplies[i]" style="margin-left: 10%">
                                                    <div *ngFor="let reply of comment.replies; let j = index">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <h2>
                                                                    <a routerLink="profile/{{comment.creator}}">{{reply.creator}}</a>
                                                                </h2>
                                                            </div>
                                                            <div class="col-md-6" align="end">
                                                                <small>
                                                                    <span>
                                                                        <button type="button" class="btn btn-icon btn-round btn-danger btn-xs" *ngIf="reply.creator === currentUser.username || comment.creator === currentUser.username || currentUser.isAdmin || currentUser.username === content.creator"
                                                                            (click)="onDeleteReply(comment._id,reply._id)" data-toggle="tooltip"
                                                                            data-placement="bottom" title="Delete Reply">
                                                                            <i class="zmdi zmdi-delete"></i>
                                                                        </button>
                                                                    </span>
                                                                </small>
                                                            </div>
                                                        </div>
                                                        <p class="ml-4 text-muted">{{reply.text}}</p>
                                                        <div *ngIf=" j != comment.replies.length-1">
                                                            <hr />
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--................................-->
                                            </div>
                                        </li>
                                        <!--....................................-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 right-box">
                <div *ngIf="content" class="card">
                    <div class="header">
                        <h2>
                            <strong>{{ 'CONTENT.VIEW.RECOMMENDED_CONTENT.RECOMMENDED' | translate }}</strong> {{ 'CONTENT.VIEW.RECOMMENDED_CONTENT.CONTENTS'
                            | translate }}</h2>
                    </div>
                    <div class="body widget popular-post">
                        <ul *ngIf="recommendedContent" class="list-unstyled m-b-0">
                            <li *ngFor="let contentItem of recommendedContent" class="row">
                                <div class="icon-box col-4">
                                    <img class="img-fluid img-thumbnail" [src]="contentItem.image" alt="{{ contentItem.title }}">
                                </div>
                                <div class="text-box col-8 p-l-0">
                                    <h5 class="m-b-0">
                                        <a routerLink="/content/view/{{ contentItem._id }}">{{ contentItem.title }}</a>
                                    </h5>
                                    <small class="author-name">{{ 'CONTENT.VIEW.BY' | translate }}
                                        <a routerLink="/profile/{{ contentItem.creator }}">{{ contentItem.creator }}</a>
                                    </small>
                                    <small class="date"> {{ contentItem.touchDate | date }}</small>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="content" class="card">
                    <div class="header">
                        <h2>
                            <strong>{{ 'CONTENT.SHARED.TAGS' | translate }}</strong>
                        </h2>
                    </div>
                    <div class="body widget tag-clouds">
                        <ul class="list-unstyled m-b-0">
                            <li *ngFor="let tag of content.tags">
                                <a routerLink="/content/list/{{ tag }}" class="tag badge badge-primary">{{ tag }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>