@import "../../../assets/css/blog.css";
.clickable-icon {
    cursor: pointer;
}

.content-container {
    margin-top: 2%;
    height: 90%;
}
.comment-container {
    margin-top: 4%;
}
.example-container {
    display: flex;
    flex-direction: column;
}
.example-header-image {
background-image:url(../../../assets/images/profile-view/defaultPP.png);
background-size: cover;
}

.mat-card {
    margin : 0.5%;
    background-color :#f4f7f6;
}
.mat-icon {
    font-size: 30px;
    color : #DA572B;
}
.mat-icon-button {
    outline: none;
    border: 0;
 }
.mat-line {
    font-weight: bold;
    margin-left: 2%;
    margin-top:0px;
    margin-bottom: 0px
}
