<section class="content profile-page">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<div class="block-header">
  <div class="row">
    <div class="col-lg-7 col-md-6 col-sm-12">
      <h2>Activity
        <small>Welcome to Activity</small>
      </h2>
    </div>
    <div class="col-lg-5 col-md-6 col-sm-12">
      <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
        <i class="zmdi zmdi-plus"></i>
      </button>
      <ul class="breadcrumb float-md-right">
        <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="zmdi zmdi-home"></i> Dasboard</a></li>
        <li class="breadcrumb-item active">{{activity.name}}</li>
      </ul>
    </div>
  </div>
</div>
  <!--Activity Container -->
<div class="container-fluid">
  <div class="row clearfix">
    <div class="col-lg-12 col-md-12">
      <div class="card profile-header bg-dark">
        <div class="body col-white">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-12">
              <div class="profile-image float-md-right"> <img [src]="activity.image" alt=""> </div>
            </div>
            <div class="col-lg-9 col-md-8 col-12">
              <h4 class="m-t-0 m-b-0">{{activity.name}}</h4>
              <span class="job_post">Activity</span>
              <p>from : {{activity.fromDateTime  | date:'yyyy-MM-dd HH:mm': 'locale'}} to : {{activity.toDateTime | date:'yyyy-MM-dd HH:mm': 'locale'}}</p>
              <div>
                <span style="color: #ff5722; margin-right: 4px">{{ activity.price | currency: 'EGP'}}</span>
                <button class="btn btn-primary btn-round" (click)="testForDiscussion()">Book</button>
                <button class="btn btn-primary btn-round btn-simple">Comment</button>
              </div>
              <p class="social-icon m-t-5 m-b-0"></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <!--....................-->
  <!--Activity Description-->
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="body">
        <h4>Description :</h4>
        {{activity.description}}
      </div>
    </div>
    <!--...................-->
  </div>

  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <ul class="cbp_tmtimeline">
              <!--The part responsible for commenting-->
              <li  *ngIf="signedIn" id="target">
                <time class="cbp_tmtime" datetime="2017-11-04T18:30"><span class="hidden">25/12/2017</span> <span class="large">Now</span></time>
                <div class="cbp_tmicon"><img class="media-object circ " [src]="currentUser.avatar" alt=""></div>
                <div class="cbp_tmlabel empty">
                  <span>
                    <textarea matInput class="col-lg-9" style="background-color: rgba(113, 113, 113, 0); border: #ffffff" id="inputArea" placeholder={{somePlaceholder}} onkeydown="enterPressed()" #commentInput [(ngModel)]="changingComment"></textarea>
                  </span>
                  <span>
                    <button mat-button id="commentBtn" (click)="addComment(commentInput.value)" [disabled]="changingComment == ''"> {{( !isReplying)?"Comment":"reply"}}</button>
                    <button mat-button *ngIf="isReplying" id="cancelBtn" (click)="cancelReplying()">Cancel</button>
                  </span>
                </div>
              </li>
              <!--.....................-->
              <!--The Part responsible for comments-->
              <li *ngFor="let comment of activity.discussion; let i = index">
                <time class="cbp_tmtime" datetime="2017-11-04T03:45"><span>{{comment.createdAt | date:'HH:mm': 'locale'}}</span></time>
                <div class="cbp_tmicon bg-info"><i class="zmdi zmdi-label"></i></div>
                <div class="cbp_tmlabel">
                  <h2><a href="javascript:void(0);" (click)="redirectToProfile(comment.creator)">{{comment.creator}}</a>
                    <span>
                      <button mat-icon-button class="col-auto" *ngIf="signedIn && ( comment.creator === currentUser.username || currentUser.isAdmin || currentUser.username === activity.creator )" (click)="onDelete(comment._id)" matTooltip="delete">
                        <mat-icon>delete</mat-icon>
                      </button>
                      <button mat-icon-button class="col-auto" *ngIf="comment.replies.length > 0" (click)="showReply(i)" matTooltip={{(viewedReplies[i])?hideReplies:showReplies}}>
                        <mat-icon>{{(viewedReplies[i])?"arrow_drop_up":"arrow_drop_down"}}</mat-icon>
                      </button>
                      <button mat-icon-button class="col-auto" (click)="onReply(comment._id)" matTooltip="Reply">
                        <mat-icon>reply</mat-icon>
                      </button>
                    </span>
                  </h2>
                  <p>{{comment.text}}</p>
                  <!--the part responsible for replies-->
                  <div *ngIf="viewedReplies[i]" style="margin-left: 10%">
                    <div *ngFor="let reply of comment.replies; let j = index">
                      <div>
                        <h2><a href="javascript:void(0);" (click)="redirectToProfile(comment.creator)">{{reply.creator}}</a></h2>
                        <p>{{reply.text}}</p>
                      </div>
                      <button mat-icon-button style="width:7%" align="end" *ngIf="reply.creator === currentUser.username || comment.creator === currentUser.username || currentUser.isAdmin || currentUser.username === activity.creator" (click)="onDeleteReply(comment._id,reply._id)" matTooltip="delete">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                  </div>
                  <!--................................-->
                </div>
                <div >

                </div>
              </li>
              <!--....................................-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>