<section class="content page-calendar">
  <div class="block-header">
    <ul class="breadcrumb float-right">
      <li class="breadcrumb-item">
        <a routerLink="/dashboard">
          <i class="zmdi zmdi-home"></i> Nawwar</a>
      </li>
      <li class="breadcrumb-item">
        <a routerLink="{{ type === 'personal' ? '/profile/' + profileUsername : '/published-study-plans' }}">
          <i class="{{ type === 'personal' ? 'zmdi zmdi-account-circle' : 'zmdi zmdi-graduation-cap' }}">
          </i>{{ type === 'personal' ? ' ' + profileUsername : ' Study Plans' }}</a>
      </li>
      <li class="breadcrumb-item active">{{ studyPlan.title }}</li>
    </ul>
    <div class="row">
      <div class="col-lg-6">
        <h2>
          {{ title }}
          <a class="clickable col-md-12 col-lg-4 col-xl-4" *ngIf="!editingTitle" (click)="editingTitle = true">
            <i class="zmdi zmdi-edit"></i>
          </a>
        </h2>
        <div class="row">
          <div class="form-group col-md-4" *ngIf="editingTitle">
            <div class="form-line">
              <input type="text" class="form-control" name="newTitle" [(ngModel)]="newTitle" placeholder="New Title">
            </div>
          </div>
          <div>
            <a class="clickable" *ngIf="editingTitle" (click)="title = newTitle; editingTitle = flase; changed = true;">
              <i class="zmdi zmdi-check zmdi-hc-2x"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <app-rating type="studyPlan" [(ratedId)]="_id" [(inputRating)]="rating" *ngIf="type === 'published'"></app-rating>
    <div class="card">
      <div class="row">

        <div class="col-md-12 col-lg-4 col-xl-4">
          <div class="body">
            <button type="button" class="btn btn-round btn-primary waves-effect" data-toggle="modal" data-target="#createModal" *ngIf="!currIsChild && (type === 'personal' || (currUsername === studyPlan.creator || currIsAdmin))">Add Event</button>
            <button class="btn btn-default hidden-lg-up m-t-0 float-right" data-toggle="collapse" data-target="#open-events" aria-expanded="false"
              aria-controls="collapseExample">
              <i class="zmdi zmdi-chevron-down"></i>
            </button>
            <div class="collapse-xs collapse-sm collapse" id="open-events">
              <hr>
              <div class="event-name b-primary row" *ngFor="let event of events; let index = index">
                <div class="col-2 text-center">
                  <h4>{{ event.start | date:'dd' }}
                    <span>{{ event.start | date:'MMM' }}</span>
                    <span>{{ event.start | date:'yyyy' }}</span>
                  </h4>
                </div>
                <div class="col-10">
                  <h6>{{ event.title }}</h6>
                  <p>{{ event.meta && event.meta.description ? event.meta.description : 'N/A' }}</p>
                  <div class="float-right">
                    <a class="clickable col-md-12 col-lg-4 col-xl-4" data-toggle="modal" data-target="#editModal" (click)="preEdit(index); editIndex = index; editTitle = event.title; editStart = event.start; editEnd = event.end; editDescription = event.meta && event.meta.description ? event.meta.description : '';">
                      <i class="zmdi zmdi-edit zmdi-hc-2x"></i>
                    </a>
                    <a class="clickable col-md-12 col-lg-4 col-xl-4" (click)="delete(index)">
                      <i class="zmdi zmdi-delete zmdi-hc-2x"></i>
                    </a>
                  </div>
                  <address>
                    <i class="zmdi zmdi-pin"></i>
                    Mars
                  </address>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 col-lg-8 col-xl-8">
          <div class="body">
            <app-calendar-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="headerChange()" (viewChange)="headerChange()">
            </app-calendar-header>
            <div [ngSwitch]="view">
              <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
              </mwl-calendar-month-view>

              <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
              </mwl-calendar-week-view>

              <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
                (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
              </mwl-calendar-day-view>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- <hr/> -->
    <div class="card">
      <div class="header">
        <h2>
          <a class="clickable float-right" *ngIf="!editingDescription" (click)="editingDescription = true">
            <i class="zmdi zmdi-edit zmdi-hc-2x"></i>
          </a>
          <a class="clickable float-right" *ngIf="editingDescription" (click)="editingDescription = false; changed = true;">
            <i class="zmdi zmdi-check zmdi-hc-2x"></i>
          </a>
          <strong>Description</strong>
        </h2>
      </div>
      <div class="body" *ngIf="editingDescription">
        <quill-editor class="text-editor" [options]="editorOptions" [(ngModel)]="editorContent" name="editorContent" (change)="onContentChanged($event)"></quill-editor>
      </div>
      <div class="body" *ngIf="!editingDescription">
        <div class="ql-editor preview" [innerHTML]="editorOut"></div>
      </div>
      <hr/>
      <div class="button-row">
        <button class="btn btn-primary" (click)="publish()" color="primary" *ngIf="type === 'personal' && !currIsChild">Publish</button>
        <button class="btn btn-primary" (click)="copy()" color="primary" *ngIf="!currIsChild">Copy</button>
        <button class="btn btn-primary" data-toggle="modal" data-target="#assignFunction" color="primary" *ngIf="type === personal && currUsername === profileUsername && !currIsChild">Assign</button>
        <button class="btn btn-primary" (click)="unAssign()" color="primary" *ngIf="studyPlan.assigned">Unassign</button>
        <button class="btn btn-primary" (click)="saveChangesPersonal()" color="primary" *ngIf="changed">Save Changes</button>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="assignFunction" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">Assign</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <span class="reset">
            <input type="text" [(ngModel)]="selectedUser" name="assignFunctionTarget" list="userList">
            <datalist id="userList">
              <option>{{ profileUsername }}</option>
              <option *ngFor="let child of listOfChildren">{{child}}</option>
            </datalist>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect" (click)="assign()" data-dismiss="modal">Assign</button>
        <button type="button" class="btn btn-simple btn-round waves-effect" data-dismiss="modal">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<!-- Event Creation Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="createModalLabel">New Event</h4>
      </div>
      <div class="modal-body">
        <form id="createForm" method="POST">
          <div class="form-group">
            <div class="form-line">
              <input type="text" class="form-control" name="createTitle" [(ngModel)]="createTitle" placeholder="Title" required>
            </div>
          </div>
          <div class="form-group">
            <div class="form-line">
              <input type="text" class="form-control" name="createDescription" [(ngModel)]="createDescription" placeholder="Description">
            </div>
          </div>
          <div class="input-group">
            <input type="text" class="form-control datetimepicker" id="createStart" placeholder="Event Start">
            <span class="input-group-addon">
              <i class="zmdi zmdi-calendar"></i>
            </span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control datetimepicker" id="createEnd" placeholder="Event End">
            <span class="input-group-addon">
              <i class="zmdi zmdi-calendar"></i>
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal" (click)="createEvent(createTitle, createDescription, createStart, createEnd); createTitle = ''; createDescription = ''; createStart = null; createEnd = null;">Create Event</button>
        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal" (click)="cancelCreate(); createTitle = ''; createDescription = ''; createStart = null; createEnd = null;">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Event Modification Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="editModalLabel">Edit Event</h4>
      </div>
      <div class="modal-body">
        <form id="editForm" method="POST">
          <div class="form-group">
            <div class="form-line">
              <input type="text" class="form-control" name="editTitle" [(ngModel)]="editTitle" placeholder="Title">
            </div>
          </div>
          <div class="form-group">
            <div class="form-line">
              <input type="text" class="form-control" name="editDescription" [(ngModel)]="editDescription" placeholder="Description">
            </div>
          </div>
          <div class="input-group">
            <input type="text" class="form-control datetimepicker" id="editStart" placeholder="Event Start">
            <span class="input-group-addon">
              <i class="zmdi zmdi-calendar"></i>
            </span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control datetimepicker" id="editEnd" placeholder="Event End">
            <span class="input-group-addon">
              <i class="zmdi zmdi-calendar"></i>
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal" (click)="editEvent(editTitle, editDescription, editStart, editEnd, index); editTitle = ''; editDescription = ''; editStart = null; editEnd = null;">Save Changes</button>
        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal" (click)="editTitle = ''; editDescription = ''; editStart = null; editEnd = null;">Cancel</button>
      </div>
    </div>
  </div>
</div>