
  <form class="activity-form" #activityForm="ngForm">
    <div class="card"style="width:650px;height:420px">
      <div class="header">
        <h2><strong>Edit Activity  </strong>{{data.name}}</h2>
      </div>
      <div class="body">
      <div class=row>
          <div class="col-lg-10 col-md-24">
            <div class="form-group">
             Name <input class="form-control"matInput  [(ngModel)]= "data.name" name="activity name" required type= "string" placeholder=" Activity name">
            
            </div>
          </div>
         
          <div class="col-lg-5 col-md-24">
            <div class="form-group">
             Start date <input  class="form-control" matInput  [(ngModel)]= "data.fromDateTime" name="from date" required type= "datetime-local" placeholder=" Activity start date">
            </div>
          </div>
          <div class="col-lg-5 col-md-24">
            <div class="form-group">
            End date  <input  class="form-control" matInput  [(ngModel)]= "data.toDateTime" name="to date" required type= "datetime-local" placeholder=" Activity end date">
            </div>
          </div>
          <div class="col-lg-4 col-md-24">
              <div class="form-group">
                  <!--span matPrefix>EGP &nbsp;</span-->
            Price<input class="form-control" matInput  [(ngModel)]= "data.price"  name="activity price" required type="number" placeholder=" Activity price">
                
              </div>
            </div>
          <div class="col-md-12">
            <div class="form-group">
             Description <textarea rows="4" class="form-control no-resize"  matInput  [(ngModel)]= "data.description" name="description" required type="string" placeholder="Activity description"></textarea>
            </div>
          </div>
          <div class="col-lg-8 col-md-8">
            <button class="btn btn-round" (click)="onNoClick()">cancel</button>
            <button class="btn btn-primary btn-round" [disabled]="!activityForm.form.valid || data.toDateTime <= data.fromDateTime" type="submit"  [mat-dialog-close]= "{name:data.name , description:data.description, price:data.price, fromDateTime:data.fromDateTime , toDateTime:data.toDateTime}" cdkFocusInitial>Save Changes</button>
          </div>      
      </div>
    </div>
    </div>
    </form>