<mat-card *ngFor="let mockReq of mockRequests; let i = index">
  <mat-card-header>
    <mat-card-title>{{mockReq.name}}</mat-card-title>
    <mat-card-subtitle>Sold by {{mockReq.seller}}</mat-card-subtitle>
  </mat-card-header>
  {{mockReq.image}}
  <mat-card-content>
    <h3>This item is up for {{mockReq.acquiringType}}</h3>
    <h2 *ngIf="mockReq.acquiringType === 'Sale'">{{mockReq.price | currency}}</h2>
    <h2 *ngIf="mockReq.acquiringType === 'Rent'">{{mockReq.price | currency}} a day</h2>
    <h3 *ngIf="mockReq.acquiringType === 'Rent'">For up to {{mockReq.rentPeriod}} days</h3>
    <p>
      {{mockReq.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="acceptReq(i)">Accept the Request and Add to Marketplace</button>
    <button mat-button (click)="rejectReq(i)">Reject the Request and Notify the User</button>
  </mat-card-actions>
</mat-card>