<section class="content blog-page" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
  <div class="block-header" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
    <div class="row">
      <div class="col-lg-7 col-md-5 col-8" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
        <h2 style="font-size:25px" [align]="translate.currentLang === 'ara'? 'right': null" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
          <i class="material-icons" id="iconn" style="margin-left:3px" [style.float]="translate.currentLang === 'ara'? 'right': null">people</i>
          {{ 'PSYCHOLOGIST.TITLE.VERIFIED_PSYCHS' | translate }}
          <small>{{ 'PSYCHOLOGIST.TITLE.SUB' | translate }}</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
        <button id="btnn" class="btn btn-primary btn-round btn-icon hidden-sm-down float-right m-l-10" type="button" (click)="addRequestForm()">
          <i class="zmdi zmdi-plus"></i>
        </button>
        <ul class="breadcrumb float-md-right" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">
              <i class="zmdi zmdi-home" style="margin-left:3px"></i>{{ 'PSYCHOLOGIST.TITLE.NAWWAR' | translate }}</a>
          </li>
          <li class="breadcrumb-item active">{{ 'PSYCHOLOGIST.TITLE.VERIFIED_PSYCHS' | translate }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null"
    [scrollWindow]="false">
    <div class="row">
      <div class="container-fluid">
        <div class="card-deck" id="cards">
          <div id="psycho" class="col-lg-9 col-md-12">
            <div class="body text-center" *ngIf="!this.psychologists.length">
              <div class="not_found">
                <i class="zmdi zmdi-mood-bad zmdi-hc-4x"></i>
                <h4 class="m-b-0">{{'PSYCHOLOGIST.INFO.NONE' | translate}}</h4>
              </div>
            </div>
            <div class="card-deck">
              <div id="psycho" class="col-lg-4 col-md-12" *ngFor="let psych of psychologists; let i = index;">
                <div class="card single_post clearfix js-sweetalert" style="margin-bottom: 5px">
                  <div class="header">
                    <span >
                    <h2 style="font-size:25px" [align]="translate.currentLang === 'ara'? 'right': null">
                      <strong>{{psych.firstName}} {{psych.lastName}}</strong>
                    </h2>
                    </span>
                    <ul class="header-dropdown">
                      <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                          aria-expanded="false">
                          <i class="zmdi zmdi-more"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right" >
                          <li>
                            <a [routerLink]="" (click)="showEditPrompt(i)">{{ 'PSYCHOLOGIST.INFO.EDIT' | translate }}</a>
                          </li>
                          <li>
                            <a [routerLink]="" (click)="showDeletePrompt(i)">{{ 'PSYCHOLOGIST.INFO.DELETE' | translate }}</a>
                          </li>
                        </ul>
                    </ul>
                  </div>
                  <div class="body" style="padding-top:0px">
                    <div class="body text-secondary" style="font-size:15px" dir="auto">
                      <div class="row">
                        <i class="zmdi zmdi-local-phone" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null"  style="margin-right:3%"> </i>
                        <span>
                          <strong [style.margin-right]="translate.currentLang === 'ara'? '5px': null"> {{ 'PSYCHOLOGIST.INFO.PHONE' | translate }}</strong> {{psych.phone}}</span>
                      </div>
                      <div class="row">
                        <i class="zmdi zmdi-email" style="margin-right:3%"> </i>
                        <span [style.text-align]="translate.currentLang === 'ara'? 'right': null">
                          <strong [style.margin-right]="translate.currentLang === 'ara'? '5px': null"> {{ 'PSYCHOLOGIST.INFO.EMAIL' | translate }}</strong> <br> {{psych.email}}</span>
                      </div>
                      <div class="row">
                        <i class="zmdi zmdi-calendar-close" style="margin-right:3%"> </i>
                        <span>
                          <strong [style.margin-right]="translate.currentLang === 'ara'? '5px': null"> 
                            {{ 'PSYCHOLOGIST.INFO.DAYSOFF' | translate }}
                          </strong>
                        </span>
                      </div>
                      <div [style.height]="translate.currentLang === 'ara'? '20px': null" [style.margin-right]="translate.currentLang === 'ara'? '5px': null">
                        <span *ngFor="let day of psych.daysOff" class="badge badge-default" [style.float]="translate.currentLang === 'ara'? 'right': null"> {{ 'PSYCHOLOGIST.DAYS.' + day.toUpperCase() | translate }}</span>
                      </div>
                      <br>
                      <div class="row">
                        <i class="zmdi zmdi-money-box" style="margin-right:3%"> </i>
                        <span>
                          <strong [style.margin-right]="translate.currentLang === 'ara'? '5px': null"> {{ 'PSYCHOLOGIST.INFO.PRICE' | translate }}</strong> {{psych.priceRange}}</span>
                      </div>
                      <div class="row">
                        <i class="zmdi zmdi-home" style="margin-right:3%"> </i>
                        <span>
                          <strong [style.margin-right]="translate.currentLang === 'ara'? '5px': null"> {{ 'PSYCHOLOGIST.INFO.ADD' | translate }}</strong>
                        </span>
                      </div>
                      <div style="height:70px"  [align]="translate.currentLang === 'ara'? 'right': null">
                        <span>{{psych.address}}</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-12 right-box">
            <div class="card">
              <div class="body search">
                <div>
                <div class="input-group m-b-0">
                  <span class="input-group-addon" (click)="this.applySearch()">
                    <i class="zmdi zmdi-search"></i>
                  </span>
                  <input type="text" class="form-control" [style.text-align]="translate.currentLang === 'ara'? 'right': null" 
                  placeholder="{{ 'PSYCHOLOGIST.FILTERS.NAME_SEARCH' | translate }}" [(ngModel)]="writtenSearch" [style.border-radius] = "translate.currentLang == 'ara'? '33px 30px 30px 30px': null">
                </div>
                <br>
                <div class="input-group m-b-0">
                  <span class="input-group-addon" (click)="this.applyAddress()">
                    <i class="zmdi zmdi-search"></i>
                  </span>
                  <input type="text" class="form-control" [style.text-align]="translate.currentLang === 'ara'? 'right': null" 
                  placeholder="{{ 'PSYCHOLOGIST.FILTERS.ADD_SEARCH' | translate }}" [(ngModel)]="writtenAddress">
                </div>
                <br>
                </div>
                <div>
                  <h6 [align]="translate.currentLang === 'ara'? 'right': null">{{ 'PSYCHOLOGIST.FILTERS.SORT_BY' | translate }}</h6>
                  <div class="radio" *ngFor="let s of sorts" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
                    <input  id="sort_{{s}}" style="margin-right: 3px" (click)="applySort(s)" [value]='s' type="radio" name="sort_{{S}}" [(ngModel)]="sort">
                    <label for="sort_{{s}}">
                       <p  [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" [style.padding-right]="translate.currentLang === 'ara'? '20px': null"> {{ 'PSYCHOLOGIST.FILTERS.' + s.toUpperCase() | translate }} </p>
                    </label>
                  </div>
                </div>
                <mat-chip-list  [style.float]="translate.currentLang === 'ara'? 'right': null">
                  <mat-chip *ngIf="this.selectedAddress" [removable]=true (remove)="remove('address')">
                    {{this.selectedAddress}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <mat-chip [removable]=true (remove)="remove('search')" *ngIf="this.selectedSearch">{{this.selectedSearch}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <mat-chip [removable]=true (remove)="remove('sort')" *ngIf="this.sort"> {{ 'PSYCHOLOGIST.FILTERS.' + this.sort.toUpperCase() | translate }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>

                </mat-chip-list>
              </div>
            </div>
          </div>
        </div>
        <ul *ngIf="totalNumberOfPages>1" class="pagination pagination-primary">
          <li *ngIf="currentPageNumber>1" class="page-item">
            <a class="page-link" (click)="changePage(this.currentPageNumber - 1)">Previous</a>
          </li>
          <li *ngFor="let pageNumberForPagination of getPaginationRange()" [ngClass]="{'page-item': true,'active': currentPageNumber === pageNumberForPagination}">
            <a class="page-link" (click)="changePage(pageNumberForPagination)">{{ pageNumberForPagination }}</a>
          </li>
          <li *ngIf="currentPageNumber<totalNumberOfPages" class="page-item">
            <a class="page-link" (click)="changePage(this.currentPageNumber + 1)">Next</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
