<section class="content blog-page">
  <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h1>Verified Psychologists
          </h1>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
            <button class="btn btn-primary btn-round hidden-sm-down float-right m-l-10" type="button" (click)="addRequestForm()">
              <i class="zmdi zmdi-plus"></i>
            </button>
            <ul class="breadcrumb float-md-right">
                <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="zmdi zmdi-home"></i> Nawwar</a></li>
                <li class="breadcrumb-item active">Our psychologists</li>
              </ul>
          </div>
      </div>
    </div>
  <div class="container-fluid search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()" [scrollWindow]="false">
    <div class="row">
      <div class="container-fluid">
        <div class="card-deck">
        <div class="card-deck col-lg-9 col-md-12">
          <div class="col-lg-6 col-md-12" *ngFor="let psych of psychologists; let i = index;">
            <div class="card single_post clearfix js-sweetalert" style="margin-bottom: 5px" >
              <div class="header">
                  <h2 style="font-size:20px" class="text-primary"><strong>{{psych.firstName}} {{psych.lastName}}</strong></h2>
                  <ul class="header-dropdown">
                  <li class="dropdown"> <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <i class="zmdi zmdi-more"></i> </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                      <li><a [routerLink]="" (click)="showEditPrompt(i)">Edit this information</a></li>
                      <li><a [routerLink]="" (click)="showDeletePrompt(i)">Delete This information</a></li>
                    </ul>
                </ul>
              </div>
              <div class="body" >
                <div class="body text-secondary" style="font-size:15px; padding-top:1px">
                  <div class="row">
                      <i class="zmdi zmdi-local-phone" style="margin-right:3%"> </i>
                    <span ><strong> Phone</strong> {{psych.phone}}</span>
                  </div>
                  <div class="row">
                    <i class="zmdi zmdi-email" style="margin-right:3%"> </i>
                  <span ><strong> Email</strong> {{psych.email}}</span>
                  </div>
                  <div class="row">
                      <i class="zmdi zmdi-calendar-close" style="margin-right:3%"> </i>
                    <span ><strong> Days off </strong> </span>
                  </div>
                  <div>
                    <span *ngFor="let day of psych.daysOff" class="badge badge-default">{{day}}</span>
                  </div>
                  <br>
                  <div class="row">
                    <i class="zmdi zmdi-money-box" style="margin-right:3%"> </i>
                  <span ><strong> Maximum Price Range</strong> {{psych.priceRange}}</span>
                  </div>
                  <div class="row">
                      <i class="zmdi zmdi-home" style="margin-right:3%"> </i>
                    <span ><strong> Adress </strong> </span>
                  </div>
                  <div style="height:70px">
                          <span>{{psych.address}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 right-box">
            <mat-card class="card">
              <div class="body search">
                <div class="input-group m-b-0">
                    <input type="text" class="form-control" placeholder="Search by name" [(ngModel)]="writtenSearch">
                    <span class="input-group-addon"(click)="this.applySearch()">
                        <i class="zmdi zmdi-search"></i>
                    </span>
                </div>
                <br>
                <div class="input-group m-b-0">
                    <input type="text" class="form-control" placeholder="Search by address" [(ngModel)]="writtenAddress">
                    <span class="input-group-addon"(click)="this.applyAddress()">
                      <i class="zmdi zmdi-search"></i>
                    </span>
                  </div>
                  <br>
                  <h6>Sort By</h6>
                  <div class="radio" *ngFor="let s of sorts">
                    <input id="sort_{{s}}" style="margin-right: 3px" (click)="applySort(s)"
                      [value]='s' type="radio" name="sort_{{S}}" [(ngModel)]="sort">
                      <label for="sort_{{s}}">
                        {{s}}
                    </label>
                  </div>
                    <mat-chip-list>
                      <mat-chip *ngIf="this.selectedAddress" [removable]=true (remove)="remove('address')">
                       {{this.selectedAddress}} <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <mat-chip [removable]=true (remove)="remove('search')" *ngIf="this.selectedSearch">{{this.selectedSearch}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
                      <mat-chip [removable]=true (remove)="remove('sort')" *ngIf="this.sort">{{this.sort}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                      </mat-chip>
          
                    </mat-chip-list>
                </div>
              </mat-card>
            </div>
        </div>
      </div>
    </div>
  </div>  
</section>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
      <div>
        <app-add-psych-request></app-add-psych-request>
      </div>

      <div class="modal-footer" style="display: none;">
        <button type="button" class="btn btn-default" id="btn11" data-dismiss="modal">Close</button>
      </div>
  </div>
</div>