<div class="card-deck" dir="ltr">
    <div class="card-deck col-12">
      <div class="col-lg-4 col-md-12" *ngFor="let mockReq of requests; let i = index">
        <div class="card single_post mt-4" >
          <div class="header">
            <h2>
              <strong>{{mockReq.name}}</strong>
              <small>Sold by {{mockReq.seller}}</small>
            </h2>
          </div>
          <div class="body text-secondary" style="font-size:12px">
              <img mat-card-image src="{{mockReq.image}}" alt="Product photo">
            <span><strong> This item is up for </strong> {{mockReq.acquiringType}}</span><br>    
            <span *ngIf="mockReq.acquiringType === 'sell'">{{mockReq.price | currency}}</span><br>
            <span *ngIf="mockReq.acquiringType === 'rent'">{{mockReq.price | currency}} a day</span>
            <span *ngIf="mockReq.acquiringType === 'rent'">For up to {{mockReq.rentPeriod}} days</span>
            <p>
              {{mockReq.description}}
            </p>
          <div class="card-footer bg-transparent border-0" align="end">
            <a href="javascript:void(0);">
              <div class="hover" style="float:right">
                <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary waves-effect" (click)="acceptReq(i)">
                  <i class="zmdi zmdi-check"></i>
                </button>
                <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger waves-effect" (click)="rejectReq(i)">
                  <i class="zmdi zmdi-close"></i>
                </button>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    
  </div>