<form #contentEditForm="ngForm">
    <mat-vertical-stepper class="edit-stepper">
        <mat-step label="Content Data">
            <button mat-button matStepperNext>Next</button>
            <mat-card class="offset-xl-4 col-xl-4 offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-sm-12 mt-1">
                <mat-form-field class="meta-input" hintLabel="Enter the title of the content">
                    <input matInput required [(ngModel)]="content.title" name="title" placeholder="The title goes here">
                </mat-form-field>
                <mat-form-field class="meta-input" hintLabel="Enter a link of the image of the content if exists">
                    <mat-icon matPrefix>link</mat-icon>
                    <input matInput [(ngModel)]="content.image" #content.image name="image" placeholder="Image link goes here">
                </mat-form-field>
                <mat-form-field class="meta-input" hintLabel="Enter a link of the main video (Youtube) of the content if exists">
                    <mat-icon matPrefix>link</mat-icon>
                    <input matInput [(ngModel)]="videoInput" #content.video name="video" placeholder="Video link goes here" (blur)="getSafeUrl()">
                </mat-form-field>
                <mat-form-field class="meta-input" hintLabel="Enter the type of content">
                    <mat-select placeholder="content type..." required #content.type name="type" [(ngModel)]="content.type">
                        <mat-option value="resource">Resource</mat-option>
                        <mat-option value="idea">Idea</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="meta-input" hintLabel="Enter the category of choice here">
                    <mat-select placeholder="Category..." required name="category" [(ngModel)]="content.category" (ngModelChange)="getSections()">
                        <mat-option *ngFor="let category of categories" [value]="category.name">
                            {{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="meta-input" hintLabel="Enter a section from your category of choice">
                    <mat-select placeholder="Section..." required name="section" [(ngModel)]="content.section">
                        <mat-option *ngFor="let section of requiredSections" [value]="section.name">
                            {{section.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="meta-input" hintLabel="Enter tags so that your content reaches more people">
                    <mat-chip-list #tagList>
                        <mat-chip *ngFor="let tag of content.tags" [selectable]="true" [removable]="true" (remove)="remove(tag)">
                            {{tag}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input placeholder="New tag ..." name="tags" [matChipInputFor]="tagList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)" (blur)="add($event)" />
                    </mat-chip-list>
                </mat-form-field>
            </mat-card>
        </mat-step>
        <mat-step label="Content Description">
            <button mat-button matStepperNext>Next</button>
            <quill-editor class="text-editor" [options]="editorOptions" [(ngModel)]="content.body" name="body"></quill-editor>
        </mat-step>
        <mat-step label="Content Preview">
            <button mat-button matStepperNext>Next</button>
            <div class="container">
                <div *ngIf="content.video | safeResourceUrl" class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" [src]="content.video | safeResourceUrl" allowfullscreen></iframe>
                </div>
                <h1 class="title">{{content.title}}</h1>
                <div *ngIf="content.body" class="ql-editor preview" [innerHTML]="content.body | safeHtml"></div>
            </div>
        </mat-step>
        <mat-step label="Submit">
            <mat-card class="offset-xl-4 col-xl-4 offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-sm-12 mt-5">
                <h1 class="text-center" *ngIf="contentEditForm.form.valid">All Is Well.</h1>
                <h1 class="text-center" *ngIf="!contentEditForm.form.valid">Something is wrong</h1>
                <button class="center" mat-button [hidden]="!contentEditForm.form.valid" (click)="onSubmit()">Submit</button>
            </mat-card>
        </mat-step>
    </mat-vertical-stepper>
</form>