<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30">
            <img class="zmdi-hc-spin" src="assets/images/favicon.ico" width="48" height="48" alt="sQuare">
        </div>
        <p>Please wait...</p>
    </div>
</div>
<div class="overlay_menu">
    <button class="btn btn-primary btn-icon btn-icon-mini btn-round">
        <i class="zmdi zmdi-close"></i>
    </button>
    <div class="container">
        <div class="row clearfix">
            <div class="card links">
                <div class="body">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <h6>App</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a routerLink="/app/inbox">Inbox</a>
                                </li>
                                <li>
                                    <a routerLink="/app/chat">Chat</a>
                                </li>
                                <li>
                                    <a routerLink="/app/calendar">Calendar</a>
                                </li>
                                <li>
                                    <a routerLink="/app/file-dashboard">File Manager</a>
                                </li>
                                <li>
                                    <a routerLink="/app/contact">Contact list</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <h6>User Interface (UI)</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a routerLink="/user-interface/ui-kit">UI KIT</a>
                                </li>
                                <li>
                                    <a routerLink="/user-interface/tabs">Tabs</a>
                                </li>
                                <li>
                                    <a routerLink="/user-interface/range-sliders">Range Sliders</a>
                                </li>
                                <li>
                                    <a routerLink="/user-interface/modals">Modals</a>
                                </li>
                                <li>
                                    <a routerLink="/user-interface/alerts">Alerts</a>
                                </li>
                                <li>
                                    <a routerLink="/user-interface/dialogs">Dialogs</a>
                                </li>
                                <li>
                                    <a routerLink="/user-interface/collapse">Collapse</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <h6>Sample Pages</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a routerLink="/sample-pages/image-gallery">Image Gallery</a>
                                </li>
                                <li>
                                    <a routerLink="/sample-pages/profile">Profile</a>
                                </li>
                                <li>
                                    <a routerLink="/sample-pages/timeline">Timeline</a>
                                </li>
                                <li>
                                    <a routerLink="/sample-pages/pricing">Pricing</a>
                                </li>
                                <li>
                                    <a routerLink="/sample-pages/invoices">Invoices</a>
                                </li>
                                <li>
                                    <a routerLink="/sample-pages/search-results">Search Results</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <h6>About</h6>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="http://thememakker.com/about/" target="_blank">About</a>
                                </li>
                                <li>
                                    <a href="http://thememakker.com/contact/" target="_blank">Contact Us</a>
                                </li>
                                <li>
                                    <a href="http://thememakker.com/admin-templates/" target="_blank">Admin Templates</a>
                                </li>
                                <li>
                                    <a href="http://thememakker.com/services/" target="_blank">Services</a>
                                </li>
                                <li>
                                    <a href="http://thememakker.com/portfolio/" target="_blank">Portfolio</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12">
                <div class="social">
                    <a class="icon" href="https://www.facebook.com/Project.Nawwar/" target="_blank">
                        <i class="zmdi zmdi-facebook"></i>
                    </a>
                    <p>Nawwar
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- Top Bar -->
<nav class="navbar">
    <ul class="nav navbar-nav navbar-left">
        <li>
            <div class="navbar-header">
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" routerLink="/dashboard">
                    <img src="assets/images/favicon.ico" width="30" alt="sQuare">
                    <span class="m-l-10">Nawwar</span>
                </a>
            </div>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-sm" data-close="true">
                <i class="zmdi zmdi-arrow-left"></i>
                <i class="zmdi zmdi-arrow-right"></i>
            </a>
        </li>
        <li class="dropdown app_menu">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                <i class="zmdi zmdi-apps"></i>
            </a>
            <ul class="dropdown-menu pullDown">
                <li *ngFor="let link of links">
                    <a [routerLink]="link.url">
                       <i [ngClass]="'zmdi zmdi-'+link.icon"></i>
                        <span>{{link.name}}</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="dropdown notifications hidden-sm-down">
            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                <i class="zmdi zmdi-notifications"></i>
                <span class="label-count">5</span>
            </a>
            <ul class="dropdown-menu pullDown">
                <li class="body">
                    <ul class="menu list-unstyled">
                        <li>
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <div class="media-body">
                                        <span class="name">Alexander
                                            <span class="time">35min ago</span>
                                        </span>
                                        <span class="message">Contrary to popular belief, Lorem Ipsum random</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <div class="media-body">
                                        <span class="name">Grayson
                                            <span class="time">1hr ago</span>
                                        </span>
                                        <span class="message">There are many variations of passages</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <div class="media-body">
                                        <span class="name">Sophia
                                            <span class="time">31min ago</span>
                                        </span>
                                        <span class="message">There are many variations of passages of Lorem Ipsum</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="alert alert-warning m-b-0" href="javascript:void(0);">
                                <strong>Alex Anistor</strong>
                                <br>
                                <small>Testing functionality...</small>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0);">
                                <div class="media">
                                    <div class="media-body">
                                        <span class="name">Isabella
                                            <span class="time">35min ago</span>
                                        </span>
                                        <span class="message">There are many variations of passages</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="alert alert-info m-b-0" href="javascript:void(0);">
                                <strong>Alicia Adell</strong>
                                <br>
                                <small>Reviewing last changes...</small>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="footer">
                    <a href="javascript:void(0);">View All</a>
                </li>
            </ul>
        </li>
        <li class="float-right">
            <a href="javascript:void(0);" class="fullscreen hidden-md-down hidden-sm-down" data-provide="fullscreen">
                <i class="zmdi zmdi-fullscreen"></i>
            </a>
            <a href="javascript:void(0);" class="btn_overlay hidden-sm-down">
                <i class="zmdi zmdi-sort-amount-desc"></i>
            </a>
            <a [routerLink]="authService.getToken() ? '/auth/sign-out' : '/auth/sign-in'" routerLinkActive="active" class="mega-menu">
                <i class="zmdi zmdi-power"></i>
            </a>
        </li>
    </ul>
</nav>

<!-- Left Sidebar -->
<div>
    <aside id="leftsidebar" class="sidebar">
        <div class="menu">
            <ul class="list">
                <li>
                    <div class="user-info m-b-20">
                        <div class="image">
                            <a *ngIf="username" [routerLink]="'/profile/'+username">
                                <img [src]="!avatar ? 'assets/images/defaultProfilePic.png': avatar" alt="User">
                            </a>
                        </div>
                        <div class="detail">
                            <h4 *ngIf="username">{{firstName + ' ' + lastName}}</h4>
                            <a routerLink="/scheduling/schedule" title="My Schedule">
                                <i class="zmdi zmdi-calendar"></i>
                            </a>
                            <a routerLink="/message" title="Inbox">
                                <i class="zmdi zmdi-email"></i>
                            </a>
                        </div>
                    </div>
                </li>
                <li routerLinkActive="active open" *ngFor="let link of links" [hidden]="link.url === '/admin' && !isAdmin ">
                    <a [routerLink]="link.url">
                       <i [ngClass]="'zmdi zmdi-'+link.icon"></i>
                        <span>{{link.name}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </aside>
</div>
<router-outlet></router-outlet>