.nopadding {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.profile-img {
    width: 32px;
    height: 32px;
}

.logo {
    width: 30px;
    height: 30px;
}

.navbar-nav>li>a{
    padding: 0 9px !important;
}

@media only screen and(min-width: 1170px) {
    .hide-lg {
        display: none;
    }
}