.nopadding {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.profile-img {
    width: 32px;
    height: 32px;
}

.logo {
    width: 30px;
    height: 30px;
}

.navbar-nav>li>a {
    padding: 0 9px !important;
}

.scroll-flow {
    overflow-y: auto;
    height: 300px;
}

@media only screen and(min-width: 1170px) {
    .hide-lg {
        display: none;
    }
}

@media only screen and(max-width: 425px) {
    .hide-sm {
        display: none !important;
    }
    .small-font{
        font-size: 0.8rem;
    }

    .no-padding{
        padding: 0;
    }

    .no-margin{
        margin:0;
    }
}