<!-- Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- Navigation -->
<div [hidden]="landingService.getLandingView()">
    <div class="overlay"></div>
    <!-- Top Bar -->
    <nav class="navbar col-lg-12 col-md-12">
        <ul class="nav navbar-nav navbar-left">
            <li class="main-nav">
                <div class="navbar-header">

                    <a href="javascript:void(0);" class="bars hide-lg m-3"></a>
                    <a routerLink="/landing" class="m-1">
                        <img src="favicon.ico" class="" alt="Nawwar">
                        <span class="text-black">{{ 'APP.NAWWAR' | translate }}</span>
                    </a>
                </div>
            </li>
            <li class="dropdown notifications hidden-sm-down" *ngIf="username">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" (click)="getNotifications()">
                    <i class="zmdi zmdi-notifications"></i>
                    <span *ngIf="unreadNotificationsNumber != 0" class="label-count">{{unreadNotificationsNumber}}</span>
                </a>
                <ul class="dropdown-menu pullDown">
                    <li class="body">
                        <ul class="menu list-unstyled">
                            <li *ngFor="let not of notifications">
                                <span (click)="modifyNotification(not._id,true)">
                                    <!-- read notifications normal bg -->
                                    <div *ngIf="not.isRead">

                                        <a routerLink={{not.link}}>
                                            <div class="media">
                                                <div *ngIf="not.type ===  message ">
                                                    <i class="zmdi zmdi-email"></i>
                                                </div>
                                                <div *ngIf="not.type ===  content ">
                                                    <i class="zmdi zmdi-book"></i>
                                                </div>
                                                <div *ngIf="not.type ===  product ">
                                                    <i class="zmdi zmdi-shopping-cart"></i>
                                                </div>
                                                <div *ngIf="not.type ===  study_plan || not.type ===  study_plan_A ">
                                                    <i class="zmdi zmdi-graduation-cap"></i>
                                                </div>
                                                <div *ngIf="not.type ===  activity ">
                                                    <i class="zmdi zmdi-run"></i>
                                                </div>
                                                <div *ngIf="not.type ===  link ">
                                                    <i class="zmdi zmdi-link"></i>
                                                </div>
                                                <div *ngIf="not.type ===  contributer ">
                                                    <i class="zmdi zmdi-shield-check"></i>
                                                </div>
                                                <div *ngIf="not.type ===  discussion_A || not.type ===  discussion_C ">
                                                    <i class="zmdi zmdi-comments"></i>
                                                </div>
                                                <div class="media-body">
                                                    <div class="col-md-12">
                                                        <span class="message">
                                                            <strong>
                                                                {{not.body}}
                                                            </strong>
                                                        </span>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-2 col-sm-2"></div>
                                                            <div class="col-lg-10 col-md-10 col-sm-10" align="right">

                                                                <span class="time text-muted">
                                                                    <small> {{not.date | date:'MM/dd/yyyy HH:mm': 'locale' }}
                                                                    </small>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                    <!-- unread notifications dark bg-->
                                    <div *ngIf="!not.isRead" style="background-color: #63c6b6">
                                        <a routerLink={{not.link}}>
                                            <div class="media">
                                                <div *ngIf="not.type ===  message ">
                                                    <i class="zmdi zmdi-email" style="color:black"></i>
                                                </div>
                                                <div *ngIf="not.type ===  content ">
                                                    <i class="zmdi zmdi-book" style="color:black"></i>
                                                </div>
                                                <div *ngIf="not.type ===  product ">
                                                    <i class="zmdi zmdi-shopping-cart" style="color:black"></i>
                                                </div>
                                                <div *ngIf="not.type ===  study_plan || not.type ===  study_plan_A ">
                                                    <i class="zmdi zmdi-graduation-cap" style="color:black"></i>
                                                </div>
                                                <div *ngIf="not.type ===  activity ">
                                                    <i class="zmdi zmdi-run" style="color:black"></i>
                                                </div>
                                                <div *ngIf="not.type ===  link ">
                                                    <i class="zmdi zmdi-link" style="color:black"></i>
                                                </div>
                                                <div *ngIf="not.type ===  contributer ">
                                                    <i class="zmdi zmdi-shield-check" style="color:black"></i>
                                                </div>
                                                <div *ngIf="not.type ===  discussion_A || not.type ===  discussion_C ">
                                                    <i class="zmdi zmdi-comments  col-dark" style="color:black"></i>
                                                </div>
                                                <div class="media-body ">
                                                    <div class="col-md-12">
                                                        <span class="message col-white">
                                                            <strong> {{not.body}}
                                                            </strong>
                                                        </span>
                                                        <div class="row">
                                                            <div class="col-lg-2 col-md-2 col-sm-2"></div>
                                                            <div class="col-lg-10 col-md-10 col-sm-10" align="right">
                                                                <span class="time text-muted" style="color:black">
                                                                    <small> {{not.date | date:'MM/dd/yyyy HH:mm': 'locale' }}
                                                                    </small>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="dropdown app_menu mr-auto">
                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <i class="zmdi zmdi-apps"></i>
                </a>
                <ul class="dropdown-menu pullDown">
                    <li routerLinkActive="active open" *ngFor="let link of links" [hidden]="link.url === '/admin' && !isAdmin || link.url === '/message' && username == undefined
                        || link.url === '/profile' && username == undefined ">
                        <a [routerLink]="link.url">
                            <i [ngClass]="'zmdi zmdi-'+link.icon"></i>
                            <span>{{ link.name | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="float-right">
                <a href="javascript:void(0);" (click)="changeLanguage()" title="change language">
                    <i class="zmdi zmdi-globe"></i>
                </a>
                <a [routerLink]="authService.getToken() ? '/auth/sign-out' : '/auth/sign-in'" routerLinkActive="active" class="mega-menu">
                    <i class="zmdi zmdi-power"></i>
                </a>
            </li>
            <li class="dropdown pulldown float-right">
                <a *ngIf="username" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                    <img class="profile-img rounded-circle" [src]="!avatar ? 'assets/images/defaultProfilePic.png': avatar" alt="User">
                </a>
                <ul class="dropdown-menu pullDown">
                    <li routerLinkActive="active open" *ngFor="let link of links">
                        
                        <a *ngIf="(link.url === '/admin' && isAdmin) || link.url === '/profile' || link.url === '/message'" [routerLink]="link.url">
                            <i [ngClass]="'zmdi zmdi-'+link.icon"></i>
                            <span>{{ link.name | translate }}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- Left Sidebar -->
    <div>
        <aside id="leftsidebar" class="sidebar" [style.text-align]="translate.currentLang == 'ara'? 'right': null">
            <div class="menu">
                <ul class="list">
                    <li>
                        <div class="user-info m-b-20">
                            <div class="image">
                                <a *ngIf="username" [routerLink]="'/profile/'+username">
                                    <img [src]="!avatar ? 'assets/images/defaultProfilePic.png': avatar" alt="User">
                                </a>
                            </div>
                            <div class="detail" *ngIf="username">
                                <h4 *ngIf="username">{{firstName + ' ' + lastName}}</h4>
                                <a routerLink="/scheduling/schedule" title="My Schedule">
                                    <i class="zmdi zmdi-calendar"></i>
                                </a>
                                <a routerLink="/message" title="Inbox">
                                    <span (click)="onMessageIconClick()">
                                        <span *ngIf="unreadNotificationsNumberMessages != 0" class="bg-white label-count">
                                            <strong style="color:black">*</strong>
                                        </span>
                                        <i class="zmdi zmdi-email"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li routerLinkActive="active open" *ngFor="let link of links" [hidden]="link.url === '/admin' && !isAdmin ">
                        <a [routerLink]="link.url">
                            <i [ngClass]="'zmdi zmdi-'+link.icon"></i>
                            <span>{{ link.name | translate }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
    </div>
</div>
<ngx-loading-bar [includeSpinner]="false" [height]="'4px'"></ngx-loading-bar>
<router-outlet (activate)="ngOnInit()"></router-outlet>