<form>
	<div align="center">

		<mat-card class="request-form">
			<mat-card-title>
			  Request to add contact information:
			</mat-card-title>

			<div align="left">
				<mat-card-content>
					 <mat-form-field>
						    <input matInput placeholder="First Name:*" id="psychFirstName" [formControl]="fNameFormControl"
						           [errorStateMatcher]="matcher">
						    <mat-error *ngIf="fNameFormControl.hasError('required')">
						      First Name is <strong>required</strong>
						    </mat-error>

  					</mat-form-field>

  					<mat-form-field>
						    <input matInput placeholder="Last Name:*" id="psychLastName" [formControl]="lNameFormControl"
						           [errorStateMatcher]="matcher">
						    <mat-error *ngIf="lNameFormControl.hasError('required')">
						      Last Name is <strong>required</strong>
						    </mat-error>

  					</mat-form-field> <br>

  					<mat-form-field>
						    <input matInput placeholder="Phone Number:" id="psychPhoneNumber">
					</mat-form-field> <br>

  					<mat-form-field>
						    <input matInput placeholder="Address:" id="psychAddress">
					</mat-form-field> <br>

  					<mat-form-field>
						    <input matInput placeholder="email:*" id="psychEmail" [formControl]="emailFormControl"
						           [errorStateMatcher]="matcher">
						    <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
						      Please enter a valid email address
						    </mat-error>
						    <mat-error *ngIf="emailFormControl.hasError('required')">
						      Email is <strong>required</strong>
						    </mat-error>

  					</mat-form-field> <br>

					<mat-form-field>
					  <mat-select placeholder="Days Off:" [formControl]="daysOff" (change)="chooseDay($event.value)" 
					  	multiple >
					    <mat-option *ngFor="let day of daysOfWeek" [value]="day">{{day}}</mat-option>
					  </mat-select>
					</mat-form-field> <br>


  					<mat-form-field>
						    <input matInput placeholder="Maximum Price Range:" id="psychPriceRange">
					</mat-form-field> <br>

				</mat-card-content>

			<div align="center">
				<mat-card-actions>
				    <button mat-button id="11" (click)="submitReq()">Submit</button>
			 	</mat-card-actions>
			 </div>

			<br>
		 	<mat-card-footer>
		 		<p>
				     Fields marked with "*" are required.
				</p>
		 	</mat-card-footer>

			</div>

	</mat-card>
	</div>
</form>


