<p>
  Request to add contact information:
</p>

<form>
	First name: <br> <input type="text" id="psychFirstName"> <br> 
	Last name: <br> <input type="text" id="psychLastName"> <br> 
	Phone Number: <br> <input type="tel" id="psychPhoneNumber"> <br> 
	Adress: <br> <input type="text" id="psychAddress"> <br> 
	E-mail address: <br> <input type="email" id="psychEmail"> <br> 
	Days Off: <br> 
	<input type="checkbox" name="saturdayOff" [(ngModel)] = "sat" > Saturday
	<input type="checkbox" name="sundayOff" [(ngModel)] = "sun" /> Sunday <br>
	<input type="checkbox" name="mondayOff" [(ngModel)] = "mon" > Monday
	<input type="checkbox" name="tuesdayOff" [(ngModel)] = "tue" > Tuesday <br>
	<input type="checkbox" name="wednesdayOff" [(ngModel)] = "wed" > Wednesday
	<input type="checkbox" name="thursdayOff" [(ngModel)] = "thu" > Thursday <br>
	<input type="checkbox" name="fridayOff" [(ngModel)] = "fri" > Friday <br>
	Maximum Price Range: <br> <input type="number" id="psychPriceRange"> <br>
	<button type="button" id="11" (click)="submitReq()"> Submit </button> <br>
</form>
