
.margin10 {
    margin: 10px;
  }
  
  .section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 30px;
  }
  
  .widthFloat{
    width: 60px;
    float:left;
  }
  
  .mat-slider-horizontal {
    width: 280px;
  }

  .h2Style{
    margin-left: 13px;
    margin-top:12px;
    float:left
  }
  
  .button{
    background:#3f51b5; color:white
  }
