.product-card {
  margin: 2%;
}

.product-tag {
  margin: 1%;
}

.product-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

.product-container{
  margin: 5%;
  display: flex;
  flex-wrap: wrap;
}
