
.margin10 {
    margin: 10px;
  }
  
  .section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 30px;
  }
  
  .widthFloat{
    width: 60px;
    float:left;
  }
  
  .mat-slider-horizontal {
    width: 280px;
  }

  .h2Style{
    margin-left: 13px;
    margin-top:12px;
    float:left
  }
  
  .button{
    background:#3f51b5; color:white
  }
  .search-results {
    height: 87vh;
    overflow: scroll;
    overflow-x: hidden;
  }
  .container {
    position: relative;
    width: 100%;
}

.image {
  opacity: 1;
  display: block;
 
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  cursor: pointer;
  opacity: 0.3;
}

.container:hover .middle {
  cursor: pointer;
  opacity: 1;
}

.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

  