
<mat-card *ngFor="let product of products" class="example-card" >
  <mat-card-header>
    <mat-card-title>{{product.name}}</mat-card-title>
    <mat-card-subtitle>{{product.price || currency}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{product.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Acquire</button>
  </mat-card-actions>
</mat-card>
<div class="paginator">
  <mat-paginator [length]="this.numberOfEntries" [pageSize]="this.entriesPerPage" (page)="onPaginateChange($event)">
  </mat-paginator>
</div>