<form #deleteSectionForm="ngForm">
  <div class="col-lg-12 col-md-12 col-sm-12">
    <div class="card category-card">
      <div class="header">
        <h2>
          <strong>{{ 'ADMIN.CATEGORY_MANAGEMENT.SECTION_DELETE.DELETE_SECTION' | translate }}</strong>
          <small>{{ 'ADMIN.CATEGORY_MANAGEMENT.SHARED.VISIBLE_LOCATION' | translate }}</small>
        </h2>
      </div>
      <div class="body">
        <div class="form-group">
          <select class="form-control" name="category select" [(ngModel)]="selectedCategory" required>
            <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
          </select>
        </div>
        <div *ngIf="selectedCategory" class="form-group">
          <select class="form-control" name="section select" [(ngModel)]="selectedSection" required>
            <option *ngFor="let section of selectedCategory.sections" [ngValue]="section">{{section.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <div class="mt-2">
            <small class="text-muted">{{ 'ADMIN.CATEGORY_MANAGEMENT.SHARED.PREVIEW' | translate }}</small>
            <div class="row">
              <div class="mr-2">{{selectedSection.name}}</div>
              <div class="prev-icon">
                <img class="img-responsive" [src]="selectedSection.iconLink" />
              </div>
            </div>
            <div class="card-footer bg-transparent border-0">
              <div class="form-group text-center">
                <button class="btn btn-primary" (click)="deleteSection()" [disabled]="!deleteSectionForm.valid || selectedSection._id === ''">{{ 'ADMIN.CATEGORY_MANAGEMENT.SHARED.SUBMIT_BUTTON' | translate }}</button>
              </div>
              <small class="text-danger">{{ 'ADMIN.CATEGORY_MANAGEMENT.SECTION_DELETE.WARNING_MESSAGE' | translate }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>