
    <div class="col-lg-12">
      <div class="card" *ngIf= "childListIsFilled" >
        <div class="body table-responsive">
          <table class="table m-b-0 c_list">
            <thead>
              <th data-breakpoints="xs"><i class="zmdi zmdi-face m-r-14"></i> </th>
              <th data-breakpoints="xs"> Age</th>
              <th data-breakpoints="xs">Learning Score</th>
            </thead>
           
            <tbody>
           
                
            <tr *ngFor="let child of singleArray ">
              
              <td style="width:230px;height:50px">
                <a  href= "/profile/{{x.username}}"><img [src]="x.avatar"  style="width:50px;height:50px" class="rounded-circle avatar" alt=""></a>
                <strong><a  href= "/profile/{{x.username}}"> <p> </p>{{child.firstName}} {{child.lastName}}</a></strong>
              </td>
        
              <td>
                <span class="phone"><i class="zmdi zmdi-cake m-r-10"></i>{{child.birthdate}}</span>
              </td>
              <td >
                  <span class="phone"><i class="zmdi zmdi-flash m-r-10"></i>{{child.learningScore}} Points</span>
              </td>
            
            </tr>
          
      
          </tbody>
        
        </table>
      </div>
    </div>
  </div>
