<section class="content profile-page">
  <div class="block-header">
    <!-- <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <h2>
          </h2> 
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12"  [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
          <ul class="breadcrumb float-md-right"  [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null"
          [dir]="translate.currentLang === 'ara'? 'rtl': null" >
            <li class="breadcrumb-item">
              <a routerLink="/dashboard">
                <i class="zmdi zmdi-home"></i> {{ 'PROFILE.PROFILE.NAWWAR' | translate }}</a>
            </li>
            <li class="breadcrumb-item active">{{'PROFILE.PROFILE.MY_PROFILE' | translate }}</li>
          </ul>
        </div>
      </div> -->
  </div>
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
        <div class="card member-card">
          <div class="header " style="background-image: url('assets/images/profile-view/stars.jpg'); height:190px">
            <div id="shifted" class="col-12 row" [style.left]="translate.currentLang === 'ara'? null: '40px'" [style.right]="translate.currentLang === 'ara'? '50px': null">
              <div class="col-lg-4 col-md-12 row">
                <!-- -->
                <div id="myHover">
                  <a [routerLink]="" class="clickable-icon" style="color:white; margin:4px" *ngIf="currIsOwner" href="#defaultModal">
                    <i class="zmdi zmdi-edit zmdi-hc-2x"></i>
                    <small id="shouldAppearOnHover"> Change picture </small>
                  </a>
                </div>
                <div id="myHover">

                  <a [routerLink]="" class="clickable-icon" style="color:white; margin:4px" data-toggle="modal" data-target="#directMessageModal"
                    *ngIf="!currIsOwner && !currIsChild && !visitedIsChild">
                    <i class="zmdi zmdi-comments zmdi-hc-2x"></i>
                    <small id="shouldAppearOnHover"> {{'PROFILE.PROFILE.MESSAGE' | translate}} </small>

                  </a>
                </div>
                <div id="myHover">

                  <a [routerLink]="" class="clickable-icon" style="color:white; margin:4px" *ngIf="!currIsOwner && currIsOfAge && !visitedIsChild && !visitedIsMyParent && visitedCanBeParent && !currIsParent"
                    (click)="linkToParent()">
                    <i class="zmdi zmdi-accounts-add zmdi-hc-2x"></i>
                    <small id="shouldAppearOnHover"> {{'PROFILE.PROFILE.ADD-AS-PARENT'| translate}}</small>

                  </a>
                </div>
                <div id="myHover">

                  <a [routerLink]="" class="clickable-icon" style="color:white; margin:4px" *ngIf="!currIsOwner && visitedIsMyChild && visitedIsOfAge && visitedIsChild"
                    (click)="EditChildIndependence()">
                    <i class="zmdi zmdi-male-alt zmdi-hc-2x"></i>
                    <small id="shouldAppearOnHover">{{'PROFILE.PROFILE.MAKE_INDEPENDENT' | translate}} </small>
                  </a>
                </div>
                <div id="myHover">

                  <a [routerLink]="" class="clickable-icon" style="color:white; margin:4px" *ngIf="currIsOwner && !currIsChild && !verified && currIsOfAge"
                    (click)="requestContributerValidation()">
                    <i class="zmdi zmdi-check-circle-u zmdi-hc-2x"></i>
                    <small id="shouldAppearOnHover"> {{'PROFILE.PROFILE.BE_VERIFIED_CONTRIBUTOR' |translate}}e </small>

                  </a>
                </div>
                <div id="myHover">

                  <a [routerLink]="" class="clickable-icon" style="color:white; margin:4px" *ngIf="currIsOfAge && !currIsOwner && visitedIsOfAge"
                    (click)="reportPopUp()">
                    <i class="zmdi zmdi-alert-polygon zmdi-hc-2x"></i>
                    <small id="shouldAppearOnHover">{{'PROFILE.PROFILE.REPORT' | translate}} </small>

                  </a>
                </div>
                <div id="myHover">

                  <a class="clickable-icon" style="color:white; margin:4px" *ngIf="currCanBeParent && currIsOwner" routerLink="/auth/child-sign-up">
                    <i class="zmdi zmdi-face zmdi-hc-2x"></i>
                    <small id="shouldAppearOnHover"> {{'PROFILE.PROFILE.CREATE_CHILD_ACCOUNT' | translate}} </small>

                  </a>
                </div>
                <div id="myHover">

                  <a [routerLink]="" class="clickable-icon" style="color:white; margin:4px" *ngIf="!currIsOwner && visitedIsMyParent && currIsOfAge && !currIsChild"
                    (click)="UnlinkMyself()">
                    <i class="zmdi zmdi-close-circle zmdi-hc-2x"></i>
                    <small id="shouldAppearOnHover"> {{'PROFILE.PROFILE.UNLINK_MY_PARENT' | translate}} </small>

                  </a>
                </div>
                <div id="myHover">

                  <a [routerLink]="" class="clickable-icon" style="color:white; margin:4px" *ngIf="!currIsOwner && visitedIsMyParent && currIsOfAge && !currIsChild"
                    (click)="UnlinkMyself()">
                    <i class="zmdi zmdi-close-circle zmdi-hc-2x"></i>
                    <small id="shouldAppearOnHover"> {{'PROFILE.PROFILE.UNLINK_MY_PARENT' | translate}} </small>

                  </a>
                </div>
                <!-- -->
              </div>

              <div class="col-lg-4 col-md-12">
                <h4 style="color:white" class="text-muted col-white m-t-10">
                  <strong>{{currIsOwner? firstName : vFirstName}}</strong> {{currIsOwner? lastName : vLastName}}</h4>
              </div>
              <div class="col-lg-4 col-md-12">
                <span class="dropdown" [style.text-align]="translate.currentLang === 'ara'? 'right':'left'">
                  <button class="btn btn-white btn-round btn-simple" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                    *ngIf="currIsParent && !currIsOwner && !visitedIsChild && visitedCanBeParent">
                    <span>{{'PROFILE.PROFILE.LINK_TO_CHILD' | translate}}</span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-right pullDown">
                    <li *ngFor="let child of listOfUncommonChildren">
                      <a class="dummyLink" (click)="addChild(child)">
                        <strong>{{child}}</strong>
                      </a>
                    </li>
                  </ul>
                </span>
              </div>
            </div>
          </div>
          <div [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="member-img">
            <img style="object-fit: cover; height:180px; width:180px" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null"
              class="rounded-circle" src="{{currIsOwner? (currHasPP? avatar : 'assets/images/defaultProfilePic.png') : (visitedHasPP? vAvatar : 'assets/images/defaultProfilePic.png')}}"
              alt="Profile Picture">
            <br>
          </div>

          <div class="body">
            <div class="col-12">
              <p class="text-muted">{{currIsOwner? address : vAddress}}</p>
            </div>
            <hr>
            <div class="row">
              <div class="col-4 pt-1">
                <small>
                  <strong style="color:#63c6b6">Learning</strong> Score</small>
                <h5 class="pt-1">{{learningScore}}</h5>
              </div>
              <div class="col-4">
                <div class="col-lg-12 col-md-12 col-sm-12 justify-content-center">
                  <div class="container pt-3">
                    <div class="row justify-content-md-center">

                      <!-- admin icon -->
                      <div class="col-lg-3 col-md-3 col-sm-3" id="HoverDisplay" align="center" *ngIf="(currIsOwner && currIsAdmin)">
                        <a [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="job_post" *ngIf="(currIsOwner && currIsAdmin) || visitedIsAdmin">
                          <div [align]="translate.currentLang === 'ara'? 'right': null">
                            <i [style.float]="translate.currentLang === 'ara'? 'right': null" class="zmdi zmdi-accounts-list zmdi-hc-2x " style="color:#f96332">
                            </i>
                            <small id="AppearOnHoverDisplay">Admin medal</small>
                          </div>
                        </a>
                      </div>
                      <!-- verified contributer icon -->
                      <div class="col-lg-3 col-md-3 col-sm-3 " id="HoverDisplay" align="center" *ngIf="(currIsOwner && verified)">
                        <a [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="job_post " *ngIf="(currIsOwner && verified) || visitedIsAdmin">
                          <div [align]="translate.currentLang === 'ara'? 'right': null">
                            <i [style.float]="translate.currentLang === 'ara'? 'right': null" class="zmdi zmdi-shield-check zmdi-hc-2x" style="color:#f96332">
                            </i>
                            <small id="AppearOnHoverDisplay">Verified contributer medal</small>

                          </div>
                        </a>
                      </div>
                      <!-- teacher icon -->
                      <div class="col-lg-3 col-md-3 col-sm-3" align="center" id="HoverDisplay" *ngIf="(currIsOwner && currIsTeacher)">
                        <a [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="job_post " *ngIf="(currIsOwner && currIsTeacher) || visitedIsAdmin">
                          <div [align]="translate.currentLang === 'ara'? 'right': null">
                            <i [style.float]="translate.currentLang === 'ara'? 'right': null" class="zmdi zmdi-case zmdi-hc-2x" style="color:#f96332">
                            </i>
                            <small id="AppearOnHoverDisplay">Teacher medal</small>

                          </div>
                        </a>
                      </div>

                      <!-- child icon -->
                      <div class="col-lg-3 col-md-3 col-sm-3 " align="center" id="HoverDisplay" *ngIf="(currIsOwner && currIsChild)">
                        <a [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="job_post " *ngIf="(currIsOwner && currIsChild) || visitedIsAdmin">
                          <div [align]="translate.currentLang === 'ara'? 'right': null">
                            <i [style.float]="translate.currentLang === 'ara'? 'right': null" class="zmdi zmdi-directions-bike zmdi-hc-2x" style="color:#f96332">
                            </i>
                            <small id="AppearOnHoverDisplay">Child medal</small>

                          </div>
                        </a>
                      </div>
                      <!-- parent icon -->
                      <div class="col-lg-3 col-md-3 col-sm-3" align="center" id="HoverDisplay" *ngIf="(currIsOwner && currIsParent)">
                        <a [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="job_post " *ngIf="(currIsOwner && currIsParent) || visitedIsAdmin">
                          <div [align]="translate.currentLang === 'ara'? 'right': null">
                            <i [style.float]="translate.currentLang === 'ara'? 'right': null" class="zmdi zmdi-accounts zmdi-hc-2x" style="color:#f96332">
                            </i>
                            <small id="AppearOnHoverDisplay">Parent medal</small>

                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 pt-1">
                <small>
                  <strong style="color:#63c6b6">Contibution</strong> Score</small>
                <h5 class="pt-1">{{contributionScore}}</h5>
              </div>

            </div>
          </div>
        </div>
        <!-- <div class="card profile-header bg-dark"> 
            <div class="body col-white" style="padding-bottom:5px !important">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                  <div [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null"  [ngClass]="translate.currentLang === 'ara'? 'float-md-left': 'float-md-right'" class="profile-image" style="height">
                    <img style="object-fit: cover; height:180px; width:180px" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null"
                      src="{{currIsOwner? (currHasPP? avatar : 'assets/images/defaultProfilePic.png') : (visitedHasPP? vAvatar : 'assets/images/defaultProfilePic.png')}}"
                      alt="Profile Picture">
                      <br>
                    <a *ngIf="currIsOwner" href="#defaultModal" data-toggle="modal" data-target="#defaultModal" title="Change picture" style="float:right;">
                      <i class="zmdi zmdi-edit"></i>
                    </a>
                  </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
                  <h4 class="m-t-0 m-b-0" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" [align]="translate.currentLang === 'ara'? 'right': null">
                    <strong>{{currIsOwner? firstName : vFirstName}}</strong> {{currIsOwner? lastName : vLastName}}</h4>
                  <a [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="job_post" href="javascript:void(0);" *ngIf="(currIsOwner && currIsAdmin) || visitedIsAdmin">
                    <div [align]="translate.currentLang === 'ara'? 'right': null">
                      <i [style.float]="translate.currentLang === 'ara'? 'right': null" class="material-icons">verified_user</i> {{currIsOwner? (currIsAdmin? 'Admin' : '' ) : (visitedIsAdmin? 'Admin' : '' ) }}</div>
                  </a>
                  <p [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" [align]="translate.currentLang === 'ara'? 'right': null">{{currIsOwner? address : vAddress}}</p>
                  <div class="row" [style.float]="translate.currentLang === 'ara'? 'left': null">
                    <button [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="btn btn-primary btn-round btn-simple"
                      data-toggle="modal" data-target="#directMessageModal" *ngIf="!currIsOwner && !currIsChild && !visitedIsChild">{{'PROFILE.PROFILE.MESSAGE' | translate}}</button>
                    <button [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="btn btn-primary btn-round btn-simple"
                      *ngIf="!currIsOwner && currIsOfAge && !visitedIsChild && !visitedIsMyParent && visitedCanBeParent && !currIsParent"
                      (click)="linkToParent()">{{'PROFILE.PROFILE.ADD-AS-PARENT'| translate}}</button>
                    <button [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="btn btn-primary btn-round btn-simple"
                      *ngIf="!currIsOwner && visitedIsMyChild && visitedIsOfAge && visitedIsChild" (click)="EditChildIndependence()">{{'PROFILE.PROFILE.MAKE_INDEPENDENT' | translate}}</button>
                    <button [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="btn btn-primary btn-round btn-simple"
                      *ngIf="currIsOwner && !currIsChild && !verified && currIsOfAge" (click)="requestContributerValidation()">{{'PROFILE.PROFILE.BE_VERIFIED_CONTRIBUTOR' |translate}}</button>
                    <button [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="btn btn-primary btn-round btn-simple"
                      style="float: right" *ngIf="currIsOfAge && !currIsOwner && visitedIsOfAge" (click)="reportPopUp()">{{'PROFILE.PROFILE.REPORT' | translate}}</button>
                    <button [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="btn btn-primary btn-round btn-simple"
                      style="float: right" *ngIf="currCanBeParent && currIsOwner" routerLink="/auth/child-sign-up">{{'PROFILE.PROFILE.CREATE_CHILD_ACCOUNT' | translate}}</button>
                    <button [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="btn btn-primary btn-round btn-simple"
                      style="float: right" *ngIf="!currIsOwner && visitedIsMyParent && currIsOfAge && !currIsChild" (click)="UnlinkMyself()">{{'PROFILE.PROFILE.UNLINK_MY_PARENT' | translate}}</button>
                    <span class="dropdown" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
                      <button class="btn btn-primary btn-round btn-simple" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                        *ngIf="currIsParent && !currIsOwner && !visitedIsChild && visitedCanBeParent">
                        <span>{{'PROFILE.PROFILE.LINK_TO_CHILD' | translate}}</span>
                      </button>
                      <!-- class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" 
                      <ul class="dropdown-menu dropdown-menu-right pullDown">
                        <li *ngFor="let child of listOfUncommonChildren">
                          <a class="dummyLink" (click)="addChild(child)">
                            <strong>{{child}}</strong>
                          </a>
                        </li>
                      </ul>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
      </div>

    </div>
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card" dir="auto">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#about">{{'PROFILE.PROFILE.ABOUT' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#friends" *ngIf="false">Children</a>
            </li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane body active" id="about" [align]="translate.currentLang === 'ara'? 'right': null">
              <small class="text-muted">{{'PROFILE.PROFILE.EMAIL' | translate}} </small>
              <p>{{currIsOwner? email : vEmail}}</p>
              <hr>
              <small *ngIf="currIsChild || visitedIsMyChild" class="text-muted">{{'PROFILE.PROFILE.EDUCATION_SYSTEM'| translate}}</small>
              <p *ngIf="currIsChild || visitedIsMyChild">{{currIsOwner? educationalSystem : vEducationalSystem}}</p>
              <hr *ngIf="currIsChild || visitedIsMyChild">
              <small *ngIf="currIsChild || visitedIsMyChild" class="text-muted"> {{'PROFILE.PROFILE.EDUCATION_LEVEL'| translate}}</small>
              <p *ngIf="currIsChild || visitedIsMyChild">{{currIsOwner? educationalLevel : vEducationalLevel}}</p>
              <hr *ngIf="currIsChild || visitedIsMyChild">
              <small class="text-muted">{{'PROFILE.PROFILE.PHONE' | translate}} </small>
              <p>{{currIsOwner? phone : vPhone}}</p>
              <hr>
              <small class="text-muted">{{'PROFILE.PROFILE.BIRTHDATE' | translate}} </small>
              <p class="m-b-0">{{(currIsOwner? birthday : vBirthday) | date: "MM/dd/yyyy"}}</p>
              <hr>
              <small class="text-muted">{{'PROFILE.PROFILE.AGE' | translate}} </small>
              <p class="m-b-0">{{currIsOwner? age : vAge}}</p>
            </div>
            <div class="tab-pane body" id="friends" *ngIf="false">
              <ul class="new_friend_list list-unstyled row">
                <li class="col-lg-4 col-md-2 col-sm-6 col-4">
                  <a href="">
                    <img src="assets/images/sm/avatar1.jpg" class="img-thumbnail" alt="User Image">
                    <h6 class="users_name">Jackson</h6>
                    <small class="join_date">Today</small>
                  </a>
                </li>
                <li class="col-lg-4 col-md-2 col-sm-6 col-4">
                  <a href="">
                    <img src="assets/images/sm/avatar1.jpg" class="img-thumbnail" alt="User Image">
                    <h6 class="users_name">Jackson</h6>
                    <small class="join_date">Today</small>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div *ngIf="currIsOwner || visitedIsMyChild" class="card bg-dark">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#children" *ngIf="currIsOwner && !currIsChild">{{'PROFILE.PROFILE.CHILDREN' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="currIsOwner || visitedIsMyChild">
              <a class="nav-link" data-toggle="tab" href="#studyplans">{{'PROFILE.PROFILE.STUDY_PLANS' | translate}}</a>
            </li>
            <li class="nav-item" *ngIf="currIsOwner && currIsOfAge">
              <a class="nav-link active show" data-toggle="tab" href="#userSettings">{{'PROFILE.PROFILE.SETTINGS'| translate}}</a>
            </li>
            <li class="nav-item" *ngIf="visitedIsMyChild">
              <a class="nav-link" data-toggle="tab" href="#childSettings">{{'PROFILE.PROFILE.SETTINGS' | translate}}</a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane" id="childSettings">
            <!-- Child Info -->

            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card" [style.text-align]="translate.currentLang === 'ara'? 'right': null">
                  <div class="header">
                    <h2>
                      <strong>{{'PROFILE.PROFILE.MY_CHILE' | translate}}</strong> {{'PROFILE.PROFILE.CHILD_INFO' | translate}}</h2>
                  </div>
                  <div class="body">
                    <label>{{'PROFILE.PROFILE.FIRST_NAME' | translate}}</label>
                    <div class="form-group">
                      <input type="text" id="dFirstName" [ngModel]=dFirstName class="form-control" value={{this.vFirstName}}>
                    </div>
                    <label for="dLastName">{{'PROFILE.PROFILE.LAST_NAME' | translate}}</label>
                    <div class="form-group">
                      <input type="text" id="dLastName" [ngModel]=dLastName class="form-control" value={{vLastName}}>
                    </div>
                    <label for="dUsername">{{'PROFILE.PROFILE.USERNAME' | translate}}</label>
                    <div class="form-group">
                      <input type="text" id="dUsername" [ngModel]=dUsername class="form-control" value={{vUsername}} disabled>
                    </div>
                    <label for="dEmail">{{'PROFILE.PROFILE.EDIT_EMAIL' | translate}}</label>
                    <div class="form-group">
                      <input type="text" id="dEmail" [ngModel]=dEmail class="form-control" value={{vEmail}} disabled>
                    </div>
                    <label for="dEducationSystem">{{'PROFILE.PROFILE.EDUCATION_SYSTEM'| translate}}</label>
                    <br/>
                    <div id="dEducationSystem" class="btn-group hidden-sm-down">
                      <button type="button" class="btn btn-primary btn-round btn-simple" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{currIsOwner? educationalSystem : vEducationalSystem}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right pullDown">
                        <li *ngFor="let system of vSystems" (click)="systemIs(system)">
                          <a href="javascript:void(0);">{{system}}</a>
                        </li>
                      </ul>
                    </div>
                    <br/>
                    <label for="dEducationLevel">{{'PROFILE.PROFILE.EDUCATION_LEVEL'| translate}}</label>
                    <br/>
                    <div id="dEducationSystem" class="btn-group hidden-sm-down">
                      <button type="button" class="btn btn-primary btn-round btn-simple" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{currIsOwner? educationalLevel : vEducationalLevel}}
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu dropdown-menu-right pullDown">
                        <li *ngFor="let level of vLevels" (click)="levelIs(level)">
                          <a href="javascript:void(0);">{{level}}</a>
                        </li>
                      </ul>
                    </div>
                    <br/>
                    <label for="dAddress">{{'PROFILE.PROFILE.ADDRESS' |translate}}</label>
                    <div class="form-group">
                      <input type="text" id="dAddress" [ngModel]=dAddress class="form-control" value={{vAddress}}>
                    </div>
                    <label dir="ltr" for="dBirthday">{{'PROFILE.PROFILE.EDIT_BD' | translate}}</label>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-calendar"></i>
                      </span>
                      <input type="text" id="dBirthday" class="form-control datetimepicker" value={{vBirthdayView}}>
                    </div>
                    <label for="dPhone">{{'PROFILE.PROFILE.EDIT_PHONE' | translate}}</label>
                    <div class="form-group">
                      <input type="text" id="dPhone" [ngModel]=dPhone class="form-control" value={{vPhone}}>
                    </div>
                    <button type="button" (click)="changeChildInfo()" class="btn btn-raised btn-primary btn-round waves-effect">{{'PROFILE.PROFILE.SAVE_CHANGES' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- End Child Info -->
          </div>
          <div role="tabpanel" class="tab-pane" id="userSettings" dir="auto" [align]="translate.currentLang === 'ara'? 'right': null">
            <div class="card">
              <div class="header">
                <h2>
                  <strong>{{'PROFILE.PROFILE.SECURITY' | translate}}</strong>{{'PROFILE.PROFILE.SETTINGS' | translate}} </h2>
              </div>
              <div class="body">
                <div class="form-group">
                  <input #Oldpw type="password" class="form-control" placeholder="{{'PROFILE.PROFILE.CPASSWORD' | translate}}">
                </div>
                <div class="form-group">
                  <input #Newpw type="password" class="form-control" placeholder="{{'PROFILE.PROFILE.NPASSWORD' | translate}}">
                </div>
                <div class="form-group">
                  <input #Confirmpw type="password" class="form-control" placeholder="{{'PROFILE.PROFILE.CNPASSWORD' | translate}}">
                </div>
                <button class="btn btn-raised btn-primary btn-round waves-effect" (click)="ChangePassword({oldpw: Oldpw.value, newpw: Newpw.value, confirmpw: Confirmpw.value})">{{'PROFILE.PROFILE.CHANGE_PASSWORD' |translate}}</button>
              </div>
            </div>
            <!-- Personal Info -->
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                  <div class="header">
                    <h2>
                      <strong>{{'PROFILE.PROFILE.PERSONAL' | translate}}</strong> {{'PROFILE.PROFILE.MY_INFO' | translate}}</h2>
                  </div>
                  <div class="body">
                    <label for="dFirstName">{{'PROFILE.PROFILE.FIRST_NAME' | translate}}</label>
                    <div class="form-group">
                      <input type="text" id="qFirstName" [ngModel]=dFirstName class="form-control" value={{firstName}}>
                    </div>
                    <label for="dLastName">{{'PROFILE.PROFILE.LAST_NAME' | translate}}</label>
                    <div class="form-group">
                      <input type="text" id="qLastName" [ngModel]=dLastName class="form-control" value={{lastName}}>
                    </div>
                    <label for="dUsername">{{'PROFILE.PROFILE.USERNAME' | translate}}</label>
                    <div class="form-group">
                      <input type="text" id="qUsername" [ngModel]=dUsername class="form-control" value={{username}} disabled>
                    </div>
                    <label for="dEmail">{{'PROFILE.PROFILE.EDIT_EMAIL' | translate}}</label>
                    <div class="form-group">
                      <input type="text" id="qEmail" [ngModel]=dEmail class="form-control" value={{email}} disabled>
                    </div>
                    <label for="dAddress">{{'PROFILE.PROFILE.ADDRESS' |translate}}</label>
                    <div class="form-group">
                      <input type="text" id="qAddress" [ngModel]=dAddress class="form-control" value={{address}}>
                    </div>
                    <label for="dBirthday">{{'PROFILE.PROFILE.EDIT_BD' | translate}}</label>
                    <div class="input-group" dir="ltr">
                      <span class="input-group-addon">
                        <i class="zmdi zmdi-calendar"></i>
                      </span>
                      <input type="text" id="qBirthday" class="form-control datetimepicker" value={{birthdayView}}>
                    </div>
                    <label for="dPhone">{{'PROFILE.PROFILE.EDIT_PHONE' | translate}}</label>
                    <div class="form-group">
                      <input type="text" id="qPhone" [ngModel]=dPhone class="form-control" value={{phone}}>
                    </div>
                    <button type="button" (click)="ChangeInfo()" class="btn btn-raised btn-primary btn-round waves-effect">{{'PROFILE.PROFILE.SAVE_CHANGES' | translate}}</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Personal Info -->
            <div class="card">
              <div class="header">
                <h2>
                  <strong>{{'PROFILE.PROFILE.MESSAGES_BLOCK' | translate}}</strong> {{'PROFILE.PROFILE.BLOCK_LIST' |translate}}</h2>
              </div>
              <style>
                .bodyBlock {
                  -webkit-column-count: 3;
                  /* Chrome, Safari, Opera */
                  -moz-column-count: 3;
                  /* Firefox */
                  column-count: 3;
                  -webkit-column-gap: 80px;
                  /* Chrome, Safari, Opera */
                  -moz-column-gap: 80px;
                  /* Firefox */
                  column-gap: 80px;
                }
              </style>
              <div class="body" class="bodyBlock">
                <div *ngFor="let blockedUser of blocklist" class="zmdi zmdi-account-circle" style="padding-left:25px;">
                  <strong>
                    <span>{{blockedUser}} </span>
                  </strong>
                  <div class="col-md-12">
                    <button class="btn btn-primary btn-round" (click)="unblockUser(blockedUser)">
                      {{'PROFILE.PROFILE.UNBLOCK' | translate}}
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="children" [align]="translate.currentLang === 'ara'? 'right': null">
            <app-childern></app-childern>
          </div>
          <div role="tabpanel" class="tab-pane" id="studyplans">
            <div class="card">
              <div class="body">
                <div *ngIf="!currIsChild && currIsOwner">
                  <a class="btn btn-primary" routerLink="/scheduling/study-plan/create" color="primary" style="float: right;">{{'PROFILE.PROFILE.CREATE_STUDY_PALN' | translate}}</a>
                  <br />
                  <br />
                  <br />
                </div>
                <div class="row">
                  <div class="card col-4" *ngFor="let studyPlan of studyPlans; let index = index">
                    <div class="header">
                      <h2>
                        <span class="badge badge-assigned float-right" *ngIf="studyPlan.assigned">{{'PROFILE.PROFILE.ASSIGNED' | translate}}</span>
                        <strong>{{studyPlan.title}}</strong>
                        <br/> {{studyPlan.creator}}
                      </h2>
                    </div>
                    <div class="body">
                      <p>
                        <a class="btn btn-primary" routerLink="/scheduling/study-plan/personal/{{ studyPlan._id }}/{{ currIsOwner ? username : vUsername }}">{{'PROFILE.PROFILE.VIEW' | translate}}</a>
                        <button class="btn btn-primary" data-toggle="modal" data-target="#studyPlanDeleteModal" (click)="studyPlanIndex = index"
                          color="primary" *ngIf="!currIsChild">{{'PROFILE.PROFILE.DELETE' | translate}}</button>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- End of Study Plans Tab -->
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title" id="defaultModalLabel">{{'PROFILE.PROFILE.PROFILE_PIC' | translate}}</h4>
        </div>
        <div class="modal-body">
          <app-profile-image-uploader (ImageUploaded)="uploaded($event)"></app-profile-image-uploader>
          <button id="closeModal" type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal" style="float:right">{{'PROFILE.PROFILE.CANCEL' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Study Plan Delete Modal -->
<div class="modal fade" id="studyPlanDeleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">{{'PROFILE.PROFILE.DELETE_EVENT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <li>{{'PROFILE.PROFILE.DELE_EVENT_CONF' | translate}}</li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal" (click)="deleteStudyPlan(studyPlanIndex)">{{'PROFILE.PROFILE.DELETE' | translate}}</button>
        <button type="button" class="btn btn-simple btn-round waves-effect" data-dismiss="modal">{{'PROFILE.PROFILE.CANCEL' | translate}}</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="directMessageModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" [style.text-align]="translate.currentLang === 'ara'? 'right': null">
        <app-direct-messaging [receipient]="vUsername"></app-direct-messaging>
      </div>
    </div>
  </div>
</div>