<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0.scss/font-awesome.min.scss">



<div id="wrapper" *ngIf="false">
  <div id="PPDiv">
    <img id="PP" src="../../../assets/images/profile-view/defaultPP.png" alt="Profile Picture" style="width:200px;height:200px;">
    <br>
    <label id="ProfileName">{{(currIsOwner? firstName : vFirstName) + " " + (currIsOwner? lastName : vLastName)}}</label>
    <br>
    <label id="Badge">Badge goes here</label>
    <br>

    <div class="RightSideBtns">
      <button mat-raised-button id="btnRequestContributerValidation" *ngIf="currIsOwner && !currIsChild && !verified" (click)="requestContributerValidation()">Make me a verified contributor</button>
      <button mat-raised-button id="linkToParent" *ngIf="!currIsOwner && isChild && visitedIsParent" (click)="linkToParent()">Add as a parent</button>
      <span class="dropdown" *ngIf="currIsParent && !currIsOwner && !visitedIsChild">
        <button mat-raised-button [matMenuTriggerFor]="menu" id="linkAnotherParent" (click)="showChildren()">Link to my child</button>
        <mat-menu #menu="matMenu">
          <button *ngFor="let child of listOfUncommonChildren" mat-menu-item (click)="addChild(child)">
            <span>{{child}}</span>
          </button>
        </mat-menu>
      </span>
      <span class="dropdown" *ngIf="currIsParent && visitedIsParent">
        <button mat-raised-button [matMenuTriggerFor]="menu" id="unlinkAnotherParent">Unlink my child</button>
        <mat-menu #menu="matMenu">
          <button *ngFor="let child of listOfChildren" mat-menu-item (click)="removeChild(child)">
            <span>{{child}}</span>
          </button>
        </mat-menu>
      </span>
      <button mat-raised-button id="mkIndep" *ngIf="!currIsOwner && visitedIsMyChild && visitedIsChild" (click)="EditChildIndependence()">Make Independent</button>
      <button mat-raised-button id="UnlinkMyself" *ngIf="visitedIsMyParent&& !currIsChild" (click)="UnlinkMyself()">Unlink</button>
      <button mat-raised-button id="createChildAccount" *ngIf="currIsParent && currIsOwner">Create child account</button>


    </div>
  </div>
  <br>
  <div class="tab">
    <mat-tab-group>
      <mat-tab label="About">
        <div id="personalinfo" class="tabcontent">
          <h3 style="font-weight: bold">Personal Info:</h3>

          <label>Username: {{currIsOwner? username : vUsername}}</label>
          <br>

          <label>Email: {{currIsOwner? email : vEmail}}</label>
          <br>
          <label>Address: {{currIsOwner? address : vAddress}}</label>
          <br>
          <label>Phone: {{currIsOwner? phone : vPhone}}</label>
          <br>

        </div>
      </mat-tab>
      <mat-tab label="Personal Schedule" *ngIf="currIsOwner || visitedIsMyChild">
        <div id="schedule" class="tabcontent">
          <app-schedule [profileUser]="vUsername"></app-schedule>
        </div>
      </mat-tab>
      <mat-tab label="List of children" *ngIf="currIsOwner? !currIsChild : !visitedIsChild">
        <div id="children" class="tabcontent">
          <h3 style="font-weight: bold">Your Children:</h3>
          <app-childern></app-childern>
        </div>
      </mat-tab>
      <mat-tab label="Study Plans" *ngIf="currIsOwner || visitedIsMyChild">
        <div id="studyplans" class="tabcontent">
          <app-study-plan-list-view type="personal" [username]="currIsOwner? username : vUsername" [(currIsChild)]="currIsChild">
          </app-study-plan-list-view>
        </div>
      </mat-tab>
      <mat-tab label="Settings" *ngIf="visitedIsMyChild || currIsOwner">
        <div id="Settings" class="tabcontent">
          <mat-accordion *ngIf="false">
            <mat-panel-title style="font-size: 20px; font-weight: bold">
              Settings
            </mat-panel-title>
            <mat-expansion-panel [expanded]="false">
              <mat-expansion-panel-header style="font-weight: bold">Change Password</mat-expansion-panel-header>
              Current Password
              <br>
              <input #Oldpw type="password" name="oldpw" [(ngModel)]=oldpw>
              <br> New Password
              <br>
              <input #Newpw type="password" name="newpw" [(ngModel)]=newpw>
              <br> Confirm New Password
              <br>
              <input #Confirmpw type="password" name="confirmPassword" [(ngModel)]=confirmpw/>
              <br>
              <button type="button" class="btn btn-primary" (click)="ChangePassword({oldpw: Oldpw.value, newpw: Newpw.value, confirmpw: Confirmpw.value})">Change Password</button>
              <p [innerHTML]="message"></p>
            </mat-expansion-panel>
            <mat-expansion-panel [expanded]="false">
              <mat-expansion-panel-header style="font-weight: bold">
                Edit Child's Info
              </mat-expansion-panel-header>

              <mat-form-field>
                <label>First Name: </label>
                <input id="dFirstName" matInput [ngModel]=dFirstName value={ {firstName}}>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <label>Last Name: </label>
                <input id="dLastName" matInput [ngModel]=dLastName value={ {lastName}}>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <label>Username: </label>
                <input id="dUsername" matInput [ngModel]=dUsername value={ {username}}>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <label>Email: </label>
                <input id="dEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" matInput [ngModel]=dEmail value={ {email}}>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <label>Address: </label>
                <input id="dAddress" matInput [ngModel]=dAddress value={ {address}}>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <label>Phone: </label>
                <input id="dPhone" matInput [ngModel]=dPhone value={ {phone}}>
              </mat-form-field>
              <br/>
              <mat-form-field>
                <label>Birthdate: </label>
                <input id="dBirthday" matInput [ngModel]=dBirthday value={ {birthday}} [matDatepicker]="birthdatePicker" disabled/>
                <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
                <mat-datepicker #birthdatePicker disabled="false" startView="multi-year"></mat-datepicker>
              </mat-form-field>
              <br/>
              <button mat-raised-button color="primary" (click)="changeChildInfo()">Save</button>
            </mat-expansion-panel>
          </mat-accordion>

          <button mat-raised-button style="font-weight:bold;" (click)="changePass = !changePass">Change Password</button>
          <div *ngIf="changePass">
            <h3 style="font-weight: bold;">Change Password</h3>
            Current Password
            <br>
            <input #Oldpw type="password" name="oldpw" [(ngModel)]=oldpw>
            <br> New Password
            <br>
            <input #Newpw type="password" name="newpw" [(ngModel)]=newpw>
            <br> Confirm New Password
            <br>
            <input #Confirmpw type="password" name="confirmPassword" [(ngModel)]=confirmpw/>
            <br>
            <button type="button" class="btn btn-primary" (click)="ChangePassword({oldpw: Oldpw.value, newpw: Newpw.value, confirmpw: Confirmpw.value})">Change Password</button>

            <p [innerHTML]="message"></p>
          </div>
          <br/>
          <br/>
          <button mat-raised-button *ngIf="visitedIsMyChild" style="font-weight:bold;" (click)="childInfo = !childInfo">Edit Child Info</button>
          <div *ngIf="childInfo">
            <h3 style="font-weight: bold;">Edit Child Info</h3>
            <mat-form-field>
              <label>First Name: </label>
              <input id="dFirstName" matInput [ngModel]=dFirstName value={ {firstName}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Last Name: </label>
              <input id="dLastName" matInput [ngModel]=dLastName value={ {lastName}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Username: </label>
              <input id="dUsername" matInput [ngModel]=dUsername value={ {username}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Email: </label>
              <input id="dEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" matInput [ngModel]=dEmail value={ {email}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Address: </label>
              <input id="dAddress" matInput [ngModel]=dAddress value={ {address}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Phone: </label>
              <input id="dPhone" matInput [ngModel]=dPhone value={ {phone}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Birthdate: </label>
              <input id="dBirthday" matInput [ngModel]=dBirthday value={ {birthday}} [matDatepicker]="birthdatePicker" disabled/>
              <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
              <mat-datepicker #birthdatePicker disabled="false" startView="multi-year"></mat-datepicker>
            </mat-form-field>
            <br/>
            <button mat-raised-button color="primary" (click)="changeChildInfo()">Save</button>
          </div>
          <button mat-raised-button *ngIf="currIsOwner && !isChild" style="font-weight:bold;" (click)="personalInfo = !personalInfo">Edit Personal Info</button>
          <div *ngIf="personalInfo">
            <h3 style="font-weight: bold;">Edit Personal Info</h3>
            <mat-form-field>
              <label>First Name: </label>
              <input id="dFirstName" matInput [ngModel]=dFirstName value={ {firstName}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Last Name: </label>
              <input id="dLastName" matInput [ngModel]=dLastName value={ {lastName}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Username: </label>
              <input id="dUsername" matInput [ngModel]=dUsername value={ {username}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Email: </label>
              <input id="dEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" matInput [ngModel]=dEmail value={ {email}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Address: </label>
              <input id="dAddress" matInput [ngModel]=dAddress value={ {address}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Phone: </label>
              <input id="dPhone" matInput [ngModel]=dPhone value={ {phone}}>
            </mat-form-field>
            <br/>
            <mat-form-field>
              <label>Birthdate: </label>
              <input id="dBirthday" matInput [ngModel]=dBirthday value={ {birthday}} [matDatepicker]="birthdatePicker" disabled/>
              <mat-datepicker-toggle matSuffix [for]="birthdatePicker"></mat-datepicker-toggle>
              <mat-datepicker #birthdatePicker disabled="false" startView="multi-year"></mat-datepicker>
            </mat-form-field>
            <br/>
            <button mat-raised-button color="primary" (click)="ChangeInfo()">Save</button>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>



  </div>






</div> -->
  <section class="content profile-page">
    <div class="block-header">
      <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
          <!-- <h2>Profile
          </h2> -->
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">
         <!-- <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button">
            <i class="zmdi zmdi-plus"></i>
          </button> -->
          <ul class="breadcrumb float-md-right">
            <li class="breadcrumb-item">
              <a routerLink="/dashboard">
                <i class="zmdi zmdi-home"></i> {{'PROFILE.PROFILE.DASHBOARD' | translate}}</a>
            </li>
            <li class="breadcrumb-item active">{{'PROFILE.PROFILE.MY_PROFILE' | translate }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row clearfix">
        <div class="col-lg-12 col-md-12">
          <div class="card profile-header bg-dark">
            <div class="body col-white">
              <div class="row">
                <div class="col-lg-3 col-md-4 col-12">
                  <div class="profile-image float-md-right">
                    <img src="{{currIsOwner? (currHasPP? avatar : 'assets/images/defaultProfilePic.png') : (visitedHasPP? vAvatar : 'assets/images/defaultProfilePic.png')}}"
                      alt="Profile Picture">
                    <br/>
                    <a *ngIf = "currIsOwner" href="#defaultModal" data-toggle="modal" data-target="#defaultModal" title="Change picture" style="float:right">
                      <i class="zmdi zmdi-edit"></i>
                    </a>
                  </div>
                </div>
                <div class="col-lg-9 col-md-8 col-12">
                  <h4 class="m-t-0 m-b-0">
                    <strong>{{currIsOwner? firstName : vFirstName}}</strong> {{currIsOwner? lastName : vLastName}}</h4>
                  <a class="job_post" href="javascript:void(0);" *ngIf="(currIsOwner && currIsAdmin) || visitedIsAdmin">
                    <i class="material-icons">verified_user</i> {{currIsOwner? (currIsAdmin? 'Admin' : '' ) : (visitedIsAdmin? 'Admin' : '' ) }}</a>
                  <p>{{currIsOwner? address : vAddress}}</p>
                  <div>
                    <button class="btn btn-primary btn-round btn-simple" data-toggle="modal" data-target="#directMessageModal" *ngIf = "!currIsOwner">{{'PROFILE.PROFILE.MESSAGE' | translate}}</button>
                    <button class="btn btn-primary btn-round btn-simple" *ngIf="!currIsOwner && currIsOfAge && !visitedIsChild && !visitedIsMyParent && visitedCanBeParent && !currIsParent"
                      (click)="linkToParent()">{{'PROFILE.PROFILE.ADD_AS_PARENT' | translate}}</button>
                    <button class="btn btn-primary btn-round btn-simple" *ngIf="!currIsOwner && visitedIsMyChild && visitedIsOfAge && visitedIsChild"
                      (click)="EditChildIndependence()">{{'PROFILE.PROFILE.MAKE_INDEPENDENT' | translate}}</button>
                    <button class="btn btn-primary btn-round btn-simple" *ngIf="currIsOwner && !currIsChild && !verified && currIsOfAge" (click)="requestContributerValidation()">{{'PROFILE.PROFILE.BE_VERIFIED_CONTRIBUTOR' |translate}}</button>
                    <button class="btn btn-primary btn-round btn-simple" style="float: right" *ngIf="currIsOfAge && !currIsOwner && visitedIsOfAge"
                      (click)="reportPopUp()">{{'PROFILE.PROFILE.REPORT' | translate}}</button>
                    <button class="btn btn-primary btn-round btn-simple" style="float: right" *ngIf="currCanBeParent && currIsOwner" routerLink= "/auth/child-sign-up">{{'PROFILE.PROFILE.CREATE_CHILD_ACCOUNT' | translate}}</button>
                    <button class="btn btn-primary btn-round btn-simple" style="float: right" *ngIf="!currIsOwner && visitedIsMyParent && currIsOfAge"
                      (click)="UnlinkMyself()">{{'PROFILE.PROFILE.UNLINK_MY_PARENT' | translate}}</button>
                    <span class="dropdown">
                      <button class="btn btn-primary btn-round btn-simple" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" *ngIf="currIsParent && !currIsOwner && !visitedIsChild && visitedCanBeParent">
                        <span>{{'PROFILE.PROFILE.LINK_TO_CHILD' | translate}}</span>
                    </button>
                        <!-- class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" -->
                        <ul class="dropdown-menu dropdown-menu-right">
                          <li *ngFor="let child of listOfUncommonChildren">
                            <a class = "dummyLink" (click)="addChild(child)">
                              <strong>{{child}}</strong>
                            </a>
                          </li>
                        </ul>
                      </span>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
          <div class="card">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#about">{{'PROFILE.PROFILE.ABOUT' | translate}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#friends" *ngIf="false">Children</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane body active" id="about">
                <small class="text-muted">{{'PROFILE.PROFILE.EMAIL' | translate}} </small>
                <p>{{currIsOwner? email : vEmail}}</p>
                <hr>
                <small class="text-muted">{{'PROFILE.PROFILE.PHONE' | translate}} </small>
                <p>{{currIsOwner? phone : vPhone}}</p>
                <hr>
                <small class="text-muted">{{'PROFILE.PROFILE.BIRTHDATE' | translate}} </small>
                <p class="m-b-0">{{(currIsOwner? birthday : vBirthday) | date: "MM/dd/yyyy"}}</p>
                <hr>
                <small class="text-muted">{{'PROFILE.PROFILE.AGE' | translate}} </small>
                <p class="m-b-0">{{currIsOwner? age : vAge}}</p>
              </div>
              <div class="tab-pane body" id="friends" *ngIf="false">
                <ul class="new_friend_list list-unstyled row">
                  <li class="col-lg-4 col-md-2 col-sm-6 col-4">
                    <a href="">
                      <img src="assets/images/sm/avatar1.jpg" class="img-thumbnail" alt="User Image">
                      <h6 class="users_name">Jackson</h6>
                      <small class="join_date">Today</small>
                    </a>
                  </li>
                  <li class="col-lg-4 col-md-2 col-sm-6 col-4">
                    <a href="">
                      <img src="assets/images/sm/avatar1.jpg" class="img-thumbnail" alt="User Image">
                      <h6 class="users_name">Jackson</h6>
                      <small class="join_date">Today</small>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-12">
          <div *ngIf = "currIsOwner || visitedIsMyChild" class="card bg-dark">
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#children" *ngIf="currIsOwner">{{'PROFILE.PROFILE.CHILDREN' | translate}}</a>
              </li>
             <li class="nav-item" *ngIf = "currIsOwner || visitedIsMyChild">
                <a class="nav-link" data-toggle="tab" href="#studyplans">{{'PROFILE.PROFILE.STUDY_PLANS' | translate}}</a>
              </li>
              <li class="nav-item" *ngIf="currIsOwner && currIsOfAge">
                <a class="nav-link" data-toggle="tab" href="#userSettings">{{'PROFILE.PROFILE.SETTINGS'| translate}}</a>
              </li>
              <li class="nav-item" *ngIf="visitedIsMyChild">
                  <a class="nav-link" data-toggle="tab" href="#childSettings">{{'PROFILE.PROFILE.SETTINGS' | translate}}</a>
                </li>
            </ul>
          </div>
          <div class="tab-content">
              <div role="tabpanel" class="tab-pane" id="childSettings">
                  <!-- Child Info -->
    
                  <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="card">
                        <div class="header">
                          <h2>
                            <strong>{{'PROFILE.PROFILE.MY_CHILE' | translate}}</strong> {{'PROFILE.PROFILE.CHILD_INFO' | translate}}</h2>
                        </div>
                        <div class="body">
                            <label for="dFirstName">{{'PROFILE.PROFILE.FIRST_NAME' | translate}}</label>
                            <div class="form-group">
                              <input type="text" id="dFirstName" [ngModel]=dFirstName class="form-control" value= {{vFirstName}}>
                            </div>
                            <label for="dLastName">{{'PROFILE.PROFILE.LAST_NAME' | translate}}</label>
                            <div class="form-group">
                              <input type="text" id="dLastName" [ngModel]=dLastName class="form-control" value= {{vLastName}}>
                            </div>
                            <label for="dUsername">{{'PROFILE.PROFILE.USERNAME' | translate}}</label>
                            <div class="form-group">
                              <input type="text" id="dUsername" [ngModel]=dUsername class="form-control" value= {{vUsername}} disabled>
                            </div>
                            <label for="dEmail">{{'PROFILE.PROFILE.EDIT_EMAIL' | translate}}</label>
                            <div class="form-group">
                              <input type="text" id="dEmail" [ngModel]=dEmail class="form-control" value= {{vEmail}} disabled>
                            </div>
                            <label for="dAddress">{{'PROFILE.PROFILE.ADDRESS' |translate}}</label>
                            <div class="form-group">
                              <input type="text" id="dAddress" [ngModel]=dAddress class="form-control" value= {{vAddress}}>
                            </div>
                            <label for="dBirthday">{{'PROFILE.PROFILE.EDIT_BD' | translate}}</label>
                            <div class="input-group">
                              <span class="input-group-addon">
                                <i class="zmdi zmdi-calendar"></i>
                              </span>
                              <input type="text" id = "dBirthday" class="form-control datetimepicker" value= {{vBirthdayView}}>
                            </div>
                            <label for="dPhone">{{'PROFILE.PROFILE.EDIT_PHONE' | translate}}</label>
                            <div class="form-group">
                              <input type="text" id="dPhone" [ngModel]=dPhone class="form-control" value= {{vPhone}}>
                            </div>
                            <button type="button" (click)="changeChildInfo()" class="btn btn-raised btn-primary btn-round waves-effect">{{'PROFILE.PROFILE.SAVE_CHANGES' | translate}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <!-- End Child Info -->
                </div>
            <div role="tabpanel" class="tab-pane" id="userSettings">
              <div class="card">
                <div class="header">
                  <h2>
                    <strong>{{'PROFILE.PROFILE.SECURITY' | translate}}</strong>{{'PROFILE.PROFILE.SETTINGS' | translate}} </h2>
                </div>
                <div class="body">
                  <div class="form-group">
                    <input #Oldpw type="password" class="form-control" placeholder="{{'PROFILE.PROFILE.CPASSWORD' | translate}}" [(ngModel)]=oldpw>
                  </div>
                  <div class="form-group">
                    <input #Newpw type="password" class="form-control" placeholder="{{'PROFILE.PROFILE.NPASSWORD' | translate}}" [(ngModel)]=newpw>
                  </div>
                  <div class="form-group">
                    <input #Confirmpw type="password" class="form-control" placeholder="{{'PROFILE.PROFILE.CNPASSWORD' | translate}}" [(ngModel)]=confirmpw>
                  </div>
                  <button class="btn btn-raised btn-primary btn-round waves-effect" (click)="ChangePassword({oldpw: Oldpw.value, newpw: Newpw.value, confirmpw: Confirmpw.value})">{{'PROFILE.PROFILE.CHANGE_PASSWORD' |translate}}</button>
                </div>
              </div>
              <!-- Personal Info -->
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <div class="card">
                    <div class="header">
                      <h2>
                        <strong>{{'PROFILE.PROFILE.PERSONAL' | translate}}</strong> {{'PROFILE.PROFILE.MY_INFO' | translate}}</h2>
                    </div>
                    <div class="body">
                        <label for="dFirstName">{{'PROFILE.PROFILE.FIRST_NAME' | translate}}</label>
                        <div class="form-group">
                          <input type="text" id="qFirstName" [ngModel]=dFirstName class="form-control" value= {{firstName}}>
                        </div>
                        <label for="dLastName">{{'PROFILE.PROFILE.LAST_NAME' | translate}}</label>
                        <div class="form-group">
                          <input type="text" id="qLastName" [ngModel]=dLastName class="form-control" value= {{lastName}}>
                        </div>
                        <label for="dUsername">{{'PROFILE.PROFILE.USERNAME' | translate}}</label>
                        <div class="form-group">
                          <input type="text" id="qUsername" [ngModel]=dUsername class="form-control" value= {{username}} disabled>
                        </div>
                        <label for="dEmail">{{'PROFILE.PROFILE.EDIT_EMAIL' | translate}}</label>
                        <div class="form-group">
                          <input type="text" id="qEmail" [ngModel]=dEmail class="form-control" value= {{email}} disabled>
                        </div>
                        <label for="dAddress">{{'PROFILE.PROFILE.ADDRESS' |translate}}</label>
                        <div class="form-group">
                          <input type="text" id="qAddress" [ngModel]=dAddress class="form-control" value= {{address}}>
                        </div>
                        <label for="dBirthday">{{'PROFILE.PROFILE.EDIT_BD' | translate}}</label>
                        <div class="input-group">
                          <span class="input-group-addon">
                            <i class="zmdi zmdi-calendar"></i>
                          </span>
                          <input type="text" id = "qBirthday" class="form-control datetimepicker" value= {{birthdayView}}>
                        </div>
                        <label for="dPhone">{{'PROFILE.PROFILE.EDIT_PHONE' | translate}}</label>
                        <div class="form-group">
                          <input type="text" id="qPhone" [ngModel]=dPhone class="form-control" value= {{phone}}>
                        </div>
                        <button type="button" (click)="ChangeInfo()" class="btn btn-raised btn-primary btn-round waves-effect">{{'PROFILE.PROFILE.SAVE_CHANGES' | translate}}</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Personal Info -->
              <div class="card">
                <div class="header">
                  <h2>
                    <strong>{{'PROFILE.PROFILE.MESSAGES_BLOCK' | translate}}</strong> {{'PROFILE.PROFILE.BLOCK_LIST' |translate}}</h2>
                </div>
                <style>
                  .bodyBlock {
                    -webkit-column-count: 3;
                    /* Chrome, Safari, Opera */
                    -moz-column-count: 3;
                    /* Firefox */
                    column-count: 3;

                    -webkit-column-gap: 80px;
                    /* Chrome, Safari, Opera */
                    -moz-column-gap: 80px;
                    /* Firefox */
                    column-gap: 80px;
                  }
                </style>
                <div class="body" class="bodyBlock">
                  <div *ngFor="let blockedUser of blocklist" class="zmdi zmdi-account-circle" style="padding-left:25px;">
                    <strong>
                      <span>{{blockedUser}} </span>
                    </strong>
                    <div class="col-md-12">
                      <button class="btn btn-primary btn-round" (click)="unblockUser(blockedUser)">
                        {{'PROFILE.PROFILE.UNBLOCK' | translate}}
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="children">
              <app-childern></app-childern>
            </div>
            <div role="tabpanel" class="tab-pane" id="studyplans">
              <div class="card">
                <div class="body">
                  <div *ngIf="!currIsChild && currIsOwner">
                    <a class="btn btn-primary" routerLink="/scheduling/study-plan/create" color="primary" style="float: right;">{{'PROFILE.PROFILE.CREATE_STUDY_PALN' | translate}}</a>
                    <br />
                    <br />
                    <br />
                  </div>
                  <div class="row">
                    <div class="card col-4" *ngFor="let studyPlan of (currIsOwner ? studyPlans : vStudyPlans); let index = index">
                      <div class="header">
                        <h2>
                          <span class="badge badge-assigned float-right" *ngIf="studyPlan.assigned">{{'PROFILE.PROFILE.ASSIGNED' | translate}}</span>
                          <strong>{{studyPlan.title}}</strong>
                          <br/> {{studyPlan.creator}}
                        </h2>
                      </div>
                      <div class="body">
                        <p>
                          <a class="btn btn-primary" routerLink="/scheduling/study-plan/personal/{{ studyPlan._id }}/{{ currIsOwner ? username : vUsername }}">{{'PROFILE.PROFILE.VIEW' | translate}}</a>
                          <button class="btn btn-primary" data-toggle="modal" data-target="#studyPlanDeleteModal" (click)="studyPlanIndex = index" color="primary" *ngIf="!currIsChild">{{'PROFILE.PROFILE.DELETE' | translate}}</button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
<section>
  <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title" id="defaultModalLabel">{{'PROFILE.PROFILE.PROFILE_PIC' | translate}}</h4>
        </div>
        <div class="modal-body">
          <app-image-uploader (ImageUploaded)="uploaded($event)"></app-image-uploader>
          <button id="closeModal" type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal" style="float:right">{{'PROFILE.PROFILE.CANCEL' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Study Plan Delete Modal -->
<div class="modal fade" id="studyPlanDeleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">{{'PROFILE.PROFILE.DELETE_EVENT' | translate}}</h4>
      </div>
      <div class="modal-body">
        <li>{{'PROFILE.PROFILE.DELE_EVENT_CONF' | translate}}</li>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal" (click)="deleteStudyPlan(studyPlanIndex)">{{'PROFILE.PROFILE.DELETE' | translate}}</button>
        <button type="button" class="btn btn-simple btn-round waves-effect" data-dismiss="modal">{{'PROFILE.PROFILE.CANCEL' | translate}}</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="directMessageModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <app-direct-messaging [receipient] = "vUsername"></app-direct-messaging>
        </div>
      </div>
    </div>
  </div>