@import "../../../assets/css/timeline.css";
@import "../../../assets/plugins/sweetalert/sweetalert.css";



@media only screen and(max-width: 800px) {
    #shifted {
        padding: 0px;
        left: 0 !important;
        right: 0 !important;
    }
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

.modal {
    position: fixed;
    top: 3%;
    right: 3%;
    left: 3%;
    bottom: 3%;
    width: auto;
    margin: 0;
    }

.badge-assigned {
    border-color:#49c5b6;
    color:#49c5b6
}

.dummyLink {
    cursor: pointer;
}