<section class="content" dir="ltr">
    <form #contentEditForm="ngForm">
        <mat-vertical-stepper class="edit-stepper">
            <mat-step label="{{ 'CONTENT.EDIT.STEPPER.CONTENT_DATA' | translate }}" >
                <button class="btn" matStepperNext>{{ 'CONTENT.SHARED.NEXT' | translate }}</button>
                <div class="offset-xl-4 col-xl-4 offset-lg-3 col-lg-6 offset-md-2 col-md-8 col-sm-12 mt-1" dir="rtl">
                    <div [style.text-align]="translate.currentLang === 'ara'? 'right': 'left'" class="card">
                        <div class="header">
                            <h2>
                                <strong><div [style.text-align]="translate.currentLang === 'ara'? 'right': 'left'">{{ 'CONTENT.EDIT.CREATE_CONTENT' | translate }}</div></strong>
                            </h2>
                            <small class="text-mute"><div [style.text-align]="translate.currentLang === 'ara'? 'right': 'left'">{{ 'CONTENT.EDIT.GENERAL_INFO' | translate }}</div></small>
                        </div>
                        <div class="body">
                            <div [ngClass]="'form-group mb-1'+(title.invalid && (title.touched || title.dirty) ? ' has-danger': '')">
                                <label [style.text-align]="translate.currentLang === 'ara'? 'right': 'left'">{{ 'CONTENT.EDIT.TITLE' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <input type="text" [ngClass]="'form-control' +(title.invalid && (title.touched || title.dirty) ? ' form-control-danger': '')"
                                    required [(ngModel)]="content.title" name="title" #title="ngModel" placeholder="{{ 'CONTENT.EDIT.TITLE_PLACEHOLDER' | translate }}">
                            </div>
                            <small *ngIf="title.invalid && (title.touched || title.dirty)" class="text-danger">{{ 'CONTENT.EDIT.TITLE_IS_REQUIRED' | translate }}</small>
                            <div class="form-group">
                                <label>{{ 'CONTENT.EDIT.THUMBNAIL_IMAGE' | translate }}</label>
                                <input id="fileInput" class="form-control" type="file" ng2FileSelect [uploader]="uploader" (change)="uploadImage()" accept="image/*;capture=camera">
                                <div *ngIf="loading">
                                    <ngx-loading-bar [includeBar]="false"></ngx-loading-bar>
                                </div>
                            </div>
                            <div [ngClass]="'form-group mb-1'+(video.errors?.pattern && (video.touched || video.dirty) ? ' has-danger': '')">
                                <label>{{ 'CONTENT.EDIT.YOUTUBE_VIDEO' | translate }}</label>
                                <input [ngClass]="'form-control' +(video.errors?.pattern && (video.touched || video.dirty) ? ' form-control-danger': '')"
                                    pattern="http(?:s?):\/\/(?:www\.)?youtu(?:be\.com\/watch\?v=|\.be\/)([\w\-\_]*)(&(amp;)?‌​[\w\?‌​=]*)?"
                                    [(ngModel)]="videoInput" #video="ngModel" name="video" placeholder="{{ 'CONTENT.EDIT.VIDEO_LINK_PLACEHOLDER' | translate }}"
                                    (blur)="getSafeUrl()">
                            </div>
                            <small *ngIf="video.errors?.pattern && (video.touched || video.dirty)" class="text-danger">{{ 'CONTENT.EDIT.VIDEO_LINK_INVALID' | translate }}</small>
                            <div class="form-group">
                                <label>{{ 'CONTENT.EDIT.TYPE' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="form-control" required #content.type name="type" [(ngModel)]="content.type">
                                    <option value="resource">{{ 'CONTENT.EDIT.RESOURCE' | translate }}</option>
                                    <option value="idea">{{ 'CONTENT.EDIT.IDEA' | translate }}</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>{{ 'CONTENT.SHARED.LANGUAGE' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <select class="form-control" required #content.language name="language" [(ngModel)]="content.language"
                                    required>
                                    <option value="english">{{ 'CONTENT.SHARED.ENGLISH' | translate }}</option>
                                    <option value="arabic">{{ 'CONTENT.SHARED.ARABIC' | translate }}</option>
                                </select>
                            </div>
                            <div [ngClass]="'form-group mb-1'+(category.invalid && (category.touched || category.dirty) ? ' has-danger': '')">
                                <label>{{ 'CONTENT.SHARED.CATEGORY' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <select [ngClass]="'form-control' +(category.invalid && (category.touched || category.dirty) ? ' form-control-danger': '')"
                                    placeholder="Category..." required name="category" #category="ngModel" [(ngModel)]="content.category"
                                    (ngModelChange)="getSections()">
                                    <option *ngFor="let category of categories" [value]="category.name">
                                        {{category.name}}
                                    </option>
                                </select>
                            </div>
                            <small class="text-danger" *ngIf="category.invalid && (category.touched || category.dirty)">{{ 'CONTENT.EDIT.CATEGORY_REQUIRED' | translate }}</small>
                            <div [ngClass]="'form-group mb-1'+(section.invalid && (section.touched || section.dirty) ? ' has-danger': '')">
                                <label>{{ 'CONTENT.SHARED.SECTION' | translate }}
                                    <span class="text-danger">*</span>
                                </label>
                                <select [ngClass]="'form-control' +(section.invalid && (section.touched || section.dirty) ? ' form-control-danger': '')"
                                    required name="section" #section="ngModel" [(ngModel)]="content.section">
                                    <option *ngFor="let section of requiredSections" [value]="section.name">
                                        {{section.name}}
                                    </option>
                                </select>
                            </div>
                            <small class="text-danger" *ngIf="section.invalid && (section.touched || section.dirty) && category.invalid">{{ 'CONTENT.EDIT.CATEGORY_INVALID' | translate }}</small>
                            <small class="text-danger" *ngIf="section.invalid && (section.touched || section.dirty) && category.valid">{{ 'CONTENT.EDIT.SECTION_REQUIRED' | translate }}</small>
                            <div class="form-group">
                                <label>{{ 'CONTENT.SHARED.TAGS' | translate }}</label>
                                <label *ngFor="let tag of content.tags">
                                    <a class="tag badge badge-default">{{tag}}</a>
                                </label>
                                <input class="form-control" [(ngModel)]="chipInput" placeholder="{{ 'CONTENT.EDIT.TAG_PLACEHOLDER' | translate }}" name="tags" (keyup)="onTagInput($event)" (blur)="onTagInput($event)"
                                />
                            </div>
                        </div>
                    </div>
                </div>
            </mat-step>
            <mat-step label="{{ 'CONTENT.EDIT.STEPPER.CONTENT_DESCRIPTION' | translate }}">
                <button class="btn" matStepperNext>{{ 'CONTENT.SHARED.NEXT' | translate }}</button>
                <quill-editor class="text-editor" [options]="editorOptions" [(ngModel)]="content.body" name="body"></quill-editor>
            </mat-step>
            <mat-step label="{{ 'CONTENT.EDIT.STEPPER.REVIEW_AND_SUBMIT' | translate }}">
                <small [hidden]="contentEditForm.valid" class="btn btn-primary" class="text-danger">{{ 'CONTENT.EDIT.FILL_ALL' | translate }}</small>
                <button [disabled]="!contentEditForm.valid" class="btn btn-primary" (click)="onSubmit()">{{ 'CONTENT.EDIT.SUBMIT' | translate }}</button>
                <div class="col-lg-8 col-md-12">
                    <div *ngIf="content" class="card single_post">
                        <div class="body">
                            <h3 class="m-t-0 m-b-5 mr-auto">{{ content.title }} </h3>
                        </div>
                        <div class="body">
                            <div class="container">
                                <div class="video-container">
                                    <div *ngIf="content.video | safeResourceUrl" class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" [src]="content.video | safeResourceUrl" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div *ngIf="content.body" class="ql-editor preview" [innerHTML]="content.body | safeHtml"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-step>
        </mat-vertical-stepper>
    </form>
</section>