.preview {
    word-wrap: break-word;
    overflow-y: auto;
    text-align: justify;
}

.title {
    word-wrap: break-word;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

.text-editor {
    overflow-y: auto;
    min-height: 90%;
    max-height: 90%;
    margin-left: 4%;
}

.content-container {
    margin-top: 2%;
    height: 90%;
}

.edit-stepper {
    background-color: #f4f7f6;
}

.video-container {
    max-height: 50%;
}
