 <!-- <section class="content">
     <div id="div" *ngIf="div">
    <label>
      Messaging is only permitted for users above the age of 13. Sorry!
    </label>
  </div>
  
  <div *ngIf="!div">
      <br/>
      <button mat-raised-button color="primary" class="btn" (click)="openDialog()">COMPOSE</button>
      <br/>
      <br/>
  </div>

  <div style="float:right; margin-left:200px;">
      <mat-list role="list" class="list" *ngFor="let contact of contacts">
          <mat-list-item role="listitem"> {{contact._id}} </mat-list-item>
      </mat-list>
  </div>

  <div *ngIf="!div">
  <mat-tab-group>
      <mat-tab label="Inbox">
          <div style="max-width:800px; padding-left: 6%;" *ngFor="let message of inbox">
          <mat-card>
              <mat-card-header>
                <div mat-card-avatar><mat-icon>face</mat-icon></div>
                <mat-card-title class="text"> {{message.sender}} </mat-card-title>
                <div style="text-align: right; margin-left: 75%;">
                    <mat-card-subtitle> {{message.sentAt|date}} </mat-card-subtitle>
                </div>
              </mat-card-header>
              <mat-card-content>
                <p>
                    {{message.body}}
                </p>
              </mat-card-content>
              <mat-card-footer style="text-align: right;">
                  <button mat-icon-button class="replybtn" (click)="openReplyDialog(message.sender)"><mat-icon>reply</mat-icon></button>
                  <button mat-icon-button class="forwardbtn" (click)="openForwardDialog(message)"><mat-icon>forward</mat-icon></button>
                  <button mat-icon-button class="iconbtn" (click)="deleteMessage(message)"><mat-icon>delete</mat-icon></button>
                  <button mat-icon-button class="iconbtn" (click)="block(message)"><mat-icon>block</mat-icon></button>
              </mat-card-footer>
          </mat-card>
          <br/>
          </div>
      </mat-tab>

      <mat-tab label="Sent">
            <div style="max-width:800px; padding-left: 6%;" *ngFor="let msg of sent">
                <mat-card>
                    <mat-card-header>
                      <div mat-card-avatar><mat-icon>face</mat-icon></div>
                      <mat-card-title class="text"> {{msg.recipient}} </mat-card-title>
                      <div style="text-align: right; margin-left: 75%;">
                          <mat-card-subtitle> {{msg.sentAt|date}} </mat-card-subtitle>
                      </div>
                    </mat-card-header>
                    <mat-card-content>
                      <p>
                          {{msg.body}}
                      </p>
                    </mat-card-content>
                    <mat-card-footer style="text-align: right;">
                        <button mat-icon-button class="replybtn" (click)="openReplyDialog(msg.recipient)"><mat-icon>reply</mat-icon></button>
                        <button mat-icon-button class="forwardbtn" (click)="openForwardDialog(msg)"><mat-icon>forward</mat-icon></button>
                        <button mat-icon-button class="iconbtn" (click)="deleteMessage(msg)"><mat-icon>delete</mat-icon></button>
                        <button mat-icon-button class="iconbtn" (click)="block(msg)"><mat-icon>block</mat-icon></button>
                    </mat-card-footer>
                </mat-card>
                <br/>
            </div>
      </mat-tab>
    </mat-tab-group>
    </div>
    </section> -->

    <section class="content inbox">
            <div class="block-header">
              <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                  <h2>Inbox</h2>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-12">
                  <ul class=" breadcrumb float-md-right">
                    <li class="breadcrumb-item"><a routerLink="/dashboard"><i class="zmdi zmdi-home"></i> Dashboard</a></li>
                    <li class="breadcrumb-item active">Inbox</li>
                    <!-- <button class="btn btn-round btn-primary waves-effect" type="button" (click)="openDialog()">
                        COMPOSE
                    </button> -->
                  </ul>
                </div>
              </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix" style="float:right; margin-left:10px; margin-top:20px; width:300px;">
                    <div class="col-lg-12">
                      <div class="card">
                        <div class="header">
                          <h2>
                            <strong>Recently Contacted <i class="material-icons">people</i></strong>
                          </h2>
                        </div>
                        <div *ngIf="!contacts.length">
                            <div class="body table-responsive">
                              <table class="table m-b-0 c_list">
                                <tbody>
                                  <tr>
                                    <p>You haven't contacted anyone yet.</p><a href="javascript:void(0);" (click)="openDialog()">Start a conversation?</a>
                                  </tr>
                                </tbody>
                              </table>
                             </div>
                        </div>
                        <div class="body table-responsive">
                          <table class="table table-hover m-b-0 c_list">
                            <!-- <thead class="header">
                            <tr>
                              <th>Recently Contacted</th>
                            </tr>
                            </thead> -->
                            <tbody *ngFor="let contact of contacts">
                            <tr>
                              <td>
                                  <!-- <img src="../../../assets/images/profile-view/defaultPP.png" class="rounded-circle avatar" alt=""> -->
                                  <p class="c_name">{{contact._id}}</p>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div>
                    <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#inbox"> <i class="zmdi zmdi-inbox"></i> INBOX </a></li>
                            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#sent"><i class="zmdi zmdi-email"></i> SENT </a></li>
                    </ul>
                  </div>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane in active" id="inbox">
                            <div class="row clearfix">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                      <ul class="mail_list list-group list-unstyled">
                                        <div *ngFor="let message of inbox">
                                        <li class="list-group-item">
                                          <div class="media">
                                            <div class="pull-left">
                                              <!-- <div class="controls">
                                                <div class="checkbox">
                                                  <input type="checkbox" id="basic_checkbox_1">
                                                  <label for="basic_checkbox_1"></label>
                                                </div>
                                                <a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
                                              </div> -->
                                              <div class="thumb hidden-sm-down m-r-20"> <img src="../../../assets/images/profile-view/defaultPP.png" class="rounded-circle" alt=""> </div>
                                            </div>
                                            <div class="media-body">
                                              <div class="media-heading">
                                                <a (click)="setMessage(message)" routerLink="" class="m-r-10">{{message.sender}}</a>
                                                <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">{{message.sentAt|date}}</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                              </div>
                                              <p class="msg">{{message.body}}</p>
                                            </div>
                                          </div>
                                         </li>
                                        </div>
                                      </ul>
                                    </div>
                                  </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="sent">
                            <div class="row clearfix">
                                    <div class="col-md-12 col-lg-12 col-xl-12">
                                      <ul class="mail_list list-group list-unstyled">
                                        <div *ngFor="let msg of sent">
                                        <li class="list-group-item">
                                          <div class="media">
                                            <div class="pull-left">
                                              <!-- <div class="controls">
                                                <div class="checkbox">
                                                  <input type="checkbox" id="basic_checkbox_1">
                                                  <label for="basic_checkbox_1"></label>
                                                </div>
                                                <a href="javascript:void(0);" class="favourite text-muted hidden-sm-down" data-toggle="active"><i class="zmdi zmdi-star-outline"></i></a>
                                              </div> -->
                                              <div class="thumb hidden-sm-down m-r-20"> <img src="../../../assets/images/profile-view/defaultPP.png" class="rounded-circle" alt=""> </div>
                                            </div>
                                            <div class="media-body">
                                              <div class="media-heading">
                                                <a (click)="setMessage(msg)" routerLink="" class="m-r-10">{{msg.recipient}}</a>
                                                <small class="float-right text-muted"><time class="hidden-sm-down" datetime="2017">{{msg.sentAt|date}}</time><i class="zmdi zmdi-attachment-alt"></i> </small>
                                              </div>
                                              <p class="msg">{{msg.body}}</p>
                                            </div>
                                          </div>
                                         </li>
                                        </div>
                                      </ul>
                                    </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                 </section>

                 <div class="modal fade" id="send" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                      <div>
                        <app-send-dialog></app-send-dialog>>
                      </div>
                    </div>
                 </div>
