@import "../../../assets/css/inbox.css";
@import "../../../assets/plugins/footable-bootstrap/css/footable.bootstrap.min.css";
@import "../../../assets/plugins/footable-bootstrap/css/footable.standalone.min.css";
