.btn-facebook {
    background-color: #3B5998 !important;
}

.btn-google-plus {
    background-color: #d34836 !important;
}

.form-control:invalid {
    border-color: red !important;
}

.form-control:valid {
    border-color: green !important;
}

.form-control:focus {
    border-color: white !important;
}

.cen-wh-content {
    text-align: center;
    color: white;
}