<p>
  admin-control works!
<br/><br/>

<button (click)="viewVCRequests()"  mat-raised-button>View Verified Contributer requests</button>
<app-view-verified-contributer-requests [hidden]="hideVCRequest == 1" ></app-view-verified-contributer-requests>
<br/><br/>

<mat-button-toggle
   (click)="goToResIReq()">
   Content Requests
</mat-button-toggle>

<br/>
<app-view-content-requests
  [hidden]="hideContentReqs ==1 " >
</app-view-content-requests>
<br/><br/>
</p>


<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Unverified Activities
    </mat-panel-title>
    <mat-panel-description>
      View unrevised activities to accept/reject them
    </mat-panel-description>
  </mat-expansion-panel-header>
  <view-unverified-activities></view-unverified-activities>

</mat-expansion-panel>
