<p>
  admin-control works!
  <br/>
  <br/>

  <button (click)="viewVCRequests()" mat-raised-button>View Verified Contributer requests</button>
  <app-view-verified-contributer-requests [hidden]="hideVCRequest == 1"></app-view-verified-contributer-requests>
  <br/>
  <br/>

  <mat-button-toggle (click)="goToResIReq()">
    Content Requests
  </mat-button-toggle>

  <br/>
  <app-view-content-requests [hidden]="hideContentReqs ==1 ">
  </app-view-content-requests>
  <br/>
  <br/>

  <button mat-raised-button (click)="goToPsychReq()">Psychologists Requests</button>
</p>