<!--div *ngFor="let x of singleArray ">


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      
  
  
  
      <mat-card-title>{{x.username}}</mat-card-title>
      <p> {{x.firstName}}</p>
  
    </mat-card-header>
  
    <mat-card-content>
     
    </mat-card-content>
    <mat-card-actions>
    </mat-card-actions>
  </mat-card>
  
  </div-->

      <!--div class="row clearfix">
          <div class="row ">
      <div class="col-lg-5 col-md-4">
  <div class="card">
     
    <div class="header">
      <h2><strong>Children</strong></h2>
    </div>

    <div class="body table-responsive">
        <table class="table table-hover m-b-0 c_list">
      <ul class="follow_us list-unstyled">
          <div *ngFor="let x of singleArray ">
  <li class="online">
    <a href="javascript:void(0);">
      <div class="media">
        <img class="media-object " src="assets/images/xs/avatar3.jpg" alt="">
        <div class="media-body">
          <span class="name">{{x.firstName}}</span>
          <p >@{{x.username}}</p>
        </div>
      </div>
    </a>
  </li>
</div>
</ul>





        </table>
</div>
</div>
</div>
</div>
</div-->


    <div class="col-lg-7">
      <div class="card">
        <div class="body table-responsive">
          <table class="table m-b-0 c_list">
            <thead>
          
            </thead>
           
            <tbody>
           
                
            <tr *ngFor="let x of singleArray "  >
              
              <td>
                <img [src]="x.avatar"  style="width:60px;height:60px" class="rounded-circle avatar" alt="">
                <p class="name"></p>
                <a  href= "/profile/{{x.username}}"> {{x.firstName}} {{x.lastName}}</a>
               
              </td>
              <td >
                <span class="phone" data-breakpoints="xs"><i class="zmdi zmdi-book m-r-10"></i>{{x.birthdate}} years</span>
              </td>
              <!--td>
                <address><i class="zmdi zmdi-pin"></i>44 Shirley Ave. West Chicago, IL 60185</address>
              </td-->
              <!--td>
                  <span class="phone"><i class="zmdi zmdi-book m-r-10"></i>Grade 1</span>
              </td-->
            
            </tr>
          
      
          </tbody>
        
        </table>
      </div>
    </div>
  </div>

