<div class="container-fluid mt-4">
  <div class="row clearfix" *ngIf="categories">
    <app-category-create [inputCategories]="categories" class="mt-1"></app-category-create>
    <app-category-update [inputCategories]="categories" class="mt-1"></app-category-update>
    <app-category-delete [inputCategories]="categories" class="mt-1"></app-category-delete>
    <app-section-create [inputCategories]="categories" class="mt-1"></app-section-create>
    <app-section-update [inputCategories]="categories" class="mt-1"></app-section-update>
    <app-section-delete [inputCategories]="categories" class="mt-1"></app-section-delete>
  </div>
</div>