<form class="container-fluid vertical-center" #loginForm="ngForm">
  <mat-card class="col-xl-2 col-lg-4 col-md-6 col-sm-12 center">
    <div class="d-flex">
      <img class="center" src="../../../assets/images/login-view/login.png" />
    </div>
    <mat-form-field class="meta-input" hintLabel="Please enter your username here">
      <input matInput #username [(ngModel)]="this.Username" name="username" required/>
      <mat-placeholder><mat-icon>account_circle</mat-icon>Username</mat-placeholder>
    </mat-form-field>
    <mat-form-field class="meta-input" hintLabel="please enter your password here">
      <input matInput type="password" #password [(ngModel)]="this.Password" name="password" required/>
      <mat-placeholder><mat-icon>security</mat-icon>Password</mat-placeholder>
    </mat-form-field>
    <div class="d-flex">
      <button mat-button class="center" color="primary" (click)="login()" [disabled]="!loginForm.form.valid">submit</button>
    </div>
    <div class="d-flex">
      <button mat-button class="ml-auto" (click)="redirect()">back</button>
    </div>
  </mat-card>
</form>