<section class="page-calendar">
  <div class="row">

    <div class="col-md-12 col-lg-4 col-xl-4">
      <div class="body">
        <button type="button" class="btn btn-round btn-primary waves-effect" (click)="onCreate(); this.refresh.next();">Add Events</button>
        <!-- <button type="button" class="btn btn-round btn-primary waves-effect" data-toggle="modal" data-target="#createModal" *ngIf="onCreate">Add Events</button> -->
        <button class="btn btn-default hidden-lg-up m-t-0 float-right" data-toggle="collapse" data-target="#open-events" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="zmdi zmdi-chevron-down"></i>
        </button>
        <div class="collapse-xs collapse-sm collapse" id="open-events">
          <hr>
          <div class="event-name b-primary row" *ngFor="let event of events; let index = index">
            <div class="col-2 text-center">
              <h4>{{ event.start | date:'dd' }}
                <span>{{ event.start | date:'MMM' }}</span>
                <span>{{ event.start | date:'yyyy' }}</span>
              </h4>
            </div>
            <div class="col-10">
              <h6>{{ event.title }}</h6>
              <p>{{ event.meta && event.meta.description ? event.meta.description : 'N/A' }}</p>
              <address>
                <i class="zmdi zmdi-pin"></i>Mars</address>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-8 col-xl-8">
      <div class="body">
        <app-calendar-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="headerChange()" (viewChange)="headerChange()">
        </app-calendar-header>
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>

          <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>

          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- Event Create Modal -->
<div class="modal fade" id="createModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="createModalLabel">New Event</h4>
      </div>
      <div class="modal-body">
        <form id="createForm" method="POST">
          <div class="form-group">
            <div class="form-line">
              <input type="text" class="form-control" name="createTitle" [(ngModel)]="createTitle" placeholder="Title" required>
            </div>
          </div>
          <div class="form-group">
            <div class="form-line">
              <input type="text" class="form-control" name="createDescription" [(ngModel)]="createDescription" placeholder="Description"
                [(ngModel)]="createDescription">
            </div>
          </div>
          <div class="input-group">
            <input type="text" class="form-control datetimepicker" id="createStart" placeholder="Event Start">
            <span class="input-group-addon">
              <i class="zmdi zmdi-calendar"></i>
            </span>
          </div>
          <div class="input-group">
            <input type="text" class="form-control datetimepicker" id="createEnd" placeholder="Event End">
            <span class="input-group-addon">
              <i class="zmdi zmdi-calendar"></i>
            </span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal" (click)="onCreate(createTitle, createDescription, start, end); this.refresh.next();">Create Event</button>
        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>

<!-- Event Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="editModalLabel">Edit Event</h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect">SAVE CHANGES</button>
        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>

<!-- Event Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="deleteModalLabel">Modal title</h4>
      </div>
      <div class="modal-body"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sodales orci ante, sed ornare eros vestibulum ut. Ut
        accumsan vitae eros sit amet Integer dapibus, mi ac tempor varius, purus nibh mattis erat, vitae porta nunc nisi
        non tellus. Vivamus mollis ante non massa egestas fringilla. Vestibulum egestas consectetur nunc at ultricies. Morbi
        quis consectetur nunc. </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-round waves-effect">SAVE CHANGES</button>
        <button type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>