<section class="page-calendar">
  <div class="row">

    <div class="col-md-12 col-lg-4 col-xl-4">
      <div class="body">
        <button type="button" class="btn btn-round btn-primary waves-effect" data-toggle="modal" data-target="#addevent">Add Events</button>
        <button class="btn btn-default hidden-lg-up m-t-0 float-right" data-toggle="collapse" data-target="#open-events" aria-expanded="false"
          aria-controls="collapseExample">
          <i class="zmdi zmdi-chevron-down"></i>
        </button>
        <div class="collapse-xs collapse-sm collapse" id="open-events">
          <hr>
          <div class="event-name b-primary row" *ngFor="let event of events; let index = index">
            <div class="col-2 text-center">
              <h4>{{ event.start.getDay() }}
                <span>{{ event.start | date:'MMM' }}</span>
                <span>{{ event.start.getFullYear() }}</span>
              </h4>
            </div>
            <div class="col-10">
              <h6>{{ event.title }}</h6>
              <p>Will we add descriptions?</p>
              <address>
                <i class="zmdi zmdi-pin"></i>Mars</address>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12 col-lg-8 col-xl-8">
      <div class="body">
        <app-calendar-header [(view)]="view" [(viewDate)]="viewDate" (viewDateChange)="headerChange()" (viewChange)="headerChange()">
        </app-calendar-header>
        <div [ngSwitch]="view">
          <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
            (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-month-view>

          <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-week-view>

          <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (dayClicked)="dayClicked($event.day)"
            (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
          </mwl-calendar-day-view>
        </div>
      </div>
    </div>

  </div>
</section>