<section class="content profile-page">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2>{{ 'ACTIVITIES.LIST.ACTIVITY' | translate }}
          <small>{{ 'ACTIVITIES.DETAIL.WELCOME_MESSAGE' | translate }}</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12">
        <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button" *ngIf="isCreator && !isBooked"
          (click)="openDialog()">
          <i class="zmdi zmdi-edit"></i>
        </button>
        <button class="btn btn-primary btn-icon btn-round hidden-sm-down float-right m-l-10" type="button" *ngIf="(isCreator || currentUser.isAdmin) && !isBooked"
          (click)="deleteActivity(activity)">
          <i class="zmdi zmdi-delete"></i>
        </button>
        <ul class="breadcrumb float-md-right">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">
              <i class="zmdi zmdi-home"></i> Dasboard</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/activities">
              <i class="zmdi zmdi-home"></i> {{ 'ACTIVITIES.LIST.ACTIVITIES' | translate }}</a>
          </li>
          <li class="breadcrumb-item active">{{activity.name}}</li>
        </ul>
      </div>
    </div>
  </div>
  <!--Activity Container -->
  <div class="container-fluid">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
        <div class="card profile-header bg-dark">
          <div class="body col-white">
            <div class="row">
              <div class="col-lg-3 col-md-4 col-12">
                <div class="profile-image float-md-right">
                  <img [src]="activity.image" alt=""> </div>
              </div>
              <div class="col-lg-9 col-md-8 col-12">
                <h4 class="m-t-0 m-b-0">{{activity.name}}</h4>
                <span class="job_post">{{ 'ACTIVITIES.LIST.ACTIVITY' | translate }}</span>
                <p>{{ 'ACTIVITIES.DETAIL.FROM' | translate }} : {{activity.fromDateTime | date:'yyyy-MM-dd HH:mm': 'locale'}}
                  {{ 'ACTIVITIES.DETAIL.TO' | translate }} : {{activity.toDateTime | date:'yyyy-MM-dd HH:mm': 'locale'}}</p>
                <div>
                  <span style="color: #ff5722; margin-right: 4px">{{ activity.price | currency: 'EGP'}}</span>
                  <button class="btn btn-primary btn-round btn-simple">{{ 'ACTIVITIES.DETAIL.COMMENT' | translate }}</button>
                  <div *ngIf="signedIn && !currentUser.isChild">
                    <button class="btn btn-primary btn-round" [disabled]="!bookingUser" (click)="bookActivity()">{{ 'ACTIVITIES.DETAIL.BOOK_FOR' | translate }}</button>
                    <select class="form-control-sm form-control btn-primary col-sm-2" [(ngModel)]="bookingUser">
                      <option *ngFor="let user of canBookFor" [ngValue]="user">{{user}}</option>
                    </select>
                  </div>
                </div>
                <p class="social-icon m-t-5 m-b-0"></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--....................-->
  <!--Activity Description-->
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="body">
        <h4>{{ 'ACTIVITIES.DETAIL.DESCRIPTION' | translate }}</h4>
        {{activity.description}}
      </div>
    </div>
    <!--...................-->
  </div>

  <div class="container-fluid mb-0">
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <ul class="cbp_tmtimeline  mt-3">
              <!--The part responsible for commenting-->
              <li *ngIf="signedIn" id="target">
                <time class="cbp_tmtime" style="width: 20%;" datetime="2017-11-04T18:30">
                  <span class="large mt-2">Now</span>
                </time>
                <div class="cbp_tmicon">
                  <img class="media-object rounded-circle" [src]="currentUser.avatar || defaultPP" alt="">
                </div>
                <div class="cbp_tmlabel empty">
                  <span>
                    <div class="form-group  w-80">
                      <input type="text" class="form-control" id="inputArea" placeholder={{somePlaceholder}} #commentInput [(ngModel)]="changingComment">
                    </div>
                  </span>
                  <div align="end">
                    <span>
                      <span *ngIf="!isReplying; else elseTemplate">
                        <button class="btn btn-raised btn-primary waves-effect btn-round col-white" (disabled)="changingComment == ''" (click)="addComment(commentInput.value)">
                          {{ 'ACTIVITIES.DETAIL.COMMENT' | translate }}
                        </button>
                      </span>
                        <ng-template #elseTemplate>
                          <button class="btn btn-raised btn-primary waves-effect btn-round col-white" (disabled)="changingComment == ''" (click)="addComment(commentInput.value)">
                            {{ 'ACTIVITIES.DETAIL.REPLY' | translate }}
                          </button>
                        </ng-template>
                      <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary" data-toggle="tooltip" data-placement="bottom"
                        title="Cancel" (click)="cancelReplying()">
                        <i class="zmdi zmdi-close zmdi-hc-lg"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </li>
              <!--.....................-->
              <!--The Part responsible for comments-->
              <li *ngFor="let comment of activity.discussion; let i = index">
                <time style="width: 20%;" class="cbp_tmtime" datetime="2017-11-04T03:45">
                  <span class="mt-2">{{comment.createdAt*1000 | date:'MM/dd/yyyy HH:mm': 'locale'}}</span>
                </time>
                <div class="cbp_tmicon">
                  <img class="media-object rounded-circle" *ngIf="comment.creatorInfo" [src]="comment.creatorInfo.avatar || defaultPP">
                  <i class="zmdi zmdi-label"></i>
                </div>
                <div class="cbp_tmlabel">
                  <div class="row">
                    <div class="col-md-6 ">
                      <div class="inner-content">
                        <h2>
                          <a href="profile/{{comment.creator}}">{{comment.creator}}</a>
                        </h2>
                      </div>
                    </div>
                    <div class="col-md-6" align="end">
                      <div class="inner-content">
                        <span>
                          <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary" *ngIf="comment.replies.length > 0" (click)="showReply(i)"
                            data-toggle="tooltip" data-placement="bottom" title={{(viewedReplies[i])?hideReplies:showReplies}}>
                            <i *ngIf="!viewedReplies[i]" class="zmdi zmdi-triangle-down"></i>
                            <i *ngIf="viewedReplies[i]" class="zmdi zmdi-triangle-up"></i>

                          </button>
                          <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary" (click)="onReply(comment._id)" data-toggle="tooltip"
                            data-placement="bottom" title="Reply">
                            <i class="zmdi zmdi-mail-reply"></i>
                          </button>
                          <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger" *ngIf="(comment.creator === currentUser.username || currentUser.isAdmin || currentUser.username === activity.creator )"
                            (click)="onDelete(comment._id)" data-toggle="tooltip" data-placement="bottom" title="Delete Comment">
                            <i class="zmdi zmdi-delete "></i>
                          </button>
                        </span>
                      </div>
                    </div>
                    <div class="text-muted ml-4">
                      <p>{{comment.text}} </p>
                    </div>
                  </div>
                  <!--the part responsible for replies-->
                  <div *ngIf="viewedReplies[i]" style="margin-left: 10%">
                    <div *ngFor="let reply of comment.replies; let j = index">
                      <div class="row">
                          <div class="cbp_tmicon bg-info profile-image float-xs-left">
                            <img class="media-object rounded-circle" *ngIf="comment.creatorInfo" [src]="comment.creatorInfo.avatar || defaultPP">
                        </div>
                        <div class="col-md-6">
                          <h2>
                            <a href="profile/{{comment.creator}}">{{reply.creator}}</a>
                          </h2>
                        </div>
                        <div class="col-md-6" align="end">
                          <small>
                            <span>
                              <button type="button" class="btn btn-icon btn-round btn-danger btn-xs" *ngIf="reply.creator === currentUser.username || comment.creator === currentUser.username || currentUser.isAdmin || currentUser.username === content.creator"
                                (click)="onDeleteReply(comment._id,reply._id)" data-toggle="tooltip" data-placement="bottom"
                                title="Delete Reply">
                                <i class="zmdi zmdi-delete"></i>
                              </button>
                            </span>
                          </small>
                        </div>
                      </div>
                      <p class="ml-4 text-muted">{{reply.text}}</p>
                      <div *ngIf=" j != comment.replies.length-1">
                        <hr />
                      </div>
                    </div>
                  </div>
                  <!--................................-->
                </div>
                <div>

                </div>
              </li>
              <!--....................................-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--<div class="container">-->
<!--<div class="comment-container">-->
<!--<h1> Comments :</h1>-->
<!--&lt;!&ndash;<mat-list-item *ngIf="signedIn" role="list" id="target">&ndash;&gt;-->
<!--&lt;!&ndash;<mat-card >&ndash;&gt;-->
<!--&lt;!&ndash;<mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;<div mat-card-avatar class="example-header-image"></div>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-card-title style="font-weight: bold"> {{currentUser.username}} </mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;<mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<mat-form-field class="example-container">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<textarea matInput id="input" placeholder={{somePlaceholder}} onkeydown="enterPressed()" #commentInput [(ngModel)]="changingComment"></textarea>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;</mat-form-field>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;<mat-card-actions class="row" align="end">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<button mat-button id="commentBtn" (click)="addComment(commentInput.value)" [disabled]="changingComment == ''"> {{( !isReplying)?"Comment":"reply"}}</button>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;&lt;!&ndash;<button mat-button *ngIf="isReplying" id="cancelBtn" (click)="cancelReplying()"> Cancel</button>&ndash;&gt;&ndash;&gt;&ndash;&gt;-->

<!--&lt;!&ndash;&lt;!&ndash;</mat-card-actions>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;</mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-list-item>&ndash;&gt;-->

<!--<mat-list-item role="list" *ngFor="let comment of activity.discussion; let i = index">-->
<!--<mat-card>-->
<!--<div class="mat-card-header">-->
<!--<div style="width: 48%; margin: auto;">-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar (click)="redirectToProfile(comment.creator)" class="example-header-image"></div>-->
<!--<mat-card-title style="font-weight: bold; font-size: 1.17em;">{{comment.creator}}</mat-card-title>-->
<!--<mat-card-subtitle style="font-weight: bold">{{comment.text}}</mat-card-subtitle>-->
<!--</mat-card-header>-->
<!--</div>-->
<!--<div style="width:52%" align="end">-->
<!--<mat-card-actions>-->
<!--<button mat-icon-button class="col-auto" *ngIf="signedIn && ( comment.creator === currentUser.username || currentUser.isAdmin || currentUser.username === activity.creator )" (click)="onDelete(comment._id)" matTooltip="delete">-->
<!--<mat-icon>delete</mat-icon>-->
<!--</button>-->
<!--<button mat-icon-button class="col-auto" *ngIf="comment.replies.length > 0" (click)="showReply(i)" matTooltip={{(viewedReplies[i])?hideReplies:showReplies}}>-->
<!--<mat-icon>{{(viewedReplies[i])?"arrow_drop_up":"arrow_drop_down"}}</mat-icon>-->
<!--</button>-->
<!--<button mat-icon-button class="col-auto" (click)="onReply(comment._id)" matTooltip="Reply">-->
<!--<mat-icon>reply</mat-icon>-->
<!--</button>-->
<!--</mat-card-actions>-->
<!--</div>-->
<!--</div>-->


<!--<mat-list *ngIf="viewedReplies[i]" style="margin-left: 10%">-->
<!--<mat-list-item *ngFor="let reply of comment.replies; let j = index">-->




<!--<div style="width: 44px">-->
<!--<mat-icon mat-card-avatar class="example-header-image"></mat-icon>-->
<!--</div>-->
<!--<div align="start" style="width:80.7%">-->
<!--<h3 mat-line style="font-weight: bold; margin-left: 2%; margin-bottom: 0px;">{{reply.creator}}</h3>-->
<!--<p mat-line style="font-weight: bold; margin-left: 2%; margin-bottom: 0px; color: rgb(129, 129, 129)">{{reply.text}}</p>-->
<!--</div>-->
<!--<button mat-icon-button style="width:7%" align="end" *ngIf="reply.creator === currentUser.username || comment.creator === currentUser.username || currentUser.isAdmin || currentUser.username === activity.creator" (click)="onDeleteReply(comment._id,reply._id)" matTooltip="delete">-->
<!--<mat-icon>delete</mat-icon>-->
<!--</button>-->

<!--<mat-divider *ngIf="j!=comment.replies.length-1"></mat-divider>-->

<!--</mat-list-item>-->
<!--</mat-list>-->
<!--</mat-card>-->
<!--</mat-list-item>-->
<!--</div>-->
<!--</div>-->




<!--</mat-card>-->
<!--<div class="container">-->
<!--<div class="comment-container">-->
<!--<h1> Comments :</h1>-->
<!--<mat-list-item role="list" id="target">-->
<!--<mat-card *ngIf="currentUser">-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title style="font-weight: bold"> {{currentUser.username}} </mat-card-title>-->
<!--</mat-card-header>-->
<!--<mat-card-content>-->
<!--<mat-form-field class="example-container">-->
<!--<textarea matInput id="input" placeholder={{somePlaceholder}} #commentInput [(ngModel)]="changingComment"></textarea>-->
<!--</mat-form-field>-->
<!--</mat-card-content>-->
<!--<mat-card-actions class="row" align="end">-->
<!--<button mat-button id="commentBtn" (click)="addComment(commentInput.value)" [disabled]="changingComment == ''"> Comment</button>-->
<!--</mat-card-actions>-->
<!--</mat-card>-->
<!--</mat-list-item>-->

<!--<mat-list-item role="list" *ngFor="let comment of activity.discussion; let i = index">-->
<!--<mat-card>-->
<!--<div class="mat-card-header">-->
<!--<div style="width: 48%; margin: auto;">-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title style="font-weight: bold; font-size: 1.17em;">{{comment.creator}}</mat-card-title>-->
<!--<mat-card-subtitle style="font-weight: bold">{{comment.text}}</mat-card-subtitle>-->
<!--</mat-card-header>-->
<!--</div>-->
<!--<div style="width:52%" align="end">-->
<!--<mat-card-actions>-->
<!--<button mat-icon-button class="col-auto" (click)="onDelete(comment._id)" matTooltip="delete">-->
<!--<mat-icon>delete</mat-icon>-->
<!--</button>-->
<!--<button mat-icon-button class="col-auto" *ngIf="comment.replies.length > 0" (click)="showReply(i)" matTooltip={{(viewedReplies[i])?hideReplies:showReplies}}>-->
<!--<mat-icon>{{(viewedReplies[i])?"arrow_drop_up":"arrow_drop_down"}}</mat-icon>-->
<!--</button>-->
<!--<button mat-icon-button class="col-auto" (click)="onReply(comment._id)" matTooltip="Reply">-->
<!--<mat-icon>reply</mat-icon>-->
<!--</button>-->
<!--</mat-card-actions>-->
<!--</div>-->
<!--</div>-->


<!--<mat-list *ngIf="viewedReplies[i]" style="margin-left: 10%">-->
<!--<mat-list-item *ngFor="let reply of comment.replies; let j = index">-->




<!--<div style="width:7%">-->
<!--<mat-icon mat-card-avatar class="example-header-image"></mat-icon>-->
<!--</div>-->
<!--<div align="start" style="width:100%">-->
<!--<h3 mat-line style="font-weight: bold; margin-left: 2%; margin-bottom: 0px;">{{reply.creator}}</h3>-->
<!--<p mat-line style="font-weight: bold; margin-left: 2%; margin-bottom: 0px; color: rgb(129, 129, 129)">{{reply.text}}</p>-->
<!--</div>-->
<!--<button mat-icon-button style="width:7%" align="end" (click)="onDeleteReply(comment._id,reply._id)" matTooltip="delete">-->
<!--<mat-icon>delete</mat-icon>-->
<!--</button>-->

<!--<mat-divider *ngIf="j!=comment.replies.length-1"></mat-divider>-->
<!--</mat-list-item>-->
<!--</mat-list>-->
<!--</mat-card>-->
<!--</mat-list-item>-->
<!--</div>-->
<!--</div>-->


<!--<div class = "container">-->
<!--<div class="comment-container">-->
<!--<h1> Comments : </h1>-->
<!--<mat-list-item role ="list" id="target">-->
<!--<mat-card *ngIf= "currentUser">-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title style="font-weight: bold"> {{currentUser.username}}  </mat-card-title>-->
<!--</mat-card-header>-->
<!--<mat-card-content >-->
<!--<mat-form-field class="example-container" >-->
<!--<textarea  matInput placeholder={{somePlaceholder}} #commentInput [(ngModel)]="changingComment" ></textarea>-->
<!--</mat-form-field>-->
<!--</mat-card-content>-->
<!--<mat-card-actions class = "row" align = "end">-->
<!--<button mat-button (click)="addComment(commentInput.value)"  [disabled]="changingComment == ''"> Comment</button>-->
<!--</mat-card-actions>-->
<!--</mat-card>-->
<!--<mat-divider></mat-divider>-->
<!--</mat-list-item>-->
<!--&lt;!&ndash;*ngIf="comment.replies.  > 0"&ndash;&gt;-->
<!--<mat-list-item role = "list" *ngFor= "let comment of comments">-->
<!--<mat-card>-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title  style="font-weight: bold" >{{comment.creator.username}}</mat-card-title>-->
<!--<mat-card-subtitle style="font-weight: normal" >{{comment.text}}</mat-card-subtitle>-->
<!--<mat-card-actions   align="end">-->
<!--<button mat-button (click)="onReply()"> Reply </button>-->
<!--</mat-card-actions>-->
<!--</mat-card-header>-->
<!--<mat-card-content  style="margin-left: 10%">-->
<!--<mat-list-item role = "list" *ngFor="let reply of comment.replies">-->
<!--<mat-card style="margin-top:0.5%">-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title   style="font-weight: bold" >{{reply.creator}}</mat-card-title>-->
<!--<mat-card-subtitle style="font-weight: normal" >{{reply.text}}</mat-card-subtitle>-->
<!--</mat-card-header>-->
<!--</mat-card>-->
<!--</mat-list-item>-->
<!--</mat-card-content>-->
<!--</mat-card>-->

<!--<mat-divider></mat-divider>-->
<!--</mat-list-item>-->
<!--</div>-->
<!--</div>-->






<!--<div class = "container">-->
<!--<div class="comment-container">-->

<!--<mat-list-item role ="list">-->
<!--<mat-card>-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title style="font-weight: bold"  >{{user.username}}  </mat-card-title>-->
<!--</mat-card-header>-->
<!--<mat-card-content>-->
<!--<mat-form-field class="example-container" >-->
<!--<textarea matInput #commentInput [(ngModel)]="changingComment" placeholder="Leave a comment" ></textarea>-->
<!--</mat-form-field>-->
<!--</mat-card-content>-->
<!--<mat-card-actions class = "row" align = "end" >-->
<!--<button mat-button [disabled]="changingComment == ''" (click)="addComment();" >Comment</button>-->
<!--</mat-card-actions>-->
<!--</mat-card>-->


<!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
<!--</mat-list-item>-->
<!--<mat-list-item role = "list" *ngFor= "let comment of comments">-->
<!--<mat-card>-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title>{{comment.creator}}</mat-card-title>-->
<!--<mat-card-subtitle>{{comment.text}}</mat-card-subtitle>-->
<!--</mat-card-header>-->
<!--</mat-card>-->

<!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
<!--</mat-list-item>-->
<!--</div>-->
<!--</div>-->



<!--<div class = "container">-->
<!--<div class="comment-container">-->
<!--<h1> Comments : </h1>-->
<!--<mat-list-item role ="list" id="target">-->
<!--<mat-card *ngIf= "currentUser">-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title style="font-weight: bold"> {{currentUser.username}}  </mat-card-title>-->
<!--</mat-card-header>-->
<!--<mat-card-content >-->
<!--<mat-form-field class="example-container" >-->
<!--<textarea  matInput placeholder={{somePlaceholder}} #commentInput [(ngModel)]="changingComment" ></textarea>-->
<!--</mat-form-field>-->
<!--</mat-card-content>-->
<!--<mat-card-actions class = "row" align = "end">-->
<!--<button mat-button (click)="addComment(commentInput.value)"  [disabled]="changingComment == ''"> Comment</button>-->
<!--</mat-card-actions>-->
<!--</mat-card>-->
<!--<mat-divider></mat-divider>-->
<!--</mat-list-item>-->
<!--&lt;!&ndash;*ngIf="comment.replies.  > 0"&ndash;&gt;-->
<!--<mat-list-item role = "list" *ngFor= "let comment of comments">-->
<!--<mat-card>-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title  style="font-weight: bold" >{{comment.creator.username}}</mat-card-title>-->
<!--<mat-card-subtitle style="font-weight: normal" >{{comment.text}}</mat-card-subtitle>-->
<!--<mat-card-actions   align="end">-->
<!--<button mat-button (click)="onReply()"> Reply </button>-->
<!--</mat-card-actions>-->
<!--</mat-card-header>-->
<!--<mat-card-content  style="margin-left: 10%">-->
<!--<mat-list-item role = "list" *ngFor="let reply of comment.replies">-->
<!--<mat-card style="margin-top:0.5%">-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title   style="font-weight: bold" >{{reply.creator}}</mat-card-title>-->
<!--<mat-card-subtitle style="font-weight: normal" >{{reply.text}}</mat-card-subtitle>-->
<!--</mat-card-header>-->
<!--</mat-card>-->
<!--</mat-list-item>-->
<!--</mat-card-content>-->
<!--</mat-card>-->

<!--<mat-divider></mat-divider>-->
<!--</mat-list-item>-->
<!--</div>-->
<!--</div>-->






<!--<div class = "container">-->
<!--<div class="comment-container">-->

<!--<mat-list-item role ="list">-->
<!--<mat-card>-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title style="font-weight: bold"  >{{user.username}}  </mat-card-title>-->
<!--</mat-card-header>-->
<!--<mat-card-content>-->
<!--<mat-form-field class="example-container" >-->
<!--<textarea matInput #commentInput [(ngModel)]="changingComment" placeholder="Leave a comment" ></textarea>-->
<!--</mat-form-field>-->
<!--</mat-card-content>-->
<!--<mat-card-actions class = "row" align = "end" >-->
<!--<button mat-button [disabled]="changingComment == ''" (click)="addComment();" >Comment</button>-->
<!--</mat-card-actions>-->
<!--</mat-card>-->


<!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
<!--</mat-list-item>-->
<!--<mat-list-item role = "list" *ngFor= "let comment of comments">-->
<!--<mat-card>-->
<!--<mat-card-header>-->
<!--<div mat-card-avatar class="example-header-image"></div>-->
<!--<mat-card-title>{{comment.creator}}</mat-card-title>-->
<!--<mat-card-subtitle>{{comment.text}}</mat-card-subtitle>-->
<!--</mat-card-header>-->
<!--</mat-card>-->

<!--&lt;!&ndash;<mat-divider></mat-divider>&ndash;&gt;-->
<!--</mat-list-item>-->
<!--</div>-->
<!--</div>-->
