<section class="content profile-page">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <div class="block-header">
    <div class="row">
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h2 [style.text-align]="translate.currentLang === 'ara'? 'right': 'left'">{{ 'ACTIVITIES.LIST.ACTIVITY' | translate }}
          <small>{{ 'ACTIVITIES.DETAIL.WELCOME_MESSAGE' | translate }}</small>
        </h2>
      </div>
      <div class="col-lg-5 col-md-6 col-sm-12" >
         <div [class]="translate.currentLang === 'ara'? 'float-md-left':'float-md-right'">  
            <button  [style]="translate.currentLang === 'ara'? 'margin-right:20px':null" class="btn btn-primary btn-icon btn-round hidden-sm-down  m-l-10" type="button" *ngIf="isCreator && !isBooked "
            (click)="openDialog()">
            <i class="zmdi zmdi-edit"></i>
          </button>
          <button class="btn btn-primary btn-icon btn-round hidden-sm-down  m-l-10" type="button" *ngIf="(isCreator || currentUser.isAdmin) && !isBooked" 
            (click)="deleteActivity(activity)">
            <i class="zmdi zmdi-delete"></i>
          </button>
        </div>
        <ul [class]="translate.currentLang === 'ara'? 'breadcrumb float-md-left':'breadcrumb float-md-right'" >
    
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">
              <i class="zmdi zmdi-home"></i> {{'APP.NAWWAR' | translate}}</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/activities">
              <i class="zmdi zmdi-home"></i> {{ 'ACTIVITIES.LIST.ACTIVITIES' | translate }}</a>
          </li>
          <li class="breadcrumb-item active">{{ 'ACTIVITIES.DETAIL.DETAILS' | translate }}</li>
 
        </ul>
  
      </div>
    </div>
  </div>
  <!--Activity Container -->
  <div class="container-fluid" [style.text-align]="translate.currentLang === 'ara'? 'right': 'left'"
  >    
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12">
      
        <div class="card profile-header " >
    
          <div class="body ">
              <div class="col-lg-18 col-md-18 col-72 ">
                  
                  <div >
                      <a class=" m-l-10" *ngIf="isCreator && !isBooked"  href="#defaultModal" data-toggle="modal" data-target="#defaultModal" title="Change picture">
                          <i class="zmdi zmdi-edit zmdi-hc-2x" ></i>
                        </a>
                      <img style="  margin-left:15px;margin-right:15px;width: 1000px; height: 450px;" [src]="activity.image" alt=""> </div>
                      <div [align]="translate.currentLang === 'ara'? 'left':'right'">
                   
                      </div>
                </div>
                <div class="col-lg-12 col-md-12">
                  <div></div>
                </div>
            <div class="row">
        
              <div class="col-lg-9 col-md-8 col-12">
                  <h4  ></h4>
                <h4 class="m-t-0 m-b-0" style="margin-left:30px;margin-right:30px">{{activity.name}}</h4>
                <p></p>
              
                <div style="margin-left:30px;margin-right:30px;" >
                    <p>{{ 'ACTIVITIES.DETAIL.FROM' | translate }} : {{activity.fromDateTime | date:'yyyy-MM-dd HH:mm': 'locale'}}
                        {{ 'ACTIVITIES.DETAIL.TO' | translate }} : {{activity.toDateTime | date:'yyyy-MM-dd HH:mm': 'locale'}}</p>  
                  <span   style="color: #ff5722; margin-left: 4px">{{ activity.price | currency: 'EGP '}}
                      <h4></h4>
                      <div  style="margin-left: 4px"class ="row" *ngIf="signedIn && !currentUser.isChild" [align]="translate.currentLang === 'ara'? 'right':'left'">
                          <button class="btn btn-primary btn-round" [disabled]=currentUser.booked  (click)="bookActivity(currentUser.username)">{{ 'ACTIVITIES.DETAIL.BOOK' | translate }}  <i *ngIf="currentUser.booked" class="zmdi zmdi-check"></i></button>
                          <span class="dropdown">
                          <button  *ngIf=!isEmpty style="margin-left: 30px;margin-right:30px" class="btn btn-primary btn-round" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false" (click)="bookActivity()">{{ 'ACTIVITIES.DETAIL.BOOK_FOR' | translate }}<span class="caret"></span></button>
                       <!--select class="form-control-sm form-control btn-primary col-sm-2" [(ngModel)]="bookingUser" >
                           <option  *ngFor="let user of canBookFor">{{user}}</option>
                          </select-->
               
                          <ul  class="dropdown-menu pullDown" >
                              <li *ngFor="let user of canBookFor" (click)="bookActivity(user)">
                                <a  >{{user}} </a>
                              </li>
                            </ul>
                          </span>
                        </div>
                  </span>
                
                  
                
                </div>
                <p class="social-icon m-t-5 m-b-0"></p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--....................-->
  <!--Activity Description-->
  <div class="col-lg-12 col-md-12" >
    <div class="card" [style.text-align]="translate.currentLang === 'ara'? 'right': null">
      <div class="body" style="margin-left:30px;margin-right:30px;">
        <h4>{{ 'ACTIVITIES.DETAIL.DESCRIPTION' | translate }}</h4>
        {{activity.description}}
      </div>
    </div>
    <!--...................-->
  </div>

  <div class="container-fluid mb-0" dir="ltr"  [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null">
    <div class="row clearfix">
      <div class="col-lg-12">
        <div class="card">
          <div class="body">
            <ul class="cbp_tmtimeline  mt-3">
              <!--The part responsible for commenting-->
              <li *ngIf="signedIn" id="target">
                <time [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="cbp_tmtime" style="width: 20%;" datetime="2017-11-04T18:30">
                  <span class="large mt-2">{{ 'ACTIVITIES.DETAIL.NOW' | translate }}</span>
                </time>
                <div class="cbp_tmicon bg-white">
                  <img [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="media-object rounded-circle" [src]="currentUser.avatar || defaultPP" alt="">
                </div>
                <div class="cbp_tmlabel empty">
                  <span>
                    <div  [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null"  class="form-group  w-80">
                      <input  [style.text-align]="translate.currentLang === 'ara'? 'right': null" type="text" class="form-control" id="inputArea" placeholder={{somePlaceholder}} #commentInput [(ngModel)]="changingComment">
                    </div>
                  </span>
                  <div align="end">
                    <span>
                      <span *ngIf="!isReplying; else elseTemplate">
                        <button [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="btn btn-raised btn-primary waves-effect btn-round col-white" (disabled)="changingComment == ''" (click)="addComment(commentInput.value)">
                          {{ 'ACTIVITIES.DETAIL.COMMENT' | translate }}
                        </button>
                      </span>
                        <ng-template #elseTemplate>
                          <button [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="btn btn-raised btn-primary waves-effect btn-round col-white" (disabled)="changingComment == ''" (click)="addComment(commentInput.value)">
                            {{ 'ACTIVITIES.DETAIL.REPLY' | translate }}
                          </button>
                        </ng-template>
                      <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary" data-toggle="tooltip" data-placement="bottom"
                        title="Cancel" (click)="cancelReplying()">
                        <i class="zmdi zmdi-close zmdi-hc-lg"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </li>
              <!--.....................-->
              <!--The Part responsible for comments-->
              <li *ngFor="let comment of activity.discussion; let i = index">
                <time style="width: 20%;" class="cbp_tmtime" datetime="2017-11-04T03:45">
                  <span  [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="mt-2">{{comment.createdAt*1000 | date:'MM/dd/yyyy HH:mm': 'locale'}}</span>
                </time>
                <div class="cbp_tmicon bg-white">
                  <img [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="media-object bg-white rounded-circle" *ngIf="comment.creatorInfo" [src]="comment.creatorInfo.avatar || defaultPP">
                  <i class="zmdi zmdi-label"></i>
                </div>
                <div class="cbp_tmlabel">
                  <div class="row">
                    <div class="col-md-6 ">
                      <div class="inner-content" [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" [style.text-align]="translate.currentLang === 'ara'? 'right': null">
                        <h2>
                          <a routerLink="profile/{{comment.creator}}">{{comment.creator}}</a>
                        </h2>
                      </div>
                    </div>
                    <div class="col-md-6" align="end">
                      <div class="inner-content">
                        <span>
                          <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary" *ngIf="comment.replies.length > 0" (click)="showReply(i)"
                            data-toggle="tooltip" data-placement="bottom" title={{(viewedReplies[i])?hideReplies:showReplies}}>
                            <i *ngIf="!viewedReplies[i]" class="zmdi zmdi-triangle-down"></i>
                            <i *ngIf="viewedReplies[i]" class="zmdi zmdi-triangle-up"></i>

                          </button>
                          <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-primary" (click)="onReply(comment._id)" data-toggle="tooltip"
                            data-placement="bottom" title="Reply">
                            <i class="zmdi zmdi-mail-reply"></i>
                          </button>
                          <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger" *ngIf="(comment.creator === currentUser.username || currentUser.isAdmin || currentUser.username === activity.creator )"
                            (click)="onDelete(comment._id)" data-toggle="tooltip" data-placement="bottom" title="Delete Comment">
                            <i class="zmdi zmdi-delete "></i>
                          </button>
                        </span>
                      </div>
                    </div>
                    <div [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" [style.text-align]="translate.currentLang === 'ara'? 'right': null" class="text-muted ml-4">
                      <p>{{comment.text}} </p>
                    </div>
                  </div>
                  <!--the part responsible for replies-->
                  <br/>
                  <div>
                  <div class="mail_list list-group list-unstyled" *ngIf="viewedReplies[i]" style="margin-left: 10%">
                    <div style="padding-left: 0px; margin-left: 0px;" *ngFor="let reply of comment.replies; let j = index">
                      <!--<div class="row">-->

                        <div class="col-md-12 row">

                          <div style="width: 35px; height: 35px;">
                            <img  [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" style="width: 100%; height: 100%" class="rounded-circle" *ngIf="reply.creatorInfo" [src]="reply.creatorInfo.avatar || defaultPP">
                          </div>
                          <div class="ml-3 mr-auto">
                            <h2 [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" [style.text-align]="translate.currentLang === 'ara'? 'right': null"><a routerLink="profile/{{reply.creator}}">{{reply.creator}}</a></h2>
                          </div>
                          <div>
                            <button type="button" class="btn btn-icon btn-round btn-danger btn-xs" *ngIf="reply.creator === currentUser.username || comment.creator === currentUser.username || currentUser.isAdmin || currentUser.username === content.creator"
                                  (click)="onDeleteReply(comment._id,reply._id)" data-toggle="tooltip" data-placement="bottom"
                                  title="Delete Reply">
                              <i class="zmdi zmdi-delete"></i>
                            </button>
                          </div>
                        </div>
                      <p [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" [style.text-align]="translate.currentLang === 'ara'? 'right': null" style = "float: right" class="ml-3 text-muted" style="margin-left: 10% !important;">{{reply.text}}</p>

                      <div *ngIf=" j != comment.replies.length-1">
                        <hr />
                      </div>
                    </div>
                  </div>
                  </div>
                  <!--................................-->
                </div>
                <div>

                </div>
              </li>
              <!--....................................-->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="title" id="defaultModalLabel">{{ 'ACTIVITIES.EDIT.ACTIVITY_IMAGE' | translate }}</h4>
        </div>
        <div class="modal-body">
          <app-image-uploader (ImageUploaded)="uploaded($event)"></app-image-uploader>
          <button id="closeModal" type="button" class="btn btn-danger btn-simple btn-round waves-effect" data-dismiss="modal" style="float:right">{{ 'ACTIVITIES.EDIT.CANCEL' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</section>
