<mat-card class="activity-create">
  <form class="activity-form">
    <mat-form-field>
      <input matInput required placeholder="name">
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="description"></textarea>
    </mat-form-field>

    <mat-form-field>
      <input matInput required type="integer" placeholder="price">
    </mat-form-field>

    <mat-form-field>
      <input matInput required type="datetime-local" placeholder="from">
    </mat-form-field>
    <mat-form-field>
      <input matInput required type="datetime-local" placeholder="to">
    </mat-form-field>
  </form>
</mat-card>