
<h1 mat-dialog-title style="font-size: 35px; font-weight: bold">Edite info</h1>
<form (ngSubmit)="editPsychologists()" #editePsychologists="ngForm">
  <!-- <mat-card style="float:left;width:460px;height:430px"> -->
      <mat-card class="psych" style="top:20px">
    <mat-form-field>
        <span style="font-weight: bold">firstName:</span>
        <span>{{psychologist.firstName}}</span>
        <input matInput placeholder="firstName" name="firstName" id="firstName" [(ngModel)]="formInput.firstName">
    </mat-form-field>

    <mat-form-field>
        <span style="font-weight: bold">lastName:</span>
        <span>{{psychologist.lastName}}</span>
      <input matInput placeholder="lastName" name="lastName" id="lastName"  [(ngModel)]="formInput.lastName">
    </mat-form-field>
    
    <mat-form-field>
        <span style="font-weight: bold">phone:</span>
        <span>{{psychologist.phone}}</span>
        <input matInput placeholder="phone" name="phone" id="phone"  [(ngModel)]="formInput.phone">
      </mat-form-field>

      <mat-form-field>
          <span style="font-weight: bold">address:</span>
        <span>{{psychologist.address}}</span>
          <input matInput placeholder="address" name="address" id="address"  [(ngModel)]="formInput.address">
        </mat-form-field>

        <mat-form-field>
            <span style="font-weight: bold">email:</span>
        <span>{{psychologist.email}}</span>
            <input matInput placeholder="email" name="email" id="email"  [(ngModel)]="formInput.email">
          </mat-form-field>

          <!-- <li>
              <span style="font-weight: bold">Days off:</span>
              <div class="chips">
              <mat-chip-list>
                <mat-chip *ngFor="let day of psych.daysOff" style="background: #DA572B;color:white;">{{day}}</mat-chip>
              </mat-chip-list>
            </div>
            </li> -->

          <mat-form-field>
              <span style="font-weight: bold">daysOff:</span>
              <span>{{psychologist.daysOff}}</span>
              <input matInput placeholder="daysOff" name="daysOff" id="daysOff" 
              [(ngModel)]="formInput.daysOff">
            </mat-form-field>

            <mat-form-field>
                <span style="font-weight: bold">priceRange:</span>
                <span>{{psychologist.priceRange}}</span>
                <input matInput placeholder="priceRange" name="priceRange" id="priceRange"  [(ngModel)]="formInput.priceRange">
              </mat-form-field>

    <mat-card-actions>
      <button mat-button style="margin-top:30px;float:right;width:50%;background:#3f51b5; color:white">Edit</button>
    </mat-card-actions>






  </mat-card>
</form>