
<h1 mat-dialog-title style="font-size: 35px; font-weight: bold">Edite info</h1>
<form (ngSubmit)="editePsychologists" #createproduct="ngForm">
  <!-- <mat-card style="float:left;width:460px;height:430px"> -->
      <mat-card class="psych" *ngFor="let psych of psychologists; let i = index" style="top:20px">
    <mat-form-field>
        <!-- <input matInput placeholder="Product's name" name="name" id="name" hintLabel="Prdouct's name " [(ngModel)]="formInput.name"> -->
        <span style="font-weight: bold">firstName:</span>
        <span>{{psych.firstName}}</span>
        <input matInput placeholder="firstName" name="firstName" id="firstName" [(ngModel)]="formInput.name">
    </mat-form-field>

    <mat-form-field>
        <span style="font-weight: bold">lastName:</span>
        <span>{{psych.lastName}}</span>
      <input matInput placeholder="lastName" name="lastName" id="lastName"  [(ngModel)]="formInput.name">
    </mat-form-field>
    
    <mat-form-field>
        <span style="font-weight: bold">phone:</span>
        <span>{{psych.phone}}</span>
        <input matInput placeholder="phone" name="phone" id="phone"  [(ngModel)]="formInput.name">
      </mat-form-field>

      <mat-form-field>
          <span style="font-weight: bold">address:</span>
        <span>{{psych.address}}</span>
          <input matInput placeholder="address" name="address" id="address"  [(ngModel)]="formInput.name">
        </mat-form-field>

        <mat-form-field>
            <span style="font-weight: bold">email:</span>
        <span>{{psych.email}}</span>
            <input matInput placeholder="email" name="email" id="email"  [(ngModel)]="formInput.name">
          </mat-form-field>

          <!-- <li>
              <span style="font-weight: bold">Days off:</span>
              <div class="chips">
              <mat-chip-list>
                <mat-chip *ngFor="let day of psych.daysOff" style="background: #DA572B;color:white;">{{day}}</mat-chip>
              </mat-chip-list>
            </div>
            </li> -->

          <mat-form-field>
              <span style="font-weight: bold">daysOff:</span>
              <span>{{psych.daysOff}}</span>
              <input matInput placeholder="daysOff" name="daysOff" id="daysOff" 
              [(ngModel)]="formInput.name">
            </mat-form-field>

            <mat-form-field>
                <span style="font-weight: bold">priceRange:</span>
                <span>{{psych.priceRange}}</span>
                <input matInput placeholder="priceRange" name="priceRange" id="priceRange"  [(ngModel)]="formInput.name">
              </mat-form-field>

    <mat-card-actions>
      <button mat-button style="margin-top:30px;float:right;width:50%;background:#3f51b5; color:white">Edite</button>
    </mat-card-actions>






  </mat-card>
</form>