<section class="content">
  <div class=" authentication sidebar-collapse">
    <div class="container">
      <div class="col-md-12 content-center">
        <div class="card-plain" style="color: white;">
          <div class="header" style="text-align-last: center;">
            <div class="logo-container expandUp">
              <img src="assets/images/logo.svg" alt="">
            </div>
            <h5>{{ 'AUTH.RESET_PASSWORD.RESET_PASSWORD' | translate }}</h5>
            <h5>
              <a class="link" routerLink="/auth/sign-in">{{ 'AUTH.RESET_PASSWORD.SIGN_IN' | translate }}</a>
            </h5>
            <span class="text-muted">{{ 'AUTH.RESET_PASSWORD.PROMPT' | translate }}</span>
          </div>
          <div class="content">
            <div class="input-group input-lg">
              <input #Newpw type="password" [(ngModel)]="pws.newpw" class="form-control" placeholder="{{ 'AUTH.RESET_PASSWORD.ENTER_NEW_PASSWORD_PLACEHOLDER' | translate }}">
              <span class="input-group-addon">
                <i class="zmdi zmdi-lock"></i>
              </span>
            </div>
            <div class="input-group input-lg">
              <input #Confirmpw type="password" [(ngModel)]="pws.confirmpw" class="form-control" placeholder="{{ 'AUTH.RESET_PASSWORD.ENTER_NEW_PASSWORD_CONFIRM_PLACEHOLDER' | translate }}">
              <span class="input-group-addon">
                <i class="zmdi zmdi-lock"></i>
              </span>
            </div>
          </div>
          <div class="footer">
            <button class="btn btn-primary btn-round btn-lg btn-block waves-effect waves-light" (click)="reset({newpw: Newpw.value, confirmpw: Confirmpw.value})">{{ 'AUTH.RESET_PASSWORD.RESET_BUTTON' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>