
<div flex style="height: -webkit-calc(100% - 76px)">
    <div ng-view flex layout-fill style="height: 100%">
<div *ngIf= "card1" [@slideInOut]>
    
  <mat-card>
          <mat-card-content>To reset your password, kindly provide your email address! </mat-card-content>
          <mat-placeholder>Your email: </mat-placeholder> <br>
          <input matInput #mail name="email" [(ngModel)]="email"   required/>
          <button mat-button class="center" color="primary" (click)="proceed(mail.value)">PROCEED </button>
  </mat-card>

</div>
<div *ngIf= "card2" [@slideInOut]>
  <mat-card>
      <mat-card-content> A verification email was sent to your email address, all you have to do is click the link sent your email!</mat-card-content>
        <mat-card-content> If the email was not sent, click on the button below!</mat-card-content>
          <button mat-button class="center" color="primary" (click)="goback()">RESEND</button>
          <mat-card-content> If you've recived the email, proceed!</mat-card-content>
          <button mat-button class="center" color="primary" (click)="gotocode()">proceed</button>


  </mat-card>
</div>
<div *ngIf= "card3" [@slideInOut]>
    <mat-card>
        <mat-card-content>Type in the code provided in your email!</mat-card-content>
        <mat-placeholder>CODE: </mat-placeholder> <br>
        <input matInput #cod name="code" [(ngModel)]="codes.code2"   required/>
        <mat-card-content> If the email was not sent, click on the button below!</mat-card-content> 
          <button mat-button class="center" color="primary" (click)="gobackto1()">RESEND</button>
            <button mat-button class="center" color="primary" (click)="verifycode({code2:cod.value})">Verify Code!</button>
  
  
    </mat-card>
  </div>
  <div *ngIf= "card4" [@slideInOut]>
      <mat-card>
            <mat-card-content> Welcome back! Provide a new password to login back to the website!</mat-card-content>
            <mat-placeholder>New Password </mat-placeholder> 
            <input matInput #pwnew name="new" type="password" [(ngModel)]="pws.newpw" required/>
            <mat-placeholder>Confirm Password </mat-placeholder> 
            <input matInput #pwconfirm name="confirm" type="password" [(ngModel)]="pws.confirmpw" required/>
            <button mat-button class="center" color="primary" (click)="ChangePassword({newpw: pwnew.value, confirmpw: pwconfirm.value})">RESET PASSWORD</button>
    
    
      </mat-card>
    </div>
</div>
</div>


