<<<<<<< HEAD
.content-card {
  max-width: 400px;
}

.content-tag {
  margin: 1%;
}

.creator-avatar {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

=======
.content-tag {
    margin: 0.5%;
}

.creator-avatar {
    background-size: cover;
}
>>>>>>> cab72541f277f1ee5298f2968b6dcac34b18f337
