<div class="row no-gutters">
  <div class="col-2 categories-sidebar">
    <mat-accordion>
      <mat-expansion-panel hideToggle (click)="changeCategoryAndSection('','')">
        <mat-expansion-panel-header>
          <mat-panel-title>All</mat-panel-title>
        </mat-expansion-panel-header>
      </mat-expansion-panel>
      <mat-expansion-panel *ngFor="let category of categories">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ category.name }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-action-row *ngFor="let section of category.sections">
          <button mat-button (click)="changeCategoryAndSection(category.name, section.name)">{{ section.name }}</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <mat-tab-group dynamicHeight [(selectedIndex)]="selectedTab" class="col-10">
    <mat-tab label="Browse Resources and Ideas">
      <div class="container-fluid search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()"
        [scrollWindow]="false">
        <div class="row">
          <!--biggest row-->
          <div class="col-10">
            <div class="row">
              <div class="col">
                <h2 align="center" *ngIf="selectedCategory !== ''"> Category: {{ selectedCategory }}</h2>
                <h3 align="center" *ngIf="selectedSection !== ''"> Section: {{ selectedSection }}</h3>
              </div>
            </div>
            <div class="row" ngClass.gt-lg="ml-5" ngClass.lg="ml-5" ngClass.md="ml-5" ngClass.xs="ml-1 mr-2">
              <mat-card *ngFor="let content of contents" class="m-2 col-lg-2 col-md-3 col-sm-5 col-xs-12">
                <mat-card-header *ngIf="content.creator">
                  <div mat-card-avatar [ngStyle]="{'background-image':'url(' + content.creatorAvatarLink + ')'}" class="creator-avatar"></div>
                  <mat-card-title>
                    <a [href]="content.creatorProfileLink">{{content.creator}}</a>
                  </mat-card-title>
                  <mat-card-subtitle class="small-title">Contributor</mat-card-subtitle>
                </mat-card-header>
                <a routerLink="/content-view/{{content._id}}">
                  <mat-card-content class="mt-2">
                    <img *ngIf="content.image" mat-card-image [src]="content.image" />
                    <p *ngIf="content.title" class="mat-typography">{{content.title}}</p>
                  </mat-card-content>
                </a>
                <mat-card-footer *ngIf="content.tags">
                  <mat-chip-list>
                    <mat-chip class="content-tag" *ngFor="let tag of content.tags" selected="true" color="primary">
                      {{tag}}
                    </mat-chip>
                  </mat-chip-list>
                </mat-card-footer>
              </mat-card>
            </div>
          </div>
          <div class="col-2 search-sidebar">
            <mat-form-field>
              <input matInput [(ngModel)]="searchQuery" type="text" placeholder="Search" />
            </mat-form-field>
            <button mat-fab color="primary" (click)="searchContent()">
              <mat-icon>search</mat-icon>
            </button>
            <h3>Sort By</h3>
            <mat-radio-group class="sort-radio-group" [(ngModel)]="sortResultsBy">
              <mat-radio-button class="sort-radio-button" *ngFor="let sortOption of sortOptions" [value]="sortOption">
                {{ sortOption }}
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <!-- biggest row ends-->
      </div>
    </mat-tab>
    <mat-tab *ngIf="currentUser" label="My Contributions">
      <div class="container-fluid search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollMyContributions()"
        [scrollWindow]="false">
        <div class="row">
          <div class="col">
            <h2 align="center" *ngIf="myContributionsSelectedCategory !== ''"> Category: {{ myContributionsSelectedCategory }}</h2>
            <h3 align="center" *ngIf="myContributionsSelectedSection !== ''"> Section: {{ myContributionsSelectedSection }}</h3>
          </div>
        </div>
        <div class="row" ngClass.lg="ml-5" ngClass.md="ml-5" ngClass.xs="ml-1 mr-2">
          <mat-card *ngFor="let content of myContributions" class="m-2 col-lg-2 col-md-3 col-sm-5 col-xs-12">
            <mat-card-header *ngIf="content.creator">
              <div mat-card-avatar [ngStyle]="{'background-image':'url(' + content.creatorAvatarLink + ')'}" class="creator-avatar"></div>
              <mat-card-title>
                <a [href]="content.creatorProfileLink">
                  {{content.creator}}
                </a>
              </mat-card-title>
              <mat-card-subtitle class="small-title">
                Contributor
              </mat-card-subtitle>
            </mat-card-header>
            <a routerLink="/content-view/{{content._id}}">
              <mat-card-content class="mt-2">
                <img mat-card-image *ngIf="content.image" [src]="content.image" />
                <p *ngIf="content.title" class="mat-typography">{{content.title}}</p>
              </mat-card-content>
            </a>
            <mat-card-footer *ngIf="content.tags">
              <mat-chip-list>
                <mat-chip class="content-tag" *ngFor="let tag of content.tags" selected="true" color="primary">
                  {{tag}}
                </mat-chip>
              </mat-chip-list>
            </mat-card-footer>
          </mat-card>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>