<mat-sidenav-container class="example-container">
  <mat-tab-group (selectedTabChange)="tabChanged($event)" dynamicHeight>
    <mat-tab label="Browse Resources and Ideas">
      <button mat-button class="float-right" (click)="sidenav.toggle()">Categories</button>

      <mat-sidenav #sidenav mode="side" opened="false" class="example-sidenav" fixedInViewport="false">
        <h3>Categories</h3>
        <button mat-button (click)="changeCategoryAndSection('NoCat','NoSec')">All</button>
        <mat-accordion>
          <mat-expansion-panel *ngFor="let category of categories">
            <mat-expansion-panel-header>
              <mat-panel-title>{{ category.name }}</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-action-row *ngFor="let section of category.sections">
              <button mat-button (click)="changeCategoryAndSection(category.name, section.name)">{{ section.name }}</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-sidenav>

      <div class="row" ngClass.gt-lg="ml-5" ngClass.lg="ml-5" ngClass.md="ml-5" ngClass.xs="ml-1 mr-2">
        <mat-card *ngFor="let content of contents" class="m-2 col-lg-2 col-md-3 col-sm-5 col-xs-12">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image':'url(' + content.creatorAvatarLink + ')'}" class="creator-avatar"></div>
            <mat-card-title>
              <a [href]="content.creatorProfileLink">{{content.creator}}</a>
            </mat-card-title>
            <mat-card-subtitle class="small-title">Contributor</mat-card-subtitle>
          </mat-card-header>
          <a routerLink="/content-view/{{content._id}}">
            <mat-card-content class="mt-2">
              <img mat-card-image [src]="content.image" />
              <p class="mat-typography">{{content.title}}</p>
            </mat-card-content>
          </a>
          <mat-card-footer>
            <mat-chip-list>
              <mat-chip class="content-tag" *ngFor="let tag of content.tags" selected="true" color="primary">
                {{tag}}
              </mat-chip>
            </mat-chip-list>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="paginator">
        <mat-paginator [length]="totalNumberOfEntries" [pageSize]="numberOfEntriesPerPage" (page)="onPaginateChange($event)">
        </mat-paginator>
      </div>
    </mat-tab>
    <mat-tab label="My Contributions">
      <div class="row" ngClass.lg="ml-5" ngClass.md="ml-5" ngClass.xs="ml-1 mr-2">
        <mat-card *ngFor="let content of myContributions" class="m-2 col-lg-2 col-md-3 col-sm-5 col-xs-12">
          <mat-card-header>
            <div mat-card-avatar [ngStyle]="{'background-image':'url(' + content.creatorAvatarLink + ')'}" class="creator-avatar"></div>
            <mat-card-title>
              <a [href]="content.creatorProfileLink">
                {{content.creator}}
              </a>
            </mat-card-title>
            <mat-card-subtitle class="small-title">
              Contributor
            </mat-card-subtitle>
          </mat-card-header>
          <a routerLink="/content-view/{{content._id}}">
            <mat-card-content class="mt-2">
              <img mat-card-image [src]="content.image" />
              <p class="mat-typography">{{content.title}}</p>
            </mat-card-content>
          </a>
          <mat-card-footer>
            <mat-chip-list>
              <mat-chip class="content-tag" *ngFor="let tag of content.tags" selected="true" color="primary">
                {{tag}}
              </mat-chip>
            </mat-chip-list>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="paginator">
        <mat-paginator [length]="myContributionsTotalNumberOfEntries" [pageSize]="numberOfEntriesPerPage" (page)="onPaginateChangeMyContributions($event)">
        </mat-paginator>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-sidenav-container>
