@import "../../../assets/css/blog.css";

.tags-holder {
  margin-bottom: 40px;
}

.section-button {
  width: 100%;
  border-color: white;
  cursor: pointer;
}

.current-category {
  margin-top: 40px;
}

.all-contents-item {
  cursor: pointer;
}

.content-tab {
  cursor: pointer;
}