.content-tag {
  margin: 0.5%;
}

.creator-avatar {
  background-size: cover;
}

.radio-button {
  margin: 2%;
}

.search-results {
  height: 87vh;
  overflow: scroll;
  overflow-x: hidden;
}

.sort-radio-group {
  display: inline-flex;
  flex-direction: column;
  margin: 1%;
}

.sort-radio-button {
  margin: 3%;
}

.search-sidebar {
  padding: 1%;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

.categories-sidebar {
  padding: 1%;
  background-color: #cae8ca;
  border: 2px solid #4CAF50;
}

.link-to-profile {
  cursor: pointer;
}