<html>
    <head>
        <title>Connect to Other Parents !</title>
    </head>
    <body ng-app="instantsearch">
        <div ng-controller="instantSearchCtrl">
            <div class="bar">
              <select #drop onselect="getParentsBytag(drop.value);add($event)" name="tag" ng-model="filter" >

                <option value="username">Username</option>
                <option value="educationLevels">Education Levels</option>
                <option value="educationSystems">Education Systems</option>

              </select>

              <mat-form-field class="demo-chip-list">
  <mat-chip-list #chipList>
    <mat-chip  *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable" (remove)="remove(tag)" selected="true" color="primary">
                    {{tag}}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input #box (keyup.enter)="getParents(box.value)" (blur)="saveInfo(box.value);" name="search" type="text" class="search-control" ng-model="username" placeholder="Search" />
  </mat-chip-list>
</mat-form-field>
            </div>
            <ul class="search-control">
              <!-- <mat-card *ngFor="let parent of parents" class="parent-card">
                <mat-card-header>
                  <mat-card-title>
                    <a [href]="content.creatorProfileLink" onclick="goToProfile(parent.username)">
                      {{parent.username}} 
                    </a>
                  </mat-card-title>
                </mat-card-header>
              </mat-card> -->
              <mat-card *ngFor="let parent of parents" class="parent-card">
                <mat-card-content class="parent">
                  <mat-card-title >{{parent.username}}</mat-card-title>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button class="mca" style="color:white" (click)="this.goToProfile(parent.username)">Go To Profile</button>
                </mat-card-actions>
      </mat-card>

            </ul>

         </div>
    </body>
    <script src="js/site.js"></script>
    <mat-paginator 
  [length]="totPages" 
  [pageSize]="numberPerPage" 
  [pageIndex]="currPage" 
  (page)="pageEvent = getPage($event)">
</mat-paginator>
</html>
