<section [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="content">
    <div class="block-header">
        <ul [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" [dir]="translate.currentLang === 'ara'? 'rtl': 'ltr'"
            class="breadcrumb float-right">
            <li class="breadcrumb-item">
                <a routerLink="/dashboard">
                    <i class="zmdi zmdi-home"></i> {{ 'APP.NAWWAR' | translate }}</a>
            </li>
            <li class="breadcrumb-item">
                <i class="zmdi zmdi-graduation-cap"></i>
                {{ 'SCHEDULING.PUBLISHEDLIST.STUDY_PLANS' | translate }}
            </li>
        </ul>
        <div [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="row">
            <div class="col-auto">
                <h2>
                    {{ 'SCHEDULING.PUBLISHEDLIST.STUDY_PLANS' | translate }}
                </h2>
            </div>
        </div>
    </div>
    <div [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="container-fluid">
        <div class="card">
            <div class="header">
                <h2>
                    <strong [style.text-align]="translate.currentLang === 'ara'? 'right': 'left'">
                        <div> {{ 'SCHEDULING.PUBLISHEDLIST.STUDY_PLANS' | translate }}</div>
                    </strong>
                </h2>
                <ul [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" [class]="translate.currentLang === 'ara'?  'pagination pagination-custom float-left' : 'pagination pagination-custom float-right'">
                    <li [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="page-item">
                        <a class="page-link" aria-label="Previous" [ngClass]="{'btn-is-disabled': pageIndex - 1 <= 0}" (click)="getStudyPlans(pageIndex - 1)">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-chevron-left" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>

                    <li [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="page-item" [ngClass]="{'active': pageNumberForPagination === pageIndex}"
                        *ngFor="let pageNumberForPagination of getPaginationRange()">
                        <button class="page-link" (click)="getStudyPlans(pageNumberForPagination)">{{ pageNumberForPagination }}</button>
                    </li>

                    <li [style.transform]="translate.currentLang === 'ara'? 'scaleX(-1)': null" class="page-item">
                        <a class="page-link" aria-label="Next" [ngClass]="{'btn-is-disabled': pageIndex + 1 > noPages}" (click)="getStudyPlans(pageIndex + 1)">
                            <span aria-hidden="true">
                                <i class="zmdi zmdi-chevron-right" aria-hidden="true"></i>
                            </span>
                        </a>
                    </li>
                </ul>
                <br />
            </div>
            <div class="body">
                <div class="row">
                    <div class="card col-3" *ngFor="let studyPlan of studyPlans; let index = index">
                        <div class="header">
                            <h2>
                                <span class="badge badge-mine float-right" *ngIf="studyPlan.creator === this.currUsername">{{ 'SCHEDULING.PUBLISHEDLIST.MINE' | translate }}</span>
                                <strong>{{studyPlan.title}}</strong>
                                <br/> {{studyPlan.creator}}
                            </h2>
                        </div>
                        <div class="body">
                            <a class="btn btn-primary" routerLink="/scheduling/study-plan/{{type}}/{{studyPlan._id}}">{{ 'SCHEDULING.PUBLISHEDLIST.VIEW' | translate }}</a>
                            <button class="btn btn-primary" data-toggle="modal" data-target="#deleteModal" (click)="deleteIndex = index" color="primary"
                                *ngIf="(studyPlan.creator === this.currUsername && !currIsChild) || currIsAdmin">{{ 'SCHEDULING.PUBLISHEDLIST.DELETE' | translate }}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Study Plan Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div [style.text-align]="translate.currentLang === 'ara'? 'right': 'left'" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">{{ 'SCHEDULING.PUBLISHEDLIST.DELETE_EVENT' | translate }}</h4>
            </div>
            <div class="modal-body">
                {{ 'SCHEDULING.PUBLISHEDLIST.DELETE_CONFIRMATION' | translate }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-round waves-effect" data-dismiss="modal" (click)="delete(deleteIndex)">{{ 'SCHEDULING.PUBLISHEDLIST.DELETE' | translate }}</button>
                <button type="button" class="btn btn-simple btn-round waves-effect" data-dismiss="modal">{{ 'SCHEDULING.PUBLISHEDLIST.CANCEL' | translate }}</button>
            </div>
        </div>
    </div>
</div>