<section class="content">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <ul class="breadcrumb p-l-0 p-b-0 ">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">
              <i class="zmdi zmdi-home"></i>sQuare</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="{{ type === 'personal' ? '/profile/' + profileUsername : '/published-study-plans' }}">
              <i class="{{ type === 'personal' ? 'zmdi zmdi-account-circle' : 'zmdi zmdi-graduation-cap' }}">
              </i>{{ type === 'personal' ? ' ' + profileUsername : ' Study Plans' }}</a>
          </li>
          <li class="breadcrumb-item active">{{ title }}</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="header">
        <form id="titleForm" method="POST">
          <div class="form-group">
            <div class="form-line">
              <input type="text" class="form-control col-md-3" name="title" [(ngModel)]="title" placeholder="Title" required>
            </div>
          </div>
        </form>
      </div>
      <app-calendar [(events)]="events" [onCreate]="addEvent"></app-calendar>
      <hr>
      <div class="header">
        <h2>
          <strong>Edit events</strong>
          <!-- <button class="btn btn-primary" style="float: right;" (click)="addEvent()">
            Add new
          </button> -->
        </h2>
      </div>
      <div class="body">
        <table class="table table-bordered">

          <thead>
            <tr>
              <th>Title</th>
              <th>Primary color</th>
              <th>Secondary color</th>
              <th>Starts at</th>
              <th>Ends at</th>
              <!-- <th>Remove</th> -->
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let event of events; let index = index">
              <td>
                <input type="text" class="form-control" [(ngModel)]="event.title" (keyup)="refresh.next()">
              </td>
              <td>
                <input type="color" [(ngModel)]="event.color.primary" (change)="refresh.next()">
              </td>
              <td>
                <input type="color" [(ngModel)]="event.color.secondary" (change)="refresh.next()">
              </td>
              <td>
                <app-date-time-picker [(ngModel)]="event.start" [time]="event.start | date:'HH:mm'" (ngModelChange)="refresh.next()" placeholder="Choose a date">
                </app-date-time-picker>
              </td>
              <td>
                <app-date-time-picker [(ngModel)]="event.end" [time]="event.end | date:'HH:mm'" (ngModelChange)="refresh.next()" placeholder="Choose a date">
                </app-date-time-picker>
              </td>
              <!-- <td>
                <button mat-raised-button color="warn" (click)="events.splice(index, 1); refresh.next()">
                  Delete
                </button>
              </td> -->
            </tr>
          </tbody>

        </table>
      </div>
      <hr>
      <div class="header">
        <h2>
          <strong>Description Editor</strong>
        </h2>
      </div>
      <div class="body">
        <quill-editor class="text-editor" [options]="editorOptions" [(ngModel)]="editorContent" name="editorContent" (change)="onContentChanged($event)"></quill-editor>
      </div>
      <hr>
      <div class="header">
        <h2>
          <strong>Description Preview</strong>
        </h2>
      </div>
      <div class="body">
        <div class="ql-editor preview" [innerHTML]="editorOut"></div>
      </div>
      <hr>
      <div class="body" *ngIf="type === 'create'">
        <button class="btn btn-primary col align-self-center" (click)="create()">
          Create
        </button>
      </div>
      <div class="body" *ngIf="type === 'edit'">
        <button class="btn btn-primary col align-self-center" (click)="saveChanges()">
          Save Changes
        </button>
      </div>
    </div>
  </div>
</section>