<!-- <div class="background container">
  <mat-radio-group class="row justify-content-center background">
    <mat-radio-button value="resource" (click)="setFilterToResource()" class="col-4"> Resource Requests </mat-radio-button>
    <mat-radio-button value="idea" (click)="setFilterToIdea()" class="col-4"> Idea Requests </mat-radio-button>
  </mat-radio-group> -->

<!-- <div class="row justify-content-center mt-5">
    <mat-card class="m-2 col-lg-3 col-md-6 col-sm-12 col-xs-12" *ngFor="let req of reqs">
      
        <div class="text-center">
        <span style="font-weight: bold ; font-size: 25px" >{{req.contentTitle}} </span>
        </div>
      <mat-card-content style="margin-left: 5%">

        <div class="row">
          <mat-icon style="color: #FDC334; font-size: 20px" >account_circle</mat-icon>
          <span style =" font-size:17px; " >{{req.creator}} </span> 
        </div>
        
        <div class="row">
          <mat-icon style="color: #FDC334; font-size: 20px" >today</mat-icon>
          <span style="font-size: 15px" > {{req.createdOn}} </span> 
        </div>
        
      </mat-card-content>
      <mat-card-actions class="row" align="end" >
        <button mat-icon-button class="col-auto" (click)="approveContentRequest(req._id,req.contentID,req.creator)" style = "color: #99D5C9"
        matTooltip="Accept" >
        <mat-icon>check_circle</mat-icon> 
        </button>

        <button mat-icon-button class="col-auto"  (click)="disapproveContentRequest(req._id, req.contentID)" style = "color: #DA572B" 
        matTooltip = "Reject">
        <mat-icon>cancel</mat-icon>
        </button>
        
        <button mat-icon-button class="col-auto" (click)="viewCont(req.contentID)" style = "color: #99D5C9"
        matTooltip="View {{req.contentType}}"  >
        <mat-icon>info</mat-icon>
        </button>

      </mat-card-actions>
    </mat-card>
  </div>
  <div class="background container" style = "margin-top: 0.7%">

  <div class="col-lg-12 col-md-12 col-sm-12">

    <div class="row">

      <div class="col-lg-4 col-md-3 col-sm-1" align="right">
        <div class="row justify-content-center background">
          <div class="checkbox">
            <input id="CBRes" type="checkbox" (click)="setFilterToResource()">
            <label for="CBRes">
              Resource
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-md-1 col-sm-1 " align="left">
        <div class="checkbox">
          <input id="CBIdea" type="checkbox" (click)="setFilterToResource()">
          <label for="CBIdea">
            Idea
          </label>
        </div>
      </div>

    </div>

    <div class="row" style = "margin-top: 0.4%">
      <div class="col-lg-3 col-md-1 col-sm-1" align="right">
        <div class="checkbox">
          <input id="CBEdit" type="checkbox">
          <label for="CBEdit">
            Edit
          </label>
        </div>
      </div>
      <div class="col-lg- col-md-1 col-sm-1" align="left">
        <div class="checkbox">
          <input id="CBCreate" type="checkbox">
          <label for="CBCreate">
            Create
          </label>
        </div>
      </div>
    </div>

  </div>

</div> -->

<div class="background container" style="margin-top: 0.7%">
  <div class="col-lg-12 col-md-12">

    <div class="col-lg-2 col-md-6 col-lg-12 right-box " align="right ">

      <div class="row">

        <div class="checkbox ">
          <div id="CBRes " type="checkbox " (click)=" refreshCBs() ">
            <label for="CBRes ">
              Resource
            </label>
          </div>
        </div>

        <div class="checkbox ">
          <div id="CBIdea " type="checkbox " (click)="refreshCBs() ">
            <label for="CBIdea ">
              Idea
            </label>
          </div>
        </div>
      </div>


      <div class="row " style="margin-top: 0.4% ">

        <div class="checkbox ">
          <div id="CBCreate " type="checkbox " (click)="refreshCBs() ">
            <label for="CBCreate ">
              Create
            </label>
          </div>
        </div>

        <div class="checkbox ">
          <div id="CBEdit " type="checkbox " (click)="refreshCBs() ">
            <label for="CBEdit ">
              Edit
            </label>
          </div>

        </div>
      </div>
    </div>



    <div class="col-lg-10 col-md-12 col-sm-12 ">
      <form viewRequestsForm="ngForm ">
        <div class="row clearfix ">
          <div class="col-lg-4 col-md-8 col-sm-12 " *ngFor="let req of reqs ">
            <div class="card request-card " style="max-height:100% ">
              <div class="header">
                <h2>
                  <strong>{{req.creator}}</strong>
                </h2>
              </div>
              <div class="body ">
                <div class="header ">
                  <h4>
                    <strong>{{req.contentTitle}}</strong>
                  </h4>
                </div>
              </div>
              <div class="card-footer bg-transparent border-0 ">
                <a href="javascript:void(0); ">
                  <div class="hover ">
                    <button type="button " class="btn btn-icon btn-icon-mini btn-round btn-primary " (click)="approveContentRequest(req._id,req.contentID,req.creator) ">
                      <i class="zmdi zmdi-check "></i>
                    </button>
                    <button type="button" class="btn btn-icon btn-icon-mini btn-round btn-danger " (click)="disapproveContentRequest(req._id,req.contentID, req.requestType, req.creator) ">
                      <i class="zmdi zmdi-close "></i>
                    </button>
                    <button type="button " class="btn btn-icon btn-icon-mini btn-round btn-primary " (click)="viewCont(req.contentID) ">
                      <i class="zmdi zmdi-view-module "></i>
                    </button>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>